<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3 class="text-themecolor"> {{headerTxt}} </h3>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-sm" type="button" (click)="onActionButtonClick('Back')">
                    <span class="fa fa-arrow-left"></span> Back to list
                </button>
                <!-- <button class="btn" type="button" (click)="onActionButtonClick('Edit')" *ngIf="viewMode === 'view'">
                    <span class="fa fa-edit"></span> Edit
                </button>
                <button class="btn" type="button" (click)="onActionButtonClick('Delete')" *ngIf="viewMode === 'view'">
                    <span class="fa fa-remove"></span> Delete
                </button> -->
            </div>
        </div>
        <form #userForm="ngForm" [formGroup]="registrationForm" (ngSubmit)="onClickSave()" class="form-material" name='userForm'>
            <div class="m-t-20 p-3">
                <div class="row">
                    <div class="col-12">
                        <span class="font-weight-bold">Name
                            <span class="text-danger">*</span>
                        </span>
                        <input type="text" formControlName="name" name="name" maxlength="80" class="form-control">
                        <small *ngIf="formErrors.name" class="help-block text-danger">{{ formErrors.name }}</small>
                    </div>
                </div>

                <div class="row m-t-20">
                    <div class="col-12">
                        <input type="checkbox" formControlName="default" class="filled-in chk-col-light-blue" id="default">
                        <label for="default">
                            <span class="font-weight-bold">Default</span>
                        </label>
                    </div>
                </div>

                <!-- <div class="row m-t-10">
                    <div class="col-6">
                        <span class="font-weight-bold">Owner
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="owner" type="text" class="form-control">
                        <small *ngIf="formErrors.owner" class="help-block text-danger">{{ formErrors.owner }}</small>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">Currency Iso Code
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="currencyIsoCode" type="text" class="form-control">
                        <small *ngIf="formErrors.currencyIsoCode" class="help-block text-danger">{{ formErrors.currencyIsoCode }}</small>
                    </div>
                </div> -->

                <!-- <div class="row m-t-10">
                    <div class="col-6">
                        <span class="font-weight-bold">community
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="community" type="text" class="form-control">
                        <small *ngIf="formErrors.community" class="help-block text-danger">{{ formErrors.community }}</small>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">Department Access
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="departmentAccess" type="text" class="form-control">
                        <small *ngIf="formErrors.departmentAccess" class="help-block text-danger">{{ formErrors.departmentAccess }}</small>
                    </div>
                </div> -->

                <!-- <div class="row m-t-10">
                    <div class="col-6">
                        <span class="font-weight-bold">Department Acronym
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="departmentAcronym" type="text" class="form-control">
                        <small *ngIf="formErrors.departmentAcronym" class="help-block text-danger">{{ formErrors.departmentAcronym }}</small>
                    </div>
                    <div class="col-6">
                        <span class="font-weight-bold">Department Name
                            <span class="text-danger">*</span>
                        </span>
                        <input formControlName="departmentName" type="text" class="form-control">
                        <small *ngIf="formErrors.departmentName" class="help-block text-danger">{{ formErrors.departmentName }}</small>
                    </div>
                </div> -->

                <!-- <div class="row m-t-20">
                    <div class="col-6">
                        <span class="font-weight-bold">Record Type
                            <span class="text-danger">*</span>
                        </span>
                        <input type="text" formControlName="recordType" name="recordType" class="form-control">
                        <small *ngIf="formErrors.recordType" class="help-block text-danger">{{ formErrors.recordType }}</small>
                    </div>
                </div> -->

                <div class="row" *ngIf="viewMode !== 'view'">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary mRight" [disabled]="!registrationForm.valid" type="submit">Save</button>
                        <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>