
@media (min-width: 1024px){
    .page-wrapper{
      margin-left: 0;
  }
}


.table-wrapper-top-Account, .table-wrapper-bottom-Account {
  overflow-x: auto;
}

.scroll-top-Account {
  height: 1px;
}
.containerWidth{
  width: 98%;
}