<ngb-accordion #acc="ngbAccordion" activeIds="search-filter, price-list" [destroyOnHide]="false">

    <!--Filter Content start here-->
    <ngb-panel id="search-filter" title="Search Filter">
        <ng-template ngbPanelContent>
            <div class="col-md-12 search-filter">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row ">
                            <label class="form-group col-md-4 font-weight-bold">Service Engineer Talent Type</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.talentType">
                                    <option Value="" selected="true">--All--</option>
                                    <option *ngFor="let c of searchFilter.talentTypes" [ngValue]="c.sfdcId">{{c.Talent_Type_Name__c}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="Partner" class="form-group col-md-4 font-weight-bold">Service Engineer (Technical level) </label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.serviceEngTechLevel">
                                    <option Value="" selected="true">--All--</option>
                                    <option Value="L1">L1</option>
                                    <option Value="L2">L2</option>
                                    <option Value="NA">Not Applicable</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Dispatch SLA Priority</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.sla">
                                    <option Value="" selected="true">--All--</option>
                                    <option Value="SBD4H">P1 (SBD4H)</option>
                                    <option Value="SBD6H">P2 (SBD6H)</option>
                                    <option Value="NBD">P3 (NBD)</option>
                                    <option Value="2BD">P4 (2BD)</option>
                                    <option Value="3BD">P5 (3BD)</option>
                                    <option Value="5BD">P6 (5BD)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Coverage Hours</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.coverageHour">
                                    <option Value="" selected="true">--All--</option>
                                    <option Value="9H5D">9H5D</option>
                                    <option Value="AFTH">AFTH</option>
                                    <option Value="WKND">WKND</option>
                                    <option Value="HLDY">HLDY</option>
                                    <option Value="24x7-DAY">24x7-DAY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="form-group col-md-4 font-weight-bold">Country</label>
                            <div class="col-md-6">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.countryid">
                                    <option Value="" selected="true">--All--</option>
                                    <option *ngFor="let c of searchFilter.countryddl" [ngValue]="c.Name">{{c.Country__c}} ({{c.Name}})</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Service provider</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.serviceProvider">
                                    <option Value="" selected="true">--All--</option>
                                    <option *ngFor="let sp of searchFilter.serviceProviders" [ngValue]="sp.sfdcId">{{sp.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-primary btn-sm mRight" (click)="filterServiceProviders()"> Search</button>
                        <button type="button" (click)="resetSearchFilter()" class="btn btn-primary btn-sm"> Reset </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <!--End here-->

    <!--Table content start here-->
    <ngb-panel id="price-list" title="Price List">
        <ng-template ngbPanelContent>
            <!--Service Provider (Vendor) Pricelist Confirmation Content Start here-->
            <div class="col-md-12 price-list">
                <div>
                    <h4>Service Provider (Vendor) Pricelist Confirmation: {{serviceProviderStatus}}</h4>
                </div>
                <div>
                    <h4>The Pricelist is missing for the following Service Providers:</h4>
                </div>
                <div class="table-responsive scroll-vertical-cost  metrovendor m-t-5">
                    <table class="table color-table info-table table-hover">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>Country</th>
                                <th>Service Provider</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sp of noPriceListVendors">
                                <td>{{sp.GeoMetro?.Region__c}}</td>
                                <td>{{sp.GeoMetro?.City__c}}</td>
                                <td class="text-danger">
                                    {{sp.account?.Name}} {{sp.account?.ShippingStreet}} {{sp.account?.ShippingCity}} {{sp.account?.ShippingState}} {{sp.account?.ShippingCountry}}
                                </td>
                            </tr>
                            <tr *ngIf="noPriceListVendors.length==0" class="alert alert-warning m-t-5">
                                <td colspan="3">No record found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--End here-->

            <!--Price List ngxTable, Edit columns and CSV Export content Start here-->
            <div class="col-md-12 price-list">
                <div class="text-right border-t p-t-10">
                    <button type="button" class="btn btn-sm mRight editColumn" i18n>
                        <i class="fa fa-th"></i> Edit Columns
                    </button>
                    <div class="dd-column-selector">
                        <li *ngFor='let col of allColumns' class="p-l-5">
                            <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
                            <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
                        </li>
                    </div>
                    <button class="btn btn-sm" *ngIf="!errorMessage" (click)="exportCSV()">
                        <i class="fa fa-download"></i> CSV</button>
                </div>
                <div class="table-responsive metrovendor border-t m-t-10">
                    <ngx-datatable #myTable class="material striped fixed-header fullscreen doubleScroll" [rows]="tableData" [columns]='columns'
                        [loadingIndicator]="loadingIndicator" [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="60" [footerHeight]="50"
                        [rowHeight]="'auto'" [reorderable]="true" [sortType]="'multi'" [messages]="{emptyMessage: 'No data to display'}"
                        ngx-resize-watcher>

                        <div *ngFor="let col of columns">
                            <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width">
                            </ngx-datatable-column>
                        </div>
                        <ngx-datatable-footer>
                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                let-curPage="curPage" let-offset="offset">
                                <div style="padding: 5px 10px">
                                    <div>
                                        Total: {{errorMessage ? '0': rowCount}}
                                    </div>
                                </div>
                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                                </datatable-pager>
                                <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                                    <div>
                                        <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>


                </div>
            </div>
            <!--End Here-->
        </ng-template>
    </ngb-panel>
    <!--End here-->
</ngb-accordion>