<div class="border-t">
    <div class="m-t-5">
        <ngb-tabset type="pills" justify="justified" activeId="pmsCase">
            <ngb-tab title="Dispatch Audit" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <p>Order Dispatch Audit</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="List" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <app-pms-case-details page="pmsCase"></app-pms-case-details>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="PMS Case" id="pmsCase">
                <ng-template ngbTabContent>
                    <app-pms-case-details page="pmsCase"></app-pms-case-details>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Work Order">
                <ng-template ngbTabContent>
                    <app-work-order-details page="workOrder"></app-work-order-details>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="PMC Case" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <app-pms-case-details page="pmsCase"></app-pms-case-details>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="3PS/ICC Case" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <p>&nbsp;</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="3PL/ICC Case" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <p>&nbsp;</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Job" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <app-job-order-details page="pmsCase"></app-job-order-details>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="All" *ngIf="isInternalUser">
                <ng-template ngbTabContent>
                    <p>&nbsp;</p>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>