<div>
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Order No / Case No</th>
                <th>Order Status / Case Status</th>
                <th>Jobsite</th>
                <th>Posted</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of orders, let i = index">
                <td>
                    <input [checked]='item.id == selectedOrderId' type="radio" name="orderSelect" [id]="'rdoAcc' + i" [value]="item.sfdcId"
                        (change)="selectOrder(item)">
                    <label [for]="'rdoAcc' + i"></label>
                </td>
                <td>{{item?.workOrder?.Name}} / {{item.CaseNumber}}</td>
                <td>{{item?.workOrder?.Status__c}} / {{item.Status}}</td>
                <td>{{item?.Jobsite?.Name}}</td>
                <td>{{item.createdAt | date:'shortDate'}}</td>
                <td>{{item.updatedAt | date:'shortDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>