<ngb-accordion #accright="ngbAccordion" activeIds="caseInfo, programData, jobsiteData,jobLocationMap, instruction, priceDetail, routingSummary"
    [destroyOnHide]="false">
    <ngb-panel id="caseInfo" title="(1) Case Information">
        <ng-template ngbPanelContent>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>PMS Case Number</strong>
                </li>
                <li class="list-inline-item"></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>
                        Case Reference
                        <br />(Partner Case Number)
                    </strong>
                </li>
                <li class="list-inline-item">{{formData?.caseInfo?.Partner_Case_Number__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Work Order Number</strong>
                </li>
                <li class="list-inline-item"></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Contact (Name) - End User or Ship To</strong>
                </li>
                <li class="list-inline-item">{{formData?.caseInfo?.Ship_to_Contact_Name__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Contact (Email) - End User or Ship To</strong>
                </li>
                <li class="list-inline-item">{{formData?.caseInfo?.Ship_To_Contact_Email_Address__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Contact (Phone) - End User or Ship To</strong>
                </li>
                <li class="list-inline-item">{{formData?.caseInfo?.Ship_to_Contact_Phone_Number__c}}</li>
            </ul>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="programData" title="(2) Program Information">
        <ng-template ngbPanelContent>
            <quote-progress></quote-progress>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="jobsiteData" title="(3) Jobsite Information">
        <ng-template ngbPanelContent>
            <p *ngIf="jobsiteData.Name" class="text-center">
                <a href="javascript:void(0)" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">Manage Jobsite&nbsp;&nbsp;
                    <i class="fa fa-pencil"></i>
                </a>
            </p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Name</strong>
                </li>
                <li class="list-inline-item">
                    <a href="javascript:void(0)" *ngIf="jobsiteData.Name" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">{{jobsiteData.Name}}</a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Id</strong>
                </li>
                <li class="list-inline-item">
                    <a href="javascript:void(0)" *ngIf="jobsiteData.Name" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">{{jobsiteData.Jobsite_ID__c}}</a>
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Request Status</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData.Jobsite_Status__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Approval Status</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData.Jobsite_Approval_Status__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Street</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData.Street__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite City</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData.City__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite State</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData.State__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Jobsite Country</strong>
                </li>
                <li class="list-inline-item">{{jobsiteData?.GeoMetro?.Country__c}}</li>
            </ul>
            <ngb-accordion #acc="ngbAccordion" activeIds="jobsiteMap" [destroyOnHide]="false">
                <ngb-panel id="jobsiteMap">
                    <ng-template ngbPanelTitle>
                        <div class="row" style="margin-top: -25px; margin-left: 10px;">
                            <div class="col-md-6">Jobsite Location Map</div>
                            <div class="col-md-6 text-right" (click)="openDetailPage(JobsiteLocationMapDetail,'full');$event.stopPropagation();$event.preventDefault();">Expanded View</div>
                        </div>
                    </ng-template>

                    <ng-template ngbPanelContent>
                        <jobsite-location-map></jobsite-location-map>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <ngb-accordion #accjobInfo="ngbAccordion" activeIds="serviceProfile" [destroyOnHide]="false">
                <ngb-panel id="serviceProfile" [title]="profileType">
                    <ng-template ngbPanelContent>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong>Service Type</strong>
                            </li>
                            <li class="list-inline-item">{{formData?.profileInfo?.serviceType}}</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong>Service Engineer (Talent Type)</strong>
                            </li>
                            <li class="list-inline-item">{{formData?.profileInfo?.talentType}}</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong>Service Engineer (Expertise Level)</strong>
                            </li>
                            <li class="list-inline-item">{{formData?.profileInfo?.technicalLevel}}</li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong>Service Dispatch SLA Priority</strong>
                            </li>
                            <li class="list-inline-item">{{formData?.profileInfo?.sla}}</li>
                        </ul>
                        <div class="col-md-12">
                            <div>
                                <strong class="center-block">Service Coverage Hours Type</strong>
                            </div>
                            <div *ngIf="!isCoveragePlans">
                                <strong class="center-block">Standard Coverage Plans</strong>
                                <div class="m-t-5">
                                    <input id="ch10" name="CoverageHours" class="with-gap" type="radio" value="9H5D" disabled [(ngModel)]="coverageHours">
                                    <label for="ch10">Standard Business Hours Coverage Plan: Monday-Friday, 9 am to 5pm (9H5D)</label>
                                </div>
                            </div>
                            <div *ngIf="isCoveragePlans">
                                <strong class="center-block">Extended Coverage Plans (Afterhours, Weekends &amp; Holidays)</strong>
                                <div class="m-t-5" *ngIf="this.coverageHours ==='24x7-DAY'">
                                    <input id="ch20" name="CoverageHours" class="with-gap" type="radio" value="24x7-DAY" disabled [(ngModel)]="coverageHours">
                                    <label for="ch20">Extended Coverage Plan - Standard Business Hours Coverage Plan (24x7-9H5D): Monday-Friday,
                                        9 am to 5pm</label>
                                </div>
                                <div class="m-t-5" *ngIf="this.coverageHours ==='24x7-AFTH'">
                                    <input id="ch30" name="CoverageHours" class="with-gap" type="radio" value="24x7-AFTH" disabled [(ngModel)]="coverageHours">
                                    <label for="ch30">Extended Coverage Plan - After Hours Coverage (24x7-AFTH): Monday-Friday, 5pm to 9am</label>
                                </div>
                                <div class="m-t-5" *ngIf="this.coverageHours ==='24x7-WKND'">
                                    <input id="ch40" name="CoverageHours" class="with-gap" type="radio" value="24x7-WKND" disabled [(ngModel)]="coverageHours">
                                    <label for="ch40">Extended Coverage Plan - Weekend Hours Coverage (24x7-WKND)</label>

                                </div>
                                <div class="m-t-5" *ngIf="this.coverageHours ==='24x7-HLDY'">
                                    <input id="ch50" name="CoverageHours" class="with-gap" type="radio" value="24x7-HLDY" disabled [(ngModel)]="coverageHours">
                                    <label for="ch50">Extended Coverage Plan - Holiday Hours Coverage (24x7-HLDY)</label>
                                </div>
                            </div>
                            <br>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <strong>Maintenance Event Duration (PPM* Hours)</strong>
                            </li>
                            <li class="list-inline-item">{{formData?.profileInfo?.ppm}}</li>
                        </ul>

                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="instruction" title="(4) Global Program Instructions">
        <ng-template ngbPanelContent>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Global Program Instructions Setup (All Jobsites)- Service Deliverable List</strong>
                </li>
                <li class="list-inline-item">{{formData?.program?.SOW_Description_Customer_Long__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Global Program Instructions Setup (All Jobsites) - Training Documents</strong>
                </li>
                <li class="list-inline-item">{{formData?.program?.Description__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Global Program Instructions Setup (All Jobsites) - Required Tools</strong>
                </li>
                <li class="list-inline-item">{{formData?.program?.Required_Tools__c}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Global Program Instruction Setup (Local Jobsites)</strong>
                </li>
                <li class="list-inline-item">{{formData?.program?.Special_Service_Instructions__c}}</li>
            </ul>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="priceDetail" title="(5) Pricing: Service Catalog Item Selection">
        <ng-template ngbPanelContent>
            <ngb-accordion #accPricing="ngbAccordion" activeIds="incident" [destroyOnHide]="false">
                <ngb-panel id="incident" [title]="incidentType">
                    <ng-template ngbPanelContent>
                        <app-pricing-incident [data]="defaultData"></app-pricing-incident>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="routingSummary" title="(6) IRON (Internal): Program Vendor Routing Summary">
        <ng-template ngbPanelContent>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Vendor Auto Routing</strong>
                </li>
                <li class="list-inline-item">{{vendorRoutingText}}</li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Description (PMC Comment)</strong>
                </li>
                <li *ngIf="vendorRoutingText === 'Fail'" class="list-inline-item">
                    Talent/Level/Priority “Did not Match” between standard profile and requested profile, please select vendor manually. (Default:
                    TLP; Request: TLP), Custom Incident. FYI, Default Routing vendor: {{formData?.caseDetail?.productDetail?.vendorDetail?.Name}}
                    Default: TLP Means, Populate the Standard Talent Type, Service Level and Priority values. Request: TLP
                    Means, Populate the Requested Talent Type, Service Level and Priority values. Default Routing vendor:
                    {{formData?.caseDetail?.productDetail?.vendorDetail?.Name}}
                </li>
                <li *ngIf="vendorRoutingText === 'Pass'" class="list-inline-item">
                    Talent/Level/Priority “Matched” between standard profile and requested profile, vendor routing auto selected. (Default: TLP;
                    Request: TLP), Standard Incident Default: TLP Means, Populate the Standard Talent Type, Service Level
                    and Priority values. Request: TLP Means, Populate the Requested Talent Type, Service Level and Priority
                    values.
                </li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <strong>Vendor Name</strong>
                </li>
                <li class="list-inline-item">{{formData?.caseDetail?.productDetail?.vendorDetail?.Name}}</li>
            </ul>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<ng-template #jobsitedetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Manage Jobsite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <jobsite-detail [jobsite]="contentData"></jobsite-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>


<!-- JobsiteLocationMap details -->
<ng-template #JobsiteLocationMapDetail let-c="close" let-d="dismiss" class="modal-full">
    <div class="modal-header">
        <h4 class="modal-title">Jobsite Location Map</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 height-700">
                <jobsite-location-map [modal]='false' [zoom]="2"></jobsite-location-map>
            </div>
            <div class="col-md-6" style="height: 650px;">
                <ngb-accordion #acc="ngbAccordion" activeIds="createprogrampanel1,existpanel1" [destroyOnHide]="false">
                    <ngb-panel id="existpanel1">
                        <ng-template ngbPanelTitle>
                            <div class="row" style="margin-top: -25px; margin-left: 10px;">
                                <div class="col-md-6">All Jobsites</div>
                                <div class="col-md-6 text-right">Total Number of Jobsites : {{jobsiteCount}}</div>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <jobsite-list-modal (jobsiteCount)="updateJobsiteCount($event)"></jobsite-list-modal>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>