<div class="row">
    <div class="col-12 p-r-30">
        <div class="card">
            <ngb-tabset type="tabs" justify="fill" #t="ngbTabset" class="customtab">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>Personal Details</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-user-details></app-user-details>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>Change Password</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-user-changepassword></app-user-changepassword>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!-- <ngb-tab id="showNotification">
                    <ng-template ngbTabTitle>
                        <div>Notifications</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-user-notifications></app-user-notifications>
                        </div>
                    </ng-template>
                </ngb-tab>-->
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>Skill Set</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-user-skills></app-user-skills>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>Preferences</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-user-preferences></app-user-preferences>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>