<div class="wizard wizard-circle clearfix" *ngIf="reloadData">
    <div class="steps clearfix">
        <ul class="bootstrapWizard form-wizard" *ngIf="wfStages">
            <li *ngFor="let stage of wfStages ; let step = index; let last = last" class="{{stage.class}}">
                <a href="#">
                    <span class="step">{{(step+1)}}</span>
                    <span i18n class="title">{{stage.title}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row p-3">
    <div class="col-sm-12 col-md-12 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0" *ngIf="job">
            <span *ngIf="job.RecordTypeId == '0121a000000F1eoAAC'">
                <img src="./../../../../../assets/img/icons/delivery-box-1.png">&nbsp;
            </span>
            <!-- when job record type is FSE DIspatch -->
            <span *ngIf="job.RecordTypeId == '0121a0000006QndAAE'">
                <img src="./../../../../../assets/img/icons/smart-hand-1.png">
            </span>
            <ul class="info-list p-l-0">
                <li class="first">{{job.Iron_Job_num__c}}</li>
                <li>{{job.Dispatch_Service_Resolution_Status__c}}</li>
                <li>{{job.Customer_Service_Type_From_Program__c}}</li>
                <li>{{job.Technical_Level__c}}</li>
                <li>{{job.Service_Dispatch_SLA_Priority_FrmProgram__c}}</li>
                <li *ngIf="job.partner && job.partner.Name">{{job.partner.Name}}</li>
                <li *ngIf="job.vendor && job.vendor.Name">{{job.vendor.Name}}</li>
            </ul>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 text-right">
        <!-- <app-toolbar position="horizontal" align="text-left" order="asc" (onActivate)="activateEvent($event)"></app-toolbar> -->
        <div *ngIf="reloadData">
            <div class="btn-group pr-2" role="group" aria-label="Basic example">
                <ng-container *ngFor="let t of wfStatus?.transitions">
                    <button class="btn {{t.btnCss}}" *ngIf="t.type === 'button' && checkButtonVisibility(t)" (click)="onHeaderButtonClick('Transitions', tabset, t, 'lg')">
                        {{t.btnTitle}}
                    </button>
                </ng-container>
                <button type="button" class="btn btn-light" (click)="onHeaderButtonClick('Timecard', tabset, addTimecardModal, 'lg')" i18n>
                    <i class="mdi mdi-calendar"></i> Add Timecard
                </button>
                <button type="button" class="btn btn-light" (click)="onHeaderButtonClick('Upload', tabset, uploadContent, 'lg')" i18n>
                    <i class="mdi mdi-camera"></i> Upload
                </button>
                <button type="button" class="btn btn-light" (click)="onHeaderButtonClick('Messaging', tabset, '', 'lg')" i18n>
                    <i class="mdi mdi-message-reply-text"></i> Messaging
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row p-3" *ngIf="vendorActionBtn && vendorActionBtn.length > 0">
    <div class="col-sm-12 col-md-12 pull-right text-right strong">
        <!-- <app-toolbar position="horizontal" align="text-left" order="asc" (onActivate)="activateEvent($event)"></app-toolbar> -->
        <div *ngIf="reloadData">
            <span class="text-themecolor title">
                <b>Vendor Actions:&nbsp;&nbsp;</b>
            </span>
            <ng-container *ngFor="let t of vendorActionBtn">
                <button class="btn {{t.btnCss}}" *ngIf="t.type === 'button' && checkButtonVisibility(t)" (click)="onHeaderButtonClick('Transitions', tabset, t, 'lg')">
                    {{t.btnTitle}}
                </button>
            </ng-container>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-md-12 col-lg-9 job">
        <div class="card">
            <ngb-tabset type="tabs" justify="fill" #tabset class="customtab">
                <!-- summary -->
                <ngb-tab id="summary" title="Summary">
                    <ng-template ngbTabContent>
                        <div class="m-t-5" *ngIf="reloadData">
                            <job-detail-summary jobId={{jobId}}></job-detail-summary>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!-- manager -->
                <ngb-tab id="manager" title="Manager">
                    <ng-template ngbTabContent>
                        <div class="m-t-5" *ngIf="reloadData">
                            <job-detail-manager jobId={{jobId}} (updateData)="refreshData($event)"></job-detail-manager>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!-- worker status -->
                <ngb-tab id="workerStatus" title="Worker Status">
                    <ng-template ngbTabContent>
                        <div class="m-t-5" *ngIf="reloadData">
                            <job-detail-worker-status jobId={{jobId}}></job-detail-worker-status>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!-- hardware info -->
                <ngb-tab id="hardwareInfo" title="Hardware Info" *ngIf="job?.hasHardwareData">
                    <ng-template ngbTabContent>
                        <job-detail-hardware-info jobId={{jobId}}></job-detail-hardware-info>
                    </ng-template>
                </ngb-tab>
                <!-- instructions -->
                <ngb-tab id="instructions" title="Instructions">
                    <ng-template ngbTabContent>
                        <job-detail-instructions jobId={{jobId}}></job-detail-instructions>
                    </ng-template>
                </ngb-tab>
                <!-- messages -->
                <ngb-tab id="messages" title="Messages">
                    <ng-template ngbTabContent>
                        <app-message-list modelName="Job" modelId="{{job?.id}}"></app-message-list>
                    </ng-template>
                </ngb-tab>
                <!-- time card -->
                <ngb-tab id="timeCard" title="Time Card">
                    <ng-template ngbTabContent>
                        <app-timecard-list modelName='Job' modelId="{{job?.sfdcId}}"></app-timecard-list>
                    </ng-template>
                </ngb-tab>
                <!-- billing -->
                <ngb-tab id="billing" title="Billing">
                    <ng-template ngbTabContent>
                        <job-detail-billing jobId={{jobId}}></job-detail-billing>
                    </ng-template>
                </ngb-tab>
                <!-- vendor info -->
                <ngb-tab id="vendorInfo" title="Vendor Info">
                    <ng-template ngbTabContent>
                        <job-detail-vendor jobId={{jobId}}></job-detail-vendor>
                    </ng-template>
                </ngb-tab>
                <!-- worker info -->
                <ngb-tab id="workerInfo" title="Worker Info">
                    <ng-template ngbTabContent>
                        <job-detail-worker jobId={{jobId}}></job-detail-worker>
                    </ng-template>
                </ngb-tab>
                <!-- files -->
                <ngb-tab id="files" title="Files">
                    <ng-template ngbTabContent>
                        <app-document-list modelName='Job' modelId="{{job?.id}}"></app-document-list>
                    </ng-template>
                </ngb-tab>
                <!-- feeds -->
                <ngb-tab id="feedLog">
                    <ng-template ngbTabTitle>
                        <div>Activity</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <app-feed modelName='Job' modelId="{{job?.id}}"></app-feed>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
    <!-- Right sidebar -->
    <div class="col-md-12 col-lg-3 sidebar" *ngIf="reloadData">
        <job-detail-sidebar jobId={{jobId}}></job-detail-sidebar>
    </div>
</div>

<ng-template ngbTabContent #uploadContent>
    <app-document-upload modelName='Job' modelId="{{job?.id}}" (uploaded)="documentUploaded($event)"></app-document-upload>
</ng-template>

<ng-template #addTimecardModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Timecard</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-timecard-add modelName='Job' modelId="{{job?.Vendorsite__c}}" (saved)="timecardSaved($event)" (updateData)="refreshData($event)"></app-timecard-add>
    </div>
</ng-template>

<ng-template #selectWorkerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Select Worker</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow: visible;">
        <app-select-worker modelId="{{job?.id}}" (assignedWorker)="refreshData($event)"></app-select-worker>
    </div>
</ng-template>

<ng-template #updateAppointmentModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Worker Appointment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-update-appointment modelId="{{job?.id}}" (savedAppointment)="refreshData($event)"></app-update-appointment>
    </div>
</ng-template>