<div class="table-responsive scroll-div pricing">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>No</th>
                <th *ngIf="!isSchedule">Service Profile No</th>
                <th *ngIf="isSchedule">Select</th>
                <th *ngIf="isSchedule">Jobsite #</th>
                <th *ngIf="isSchedule">Service Type</th>
                <th *ngIf="isSchedule">Service Engineer Talent Type</th>
                <th *ngIf="isSchedule">Service Engineer (Technical level)</th>
                <th *ngIf="isSchedule">Dispatch SLA Priority</th>
                <th *ngIf="isSchedule">Coverage Hours</th>
                <th>Service ID</th>
                <th>Service Description</th>
                <th>PPM hours</th>
                <th>Price</th>
                <th *ngIf="!isSchedule">Price Book</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ppj of pricingListPerJobsites, let i = index" [class]="ppj.Class">
                <td>{{i +1}}</td>
                <td *ngIf="!isSchedule">{{(ppj.Service_Engineer_Technical_Level__c) ? (ppj.Service_Engineer_Technical_Level__c+'/'+ppj.Dispatch_SLA_Priority__c)
                    : ''}} </td>
                <td *ngIf="isSchedule">
                    <input type="checkbox" name="priceSelect" [id]="'chko' + i" [value]="">
                    <label [for]="'chko' + i"></label>
                </td>
                <td *ngIf="isSchedule">{{ppj.Jobsite.Jobsite_ID__c}} </td>
                <td *ngIf="isSchedule">{{ppj.Service_Type__c}}</td>
                <td *ngIf="isSchedule">{{ppj.TalentType?.Name}}</td>
                <td *ngIf="isSchedule">{{ppj.Service_Engineer_Technical_Level__c}}</td>
                <td *ngIf="isSchedule">{{ppj.Dispatch_SLA_Priority__c}}</td>
                <td *ngIf="isSchedule"> {{ppj.CoverageHour__c}}</td>

                <td>{{ppj.Product?.Product_ID__c}}</td>

                <td>{{ppj.Product?.Description}}</td>

                <td *ngIf="!isSchedule">
                    <select [(ngModel)]="ppj.Order_Quantity__c" name="ppmHrs--{{i}}" (change)="selectPPMHours($event, i, ppj)">
                        <option [value]="null">--None--</option>
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="8">8</option>
                    </select>
                </td>
                <td *ngIf="isSchedule">{{ppj?.Order_Quantity__c}}</td>
                <td>{{ppj.Price__c}}</td>
                <td *ngIf="!isSchedule">{{ppj?.Jobsite?.account?.pricelist?.Name}} </td>
            </tr>
            <tr *ngIf="!isSchedule && !errorMessage">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style='width:150px'>Grand Total: {{total}}</td>
            </tr>
            <tr *ngIf="errorMessage" class="alert alert-warning m-t-5">
                <td colspan="15">{{errorMessage}}</td>
            </tr>
        </tbody>
    </table>
</div>