<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="headermsg">
            <b>{{headTitle}}</b>
        </div>

    </div>
</div>
<div class="card m-t-15" *ngIf="isLoadProgressBar">
    <div class="card-content">
        <div class="tab-wizard wizard-circle wizard clearfix">
            <div class="steps clearfix">
                <ul class="clearfix bootstrapWizard form-wizard" role="tablist">
                    <li role="tab" *ngFor="let item of wizardsteps; index as i" [ngClass]="{'current': item.active==true? false : true,'done':item.active == true ? true : false}">
                        <a>
                            <span class="step" [ngClass]="{'disable-step': item.name=='Files'? true : false}">{{i+1}}</span>
                            <span class="title">{{item.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>