<div class="chat-main-box" *ngIf="!errorMessage">
    <!-- .chat-right-panel -->
    <div class="chat-right-aside" style="width: 100%">
        <div class="chat-rbox" *ngIf="!comments">
            Loading comments..
        </div>
        <div class="chat-rbox b-b" *ngIf="comments">
            <ul class="chat-list p-20 p-t-0 scrollMsg" *ngIf="comments.length > 0" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <ng-container>
                    <li *ngFor="let comment of comments;let first = first;">
                        <hr *ngIf="!first">
                        <div class="chat-img">
                            <img *ngIf="comment.owner?.profileImage" src="{{imgpath}}/Containers/{{comment.owner?.id}}/download/{{comment.owner?.profileImage}}"
                                class="round round-info round-top squareImg">
                            <span *ngIf="!comment.owner?.profileImage" class="round round-info round-top squareImg">{{(comment.owner?.firstname)
                                ? (comment.owner?.firstname.charAt(0).toUpperCase()) : ''}}{{(comment.owner?.lastname) ?
                                (comment.owner?.lastname.charAt(0).toUpperCase()) :''}}
                            </span>
                        </div>
                        <div class="chat-content ql-editor">
                            <h5>{{comment.postByName}} ({{comment.createdAt | date: 'shortDate'}} {{comment.createdAt | date:
                                'shortTime'}} )
                                <span *ngIf="comment.owner.accessType == 'internal'" class="badge badge-info">Staff</span>
                                <br>
                                <h6>( {{comment.messageTypeLabel}}) </h6>
                            </h5>
                            <div [innerHTML]="comment.Case_Comment_Body__c" class="message-img-width"></div>
                        </div>
                    </li>
                </ng-container>
            </ul>
            <p *ngIf="comments.length === 0" class="p-20 other">
                No related messages found.
            </p>
        </div>
        <div class="card-body">
            <app-message-post modelName="{{modelName}}" modelId="{{modelId}}"></app-message-post>
        </div>
    </div>
</div>
<div class="card-body" *ngIf="errorMessage">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>