<div class="p-3" *ngIf="!showForgotPassword && !showUserSignup">
    <form #userForm="ngForm" [formGroup]="registrationForm" (ngSubmit)="onLoginClick()" class="form-material" name="userForm">
        <div class="row">
            <div class="col">
                <span class="font-weight-bold">Email
                    <span class="text-danger">*</span>
                </span>
                <input type="text" formControlName="email" name="v" maxlength="80" class="form-control">
                <small *ngIf="formErrors.email" class="help-block text-danger">{{ formErrors.email }}</small>
            </div>
            <div class="col">
                <span class="font-weight-bold">Password
                    <span class="text-danger">*</span>
                </span>
                <input type="password" formControlName="password" name="password" maxlength="80" class="form-control">
                <small *ngIf="formErrors.password" class="help-block text-danger">{{ formErrors.password }}</small>
            </div>
        </div>
        <div class="row m-t-30">
            <div class="col text-center">
                <button class="btn btn-danger mRight" [disabled]="!registrationForm.valid" type="submit">Login</button>
                <button class="btn btn-secondary" type="button" (click)="onClose()">Cancel</button>
            </div>
        </div>
        <div class="row m-t-20">
            <div class="col user-options">
                <a class="nav-link" href="javascript:void(0);" (click)="onForgotPasswordClick()">
                    Forgot your password ?
                </a>
                <a class="nav-link" href="javascript:void(0);" (click)="onSignupClick()">
                    Not member yet, create an account ?
                </a>
            </div>
        </div>
    </form>
</div>

<div class="p-3" *ngIf="showForgotPassword">
    <div class="row">
        <div class="col">
            <span class="font-weight-bold">Email
                <span class="text-danger">*</span>
            </span>
            <input type="text" [(ngModel)]="email" class="form-control">
            <small class="help-block text-info">Your password will be sent to your email.</small>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col text-center">
            <button class="btn btn-danger mRight" type="button" [disabled]="!email" (click)="onSendPasswordClick()">Send</button>
            <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>

<div class="p-3" *ngIf="showUserSignup">
    <app-user-signup (onCancelClick)="onCancel()"></app-user-signup>
</div>