<div class="border-t m-t-5">
    <ngb-accordion #acc="ngbAccordion" activeIds="purchaseOrder" [destroyOnHide]="false">
        <ngb-panel title="Billing/Purchase Order" id="billingOrder">
            <ng-template ngbPanelContent>
                <div class="row">

                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Purchase Order Details" id="purchaseOrder">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-3 text-bold">Purchase Order Number</div>
                    <div class="col-3">{{order?.WorkOrderNumber}}</div>
                    <div class="col-3 m-t-10 text-bold">Account Name</div>
                    <div class="col-3 m-t-10">{{order?.account?.Name}}</div>

                    <div class="col-3 text-bold">Case</div>
                    <div class="col-3">{{order?.case?.CaseNumber}}</div>
                    <div class="col-3 m-t-10 text-bold">Project</div>
                    <div class="col-3 m-t-10">{{order?.project?.Name}}</div>

                    <div class="col-3 m-t-10 text-bold">Jobsite</div>
                    <div class="col-3 m-t-10">{{order?.jobsite?.Name}}</div>
                    <div class="col-3 m-t-10 text-bold">Service Dispatch</div>
                    <div class="col-3 m-t-10">{{order?.job?.Name}}</div>

                    <div class="col-3 m-t-10 text-bold">Sales Order</div>
                    <div class="col-3 m-t-10">{{order?.order?.Name}}</div>
                    <div class="col-3 m-t-10 text-bold">Vendor</div>
                    <div class="col-3 m-t-10">{{order?.vendor?.Name}}</div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>