<div class="row m-t-20 m-l-10">
    <div class="col-sm-6">
        <h3 class="text-themecolor">
            <i class="fa fa-list-ul"></i> Activity Feeds
        </h3>
    </div>
</div>
<div class="col-sm-12 mt-3">
    <div *ngIf="allowFiltering" class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="text-themecolor">
                        <i class="fa fa-search"></i> &nbsp;Search</h3>
                </div>
            </div>

            <div class="hide-select-overlay" *ngIf="userAccessType === 'internal'">
                <div class="row">
                    <div class="col-sm-6">
                        <ng-select placeholder="Account" [typeahead]="accountsTypeahead" [multiple]="true" bindLabel="Name" bindValue="sfdcId" [items]="accountsFilterItems"
                            [(ngModel)]="accountsSelected" [notFoundText]="'No Account found'" (change)="onAccountChnage()">
                        </ng-select>
                    </div>
                    <div class="col-sm-6">
                        <ng-select placeholder="Program" [typeahead]="programsTypeahead" [multiple]="true" bindLabel="Name" bindValue="id" [items]="programsFilterItems"
                            [(ngModel)]="programsSelected" [loading]="programLoading" [notFoundText]="'No Programs found'">
                        </ng-select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3">
                        <ng-select placeholder="Related to" [multiple]="true" bindLabel="label" bindValue="value" [items]="modelsList" [(ngModel)]="modelsSelected">
                        </ng-select>
                    </div>
                    <div class="col-sm-3 mt-3">
                        <form class="form-material ">
                            <div class="input-group">

                                <input #dateFrom class="form-control" [owlDateTime]="dateFrom" [owlDateTimeTrigger]="dateFrom" placeholder="Filter by Date"
                                    [selectMode]="'range'" [(ngModel)]="selectedRange" [max]="maxDate" [ngModelOptions]="{standalone: true}"
                                    readonly="true">


                                <owl-date-time [pickerType]="'calendar'" #dateFrom></owl-date-time>
                                <span class="input-group-btn" *ngIf="selectedRange">
                                    <span class="ng-clear-wrapper ng-star-inserted" title="Clear all">
                                        <a class="dataTable-cross" (click)="clearDate()" href="javascript:void(0);">
                                            <i class="fa fa-times suffex cross"></i>
                                        </a>
                                    </span>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-3 mt-3" *ngIf="userAccessType === 'internal'">
                        <button class="btn btn-sm btn-primary mRight" (click)="filterFeeds()">
                            <i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-sm btn-default" (click)="resetFilters()">
                            <i class="fa fa-times"></i> Clear</button>
                    </div>
                </div>
            </div>

            <div class="row hide-select-overlay" *ngIf="userAccessType !== 'internal'">
                <div class="col-sm-4">
                    <ng-select placeholder="Program" [typeahead]="programsTypeahead" [multiple]="true" bindLabel="Name" bindValue="id" [items]="programsFilterItems"
                        [(ngModel)]="programsSelected" [loading]="programLoading" [notFoundText]="'No Programs found'">
                    </ng-select>
                </div>
                <div class="col-sm-3">
                    <ng-select placeholder="Related to" [multiple]="true" bindLabel="label" bindValue="value" [items]="modelsList" [(ngModel)]="modelsSelected">
                    </ng-select>
                </div>
                <div class="col-sm-3 mt-3">
                    <form class="form-material">
                        <input #dateFrom class="form-control" [owlDateTime]="dateFrom" [owlDateTimeTrigger]="dateFrom" placeholder="Filter by Date"
                            [selectMode]="'range'" [(ngModel)]="selectedRange" [max]="maxDate" [ngModelOptions]="{standalone: true}"
                            readonly="true">
                        <owl-date-time [pickerType]="'calendar'" #dateFrom></owl-date-time>
                    </form>
                </div>
                <div class="col-sm-2 mt-3">
                    <button class="btn btn-sm btn-primary mRight" (click)="filterFeeds()">
                        <i class="fa fa-search"></i> Search</button>
                    <button class="btn btn-sm btn-default" (click)="resetFilters()">
                        <i class="fa fa-times"></i> Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table Data Goes Here -->
<!--Feed List view start here-->
<div class="row r-space m-r-10">

    <div class="col-12 text-right m-b-5">
        <button type="button" class="btn btn-sm mRight editColumn" i18n>
            <i class="fa fa-th"></i> Edit Columns
        </button>
        <div class="dd-column-selector">
            <li *ngFor='let col of allColumns' class="p-l-5">
                <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
                <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
            </li>
        </div>

        <button type="button" class="btn btn-sm m-r-5" (click)="refreshView();" i18n>
            <i class="fa fa-refresh"></i> Refresh
        </button>
        <button *ngIf="tableData[0]" class="btn btn-sm" (click)="exportCSV()">
            <i class="fa fa-download"></i> CSV</button>
    </div>
</div>
<div class="card-body">

    <ngx-datatable #myTable class="material striped fixed-header expandable doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [limit]="itemsPerPage" [headerHeight]="60" [footerHeight]="50" [rowHeight]="100" ngx-resize-watcher>
        <div *ngFor="let col of columns">
            <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">
                <ng-template *ngIf="col.prop == 'description'" let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.viewUrl && row.viewUrlTitle">
                        <a href="javascript:void(0);" (click)="goToUrl(row?.viewUrl)">{{row?.viewUrlTitle}}</a> :
                    </span>
                    {{row?.description}}
                </ng-template>

                <ng-template *ngIf="col.prop == 'action'" let-row="row" ngx-datatable-cell-template>
                    <span>
                        <a href="javascript:;" (click)="openDetails(feedDetails, 'xxl', row.id, row.modelName)">
                            <span class="job-title">View</span>
                        </a>
                    </span>
                </ng-template>

            </ngx-datatable-column>
        </div>
        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                let-curPage="curPage" let-offset="offset">
                <div style="padding: 5px 10px">
                    <div>
                        Total: {{(tableData[0]) ? rowCount : 0}}
                    </div>
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="myTable.onFooterPage($event)">
                </datatable-pager>
                <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                    <div>
                        <button type="button" class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>


</div>
<!--End here-->

<!-- expanded view feed -->
<ng-template #feedDetails let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Activity Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-feed-detail embeddedView="true" modelId={{currentExpandViewId}}></app-feed-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    </div>
</ng-template>