<div class="container">
    <div class="m-2">
        <div class="row">
            <div class="col-md-6">
                <div class="row ">
                    <label for="Partner" class="form-group col-md-4 font-weight-bold">Quote Manager </label>
                    <div class="col-md-6 ">{{quoteDetail?.Name}} </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label for="Partner" class="form-group col-md-4 font-weight-bold">Program Name (SOP)* </label>
                    <div class="col-md-6 "> {{quoteDetail?.SOP_Program_Name}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label for="quote" class="form-group col-md-4 font-weight-bold">Project Name (Jobsite)</label>
                    <div class="col-md-6 " class="col-md-8">{{quoteDetail?.Jobsite_Project_Name}} </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label for="quotecode" class="form-group col-md-4 font-weight-bold">Partner Account Name*</label>
                    <div class="col-md-6" class="col-md-8">{{quoteDetail?.Partner_Name}}</div>
                </div>
            </div>
        </div>
    </div>

    <ngb-accordion #acc="ngbAccordion" activeIds="quoteLineManager" [destroyOnHide]="false">
        <ngb-panel class="pull-left" id="quoteLineManager" title="Quote Line Manager" class="Cards-header">
            <ng-template ngbPanelContent>
                <div class="m-2">
                    <ngx-datatable #myTable class="material striped doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'standard'"
                        [limit]="itemsPerPage" [headerHeight]="60" [footerHeight]="50" [rowHeight]="60">
                        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [width]="col.width">
                            <ng-template let-column="column" height="100" ngx-datatable-header-template>
                                <label style="height: 35px;">{{col.name}}</label>
                            </ng-template>
                            <ng-template *ngIf="col.prop == 'Price__c'" let-value="value" ngx-datatable-cell-template>
                                <span>{{value ?.Price__c | number:'1.2-2'}}</span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-footer>
                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                let-curPage="curPage" let-offset="offset">
                                <div style="padding: 5px 10px">
                                    <div>
                                        Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
                                    </div>
                                </div>
                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                    [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                                </datatable-pager>
                            </ng-template>
                        </ngx-datatable-footer>
                    </ngx-datatable>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>