<ngb-accordion #acc="ngbAccordion" activeIds="files" [destroyOnHide]="false">
    <ngb-panel title="Files" id="files">
        <ng-template ngbPanelContent>
            <div class="table-responsive">
                <table style="height:450px" class="table color-table info-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th nowrap>Created By</th>
                            <th nowrap>Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">
                        <input type="file">
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <input type="button" value="Upload">
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>