.selected-row {
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    padding-top: 6px;
}
.team-member th{
    color:#000 !important;
    background-color: #aab4b9 !important; 
 }

 .group-icon {
    font-size: 23px;
    font-weight: bold;    
 }