<form #groupForm="ngForm" [formGroup]="groupTeamForm" (ngSubmit)="onClickSave()" class="form-material m-t-10" name='groupForm'>
  <ngb-accordion #acc="ngbAccordion" activeIds="groupTeamId" [destroyOnHide]="false">
    <ngb-panel title="{{headerTxt}}" id="groupTeamId">
      <ng-template ngbPanelContent>

        <div class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Type
              <span class="text-danger">*</span>
            </span>
          </div>
          <div class="col-4">
            <select (change)="selectType('recordType',t.value)" #t formControlName="RecordType" class="form-control">
              <option *ngFor="let type of ddlgroupRecordType" [value]="type.sfdcId">{{type.Name}}</option>
            </select>
            <small *ngIf="formErrors.RecordType" class="help-block text-danger">{{ formErrors.RecordType }}</small>
          </div>
        </div>
        <div class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Community
              <span class="text-danger">*</span>
            </span>
          </div>
          <div class="col-4">
            <select (change)="selectType('community',c.value)" #c formControlName="Community__c" class="form-control">
              <option value="" selected="true">--None--</option>
              <option *ngFor="let type of ddlCommunity" [value]="type.id">{{type.name}}</option>
            </select>
            <small *ngIf="formErrors.Community__c" class="help-block text-danger">{{ formErrors.Community__c }}</small>
          </div>
        </div>
        <div *ngIf="showAccount" class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Account
              <span class="text-danger">*</span>
            </span>
          </div>
          <div class="col-4">
            <select formControlName="Account__c" class="form-control">
              <option value="" selected="true">--None--</option>
              <option *ngFor="let type of ddlAccount" [value]="type.sfdcId">{{type.Name}}</option>
            </select>
            <small *ngIf="formErrors.Account__c" class="help-block text-danger">{{ formErrors.Account__c }}</small>
          </div>
        </div>
        <div class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Group/Team Name
              <span class="text-danger">*</span>
            </span>
          </div>
          <div class="col-4">
            <input type="text" formControlName="Name" class="form-control">
            <small *ngIf="formErrors.Name" class="help-block text-danger">{{ formErrors.Name }}</small>
          </div>
        </div>
        <div class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Group/Team Code
              <span class="text-danger">*</span>
            </span>

          </div>
          <div class="col-4">
            <input type="text" formControlName="Group_Code__c" class="form-control">
            <small *ngIf="formErrors.Group_Code__c" class="help-block text-danger">{{ formErrors.Group_Code__c }}</small>
          </div>
        </div>
        <div class="row m-t-8 text-center">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Department
              <span class="text-danger">*</span>
            </span>
          </div>
          <div class="col-4">
            <select formControlName="Department__c" class="form-control">
              <option Value="" selected="true">--None--</option>
              <option *ngFor="let type of ddlDepartment" [value]="type.sfdcId">{{type?.Name}} ( {{type?.Department_Acronym__c}} )</option>
            </select>
            <small *ngIf="formErrors.Department__c" class="help-block text-danger">{{ formErrors.Department__c }}</small>
          </div>
        </div>
        <div class="row m-t-8">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Available to Communities
            </span>
          </div>
          <div class="col-4">
            <ng-select [items]="ddlCommunity" bindLabel="name" bindValue="id" formControlName="Available_to_Communities__c" [multiple]="true"
              highlightColor="#1E88E5"> </ng-select>
          </div>
        </div>
        <div class="row m-t-8">
          <!-- Type -->
          <div class="col-4 text-right">
            <span class="font-weight-bold">Accessibility Type
            </span>
          </div>
          <div class="col-4 text-left">
            <span>{{accessibilityType}}</span>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="card m-t-5">
    <div class="card-body">
      <!--ngb-tabset div start here-->
      <div class="row">
        <div class="col">
          <ngb-tabset type="pills" [activeId]="activeTab" justify="fill" (tabChange)="onTabChange($event)">
            <ngb-tab id="{{selectedCommunity}}" title="Internal Members ({{selectedCommunity}})">
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="accessibilityType !='Internal' && selectedType != '0121a000000Vll7AAC' " id="{{externalCommunity}}" title="External Members ({{externalCommunity}})">
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="accessibilityType !='Internal' && selectedCommunity == 'MSP' && selectedType != '0121a000000Vll7AAC'" id="VMS"
              title="External Members (VMS)">
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
      <!--End here-->

      <!--Add new row start here-->
      <div class="row border-t">
        <div class="col-1 m-t-5">
          <span class="ti-plus icon-color group-icon" (click)="addMemberFilter()"></span>
        </div>
      </div>
      <!--End here-->

      <!--Table content start here-->
      <div class="row form-material">
        <div class="col-md-12">
          <table class="table color-table muted-table">
            <thead>
              <tr>
                <th width="10%">Action </th>
                <th width="30%" *ngIf="showAccountFilter">Account</th>
                <th width="35%" *ngIf="showDepartment">Department</th>
                <th>Member</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedGroupMemberArrShow, let i = index">
                <td>
                  <span class="ti-close fa-1x icon-color text-bold" (click)="deleteMember(i,item.member?.id)"></span>
                </td>
                <td *ngIf="showAccountFilter"> {{item?.account?.name}}</td>
                <td *ngIf="showDepartment"> {{item?.dept?.name}}</td>
                <td> {{item?.member?.name}} </td>
              </tr>

              <tr *ngIf="showMemberFilter">
                <td class="p-t-20">
                  <span (click)="removeMemberFilter()" class="ti-close fa-1x icon-color text-bold"></span>
                </td>
                <td *ngIf="showAccountFilter">
                  <button *ngIf="activeTab == 'VMS'" type="button" class="btn btn-sm btn-info" (click)="openAccountPopup(AccountListPopup, 'lg')">Select Account</button>

                  <span *ngIf="selectedAccount" class="m-t-10">
                    <br> ({{selectedAccount}})
                  </span>
                  <select *ngIf="activeTab != 'VMS'" name="accountFilter" #am class="form-control" (change)="getAccountMember($event, 'ddl')">
                    <option ngValue="">--None--</option>
                    <option *ngFor="let account of ddlObj.accounts" [value]="account.sfdcId">{{account.Name}}</option>
                  </select>
                </td>
                <td *ngIf="showDepartment">
                  <select name="departmentFilter" class="form-control" (change)="onChangeDDL('department', $event)">
                    <option ngValue="">--None--</option>
                    <option *ngFor="let department of ddlObj.departments" [value]="department.sfdcId">{{department.Name}}</option>
                  </select>
                </td>
                <td>
                  <select name="memberFilter" class="form-control" (change)="onChangeDDL('member', $event)">
                    <option ngValue="">--None--</option>
                    <option *ngFor="let member of ddlObj.members" [value]="member.WorkerSfdcId">{{member.firstname}} {{member.lastname}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--End here-->
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center" *ngIf="viewMode !== 'view'">
      <button class="btn btn-primary mRight" [disabled]="!groupTeamForm.valid" type="submit">Save</button>
      <button class="btn btn-primary" (click)="cancelForm()" type="button">Cancel</button>
    </div>
  </div>
</form>



<!-- expanded view modal -->
<ng-template #AccountListPopup let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h3 class="modal-title">Account List</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <app-account-type [accountType]="'Vendor'" [isMultiSelect]="false" (setAccountArr)="getAccountMember($event, 'pop')"></app-account-type>
    </div>

  </div>
</ng-template>