<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<ngb-accordion #acc="ngbAccordion" activeIds="searchFilter" [destroyOnHide]="false">
					<ngb-panel class="pull-left" id="searchFilter" title="Search Filter" class="Cards-header ">
						<ng-template ngbPanelContent>
							<div class="container">
								<div class="row">
									<!-- Quote Number -->
									<div class="col-md-2">
										<label for="accountName" class="font-weight-bold">Quote Number</label>
									</div>
									<div class="col-md-4">
										<select class="form-group form-control custom-select" [(ngModel)]="filter.selectedQuoteNo">
											<option ngValue="--None--" selected>--None--</option>
											<option *ngFor="let quote of filter.quoteNos" [ngValue]="quote">{{quote}}</option>
										</select>
									</div>
									<!-- Program # -->
									<div class="col-md-2">
										<label class="font-weight-bold" for="Program">Program #</label>
									</div>
									<div class="col-md-4">
										<select class="form-group form-control custom-select" [(ngModel)]="filter.selectedProgramName">
											<option ngValue="--None--" selected>--None--</option>
											<option *ngFor="let program of filter.programNames" [ngValue]="program">{{program}}</option>
										</select>
									</div>
								</div>
								<!-- # of Jobsites -->
								<div class="row">
									<div class="col-md-2">
										<label for="Quotes" class="font-weight-bold"># of Jobsites</label>
									</div>
									<div class="col-md-4">
										<select class="form-group form-control custom-select" [(ngModel)]="filter.selectedJobsitesCount">
											<option ngValue="--None--" selected>--None--</option>
											<option *ngFor="let count of filter.jobsitesCount" [ngValue]="count">{{count}}</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 text-center">
										<button class="form-group btn btn-secondary mRight" (click)="filterQuoteData()">Search</button>
										<button class="form-group btn btn-secondary" (click)=filterReset()>Reset</button>
									</div>
								</div>
							</div>
						</ng-template>
					</ngb-panel>
				</ngb-accordion>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="text-right m-b-5">
					<button type="button" class="btn btn-sm mRight editColumn" i18n>
						<i class="fa fa-th"></i> Edit Columns
					</button>
					<div class="dd-column-selector">
						<li *ngFor='let col of allColumns' class="p-l-5">
							<input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
							<label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
						</li>
					</div>
					<button *ngIf="tableData[0] && !tableData[0]['message']" class="btn btn-sm" (click)="exportCSV()">
						<i class="fa fa-download"></i> CSV</button>
				</div>
				<ngx-datatable #myTable class="material striped fixed-header expandable doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator"
				 [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="60" [footerHeight]="50" [rowHeight]="60" [reorderable]="true"
				 ngx-resize-watcher>
					<div *ngFor="let col of columns">
						<ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">
						</ngx-datatable-column>
					</div>

					<ngx-datatable-footer>
						<ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
						 let-curPage="curPage" let-offset="offset">
							<div style="padding: 5px 10px">
								<div>
									Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
								</div>
							</div>
							<datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
							 [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
							 (change)="myTable.onFooterPage($event)">
							</datatable-pager>
						</ng-template>
					</ngx-datatable-footer>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>