<ngb-accordion #acc="ngbAccordion" activeIds="programPanel, quotePanel, selectJobsitePanel, partnerRef, pricingAndProviderPanel,providerIronPanel, providerGlobalPanel, workOrderPanel, appointmentPanel"
    [destroyOnHide]="false">
    <!-- Select Program type start here-->
    <ngb-panel id="programPanel" title="(1) Select Program" class="Cards-header">
        <ng-template ngbPanelContent>
            <div class="col-md-12">
                <select-program></select-program>
            </div>
        </ng-template>
    </ngb-panel>
    <div *ngIf="ProgramIstrue">
        <!--Select Quote type start here-->
        <ngb-panel id="quotePanel" title="(2) Select Quote">
            <ng-template ngbPanelContent>
                <select-quote></select-quote>
            </ng-template>
        </ngb-panel>
        <!--Select  Select Job Sites type start here-->
        <ngb-panel id="selectJobsitePanel" name="selectjobsite" title="(3) Select Jobsite" class="Cards-header" *ngIf="QuoteIstrue">
            <ng-template ngbPanelContent>
                <selected-jobsites></selected-jobsites>
            </ng-template>
        </ngb-panel>

        <!--Pricing and Service provider per jobsite-->
        <ngb-panel id="pricingAndProviderPanel" title="(4) Pricing and Service Provider" *ngIf="QuoteIstrue">
            <ng-template ngbPanelContent>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="filterPricing('Pricing')" [class.active]="!isCollapsed" href="javascript:;">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="filterPricing('ServiceProvider')" [class.active]="isCollapsed" href="javascript:;">Service Providers</a>
                    </li>
                </ul>
                <br/>
                <!--Pricing per jobsite-->
                <div [ngClass]="{'hidepanel': isCollapsed}">
                    <quote-pricing></quote-pricing>
                </div>
                <div *ngIf="QuoteIstrue && pricingFilterType == 'ServiceProvider'" [ngClass]="{'hidepanel': !isCollapsed}">
                    <provider-option></provider-option>
                </div>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="providerIronPanel" title="Option: A, Select Iron Service Global Auto Router Profile" *ngIf="QuoteIstrue && isCollapsed">
            <ng-template ngbPanelContent>
                <provider-iron [canSelect]="false"></provider-iron>
            </ng-template>
        </ngb-panel>
        <br>
        <ngb-panel id="providerGlobalPanel" title="Option: B, Select Provider of your choice" *ngIf="QuoteIstrue && isCollapsed">
            <ng-template ngbPanelContent>
                <provider-global [canSelect]="false"></provider-global>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="workOrderPanel" name="workorder" title="(5) Work Order Summary" class="Cards-header" *ngIf="QuoteIstrue">
            <ng-template ngbPanelContent>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="WorkOrderSummary">Work Order Summary
                                <span class="text-danger">*</span>
                            </label>
                            <textarea class="form-control" [(ngModel)]="WorkOrderSummary" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="partnerRef" name="partnerRef" title="(6) Partner Reference" class="Cards-header" *ngIf="QuoteIstrue">
            <ng-template ngbPanelContent>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="partnerCaseNumber">Partner Case Number
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" [(ngModel)]="scheduleData.partnerCaseNumber" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="partnerPONumber">Partner PO Number
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" [(ngModel)]="scheduleData.partnerPONumber" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="appointmentPanel" name="appointment" title="(7) Appointment Schedule" class="Cards-header" *ngIf="QuoteIstrue">
            <ng-template ngbPanelContent>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="appointmentSchedule"> Appointment Schedule
                                <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="form-group col-md-12 radio">

                            <div>
                                <input id="callSupport" class="with-gap" type="radio" name="appointmentScheduleType" value="Customer Appointment Setup Request (Iron Service Global to Call Customer)"
                                    [(ngModel)]="scheduleData.scheduleType" (change)="changeAppointmentScheduleType($event)">
                                <label for="callSupport">Customer Appointment Setup Request (Iron Service Global to Call Customer)</label>
                            </div>
                            <div>
                                <input id="dispatchNow" class="with-gap" type="radio" name="appointmentScheduleType" value="Dispatch Now (SLA Priority: SBD)"
                                    [(ngModel)]="scheduleData.scheduleType" (change)="changeAppointmentScheduleType($event)">
                                <label for="dispatchNow">Dispatch Now (SLA Priority: SBD)</label>
                            </div>
                            <div>
                                <input id="preScheduled" class="with-gap" type="radio" name="appointmentScheduleType" value="Pre-Scheduled Appointment(Enter Date/Time (Local Time Zone) below)"
                                    [(ngModel)]="scheduleData.scheduleType" (change)="changeAppointmentScheduleType($event)">
                                <label for="preScheduled">Pre-Scheduled Appointment(Enter Date/Time (Local Time Zone) below)</label>
                            </div>
                        </div>

                        <div class="col-md-7 offset-md-1">
                            <div class="form-group">
                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Date:
                                    <div class="input-group">
                                        <input [min]="todaysDate" [owlDateTime]="dt1" readonly="true" [owlDateTimeTrigger]="dt1" class="form-control" [(ngModel)]="scheduleData['startDate']">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" (click)="setTodaysDate()" type="button">[ {{todaysDate | date: 'M/dd/yyyy'}} ]</button>
                                        </span>
                                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Hour:
                                    <select class="form-control" [(ngModel)]="scheduleData['startHour']">
                                        <option *ngFor="let hour of scheduleData['hours']" [value]="hour">{{hour}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Minute:
                                    <select class="form-control" [(ngModel)]="scheduleData['startMin']">
                                        <option *ngFor="let min of scheduleData['mins']" [value]="min">{{min}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </div>
</ngb-accordion>
<!--End here-->
<br/>
<!--Bind all footer button start here-->
<div class="row button-box">
    <div *ngIf="errorMsg !='' " class="col-lg-12 ">
        <div class="alert alert-warning">
            {{errorMsg}}
        </div>
    </div>

    <div class="col-lg-12 text-right">
        <button type="submit" (click)="goBack()" class="btn btn-primary mRight">&laquo; Previous </button>
        <button type="button" class="btn btn-primary" (click)="saveScheduleStep()">Next &raquo;</button>
    </div>
</div>
<!--End here -->