<div *ngIf="invoice">
    <!--Invoice Details Start here -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="section-title">INVOICE DETAILS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong class="text-muted">Vender Name</strong>
            <p>{{invoice?.vendor?.Name}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Iron PO #</strong>
            <p>{{invoice?.purchaseOrder?.job?.Iron_Job_num__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">PO Status</strong>
            <p>{{invoice?.Status }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Purchase Invoice #</strong>
            <p>{{invoice?.Name }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Vendor Purchase Receipt Number</strong>
            <p>{{invoice?.Vendor_Purchase_Receipt_Number__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Purchase Invoice Month</strong>
            <p>{{invoice?.Timesheet_Month__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Purhcase Invoice Year</strong>
            <p>{{invoice?.Timesheet_Year__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Po Start Date</strong>
            <p>{{invoice?.Start_Date__c | date:'short' }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Hours per Visit</strong>
            <p>{{invoice?.Total_Worked_Hours_Without_Offset__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Timecard Increment</strong>
            <p>{{invoice?.Timesheet_Offset__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Currency</strong>
            <p>{{invoice?.CurrencyIsoCode}}</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">PPE Hours</strong>
            <p>{{invoice?.PO_PPE_Hours__c | number:'1.2-2'}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">PPE Hour(s) Cost</strong>
            <p>{{invoice?.PO_PPE_Hours_Price__c | number:'1.2-2' }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">T&amp;M Hourly Cost (Overage)</strong>
            <p>{{invoice?.PO_Additional_Hours_Price__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">VAT/GST Country</strong>
            <p>{{invoice?.purchaseOrder?.lineItems[0]?.VAT_GST }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">VAT (%)</strong>
            <p>{{invoice?.Roll_up_VAT__c | percent }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">VAT Amount</strong>
            <p>{{invoice?.Actual_VAT_Tax__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Grand Total</strong>
            <p>{{invoice?.Amount__c | number:'1.2-2' }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Total PO Amount Reference</strong>
            <p>{{invoice?.PO_Amount__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">PI Amount (Paid)</strong>
            <p>{{invoice?.Total_Paid__c }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Balance PI Amount </strong>
            <p> {{invoice?.Balance__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Net Terms</strong>
            <p>{{invoice?.Payment_Term__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Purchase Invoice Due Date
            </strong>
            <p>{{invoice?.Due_Date__c | date:'shortDate' }}&nbsp;</p>
        </div>
    </div>
    <!--End here-->

    <!--Invoice Job Details Start here-->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="section-title">JOB DETAILS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong class="text-muted">Job Service Resolution Status - FSE</strong>
            <p>{{invoice?.purchaseOrder?.job?.Job_Status__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Job ID</strong>
            <p>{{invoice?.purchaseOrder?.job?.Iron_Job_num__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Jobsite Name</strong>
            <p>{{invoice?.purchaseOrder?.job?.Jobsite_Name__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Job Service Type</strong>
            <p>{{invoice?.purchaseOrder?.job?.Customer_Service_Type_From_Program__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Job SLA Priority</strong>
            <p>{{invoice?.purchaseOrder?.job?.Service_Dispatch_SLA_Priority_FrmProgram__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Service Engineer (Technical Level)</strong>
            <p>{{invoice?.purchaseOrder?.job?.Technical_Level__c}}&nbsp;</p>
        </div>
    </div>
    <!--End here-->

    <!--Other Information Start here-->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h4 class="section-title">TIMECARD/TIMESHEET DETAILS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong class="text-muted">TimeCard/Timesheet #</strong>
            <p>{{invoice?.timecard?.Name}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Visit Number</strong>
            <p>{{invoice?.Total_Visit_Hours__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Final Visit</strong>
            <p>{{invoice?.Timecard_Received_Final__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Incurred Date</strong>
            <p>{{invoice?.timecard?.Incurred_Date__c | date:'short'}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Worker Site Check-in Time</strong>
            <p>{{invoice?.Vendor_Timecard_Actual_In__c | date:'short'}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Worker Site Check-Out Time</strong>
            <p>{{invoice?.Vendor_Timecard_Actual_Out__c | date:'short'}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Hours per Visit</strong>
            <p>{{invoice?.timecard?.Total_Worked_Hours_Without_Offset__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Timecard Increment</strong>
            <p>{{invoice?.Timesheet_Offset__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Timecard/Timesheet Approval Status</strong>
            <p>{{invoice?.Roll_up_Timecard_s_IRON_Approval_Status__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Customer Site Sign-off Name (POD)</strong>
            <p>{{invoice?.Vendor_Timecard_Cust_Site_Sign_off_Name__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Worker Name</strong>
            <p>{{invoice?.Job_Worker__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Visit Task(s) Performed</strong>
            <p>{{invoice?.Vendor_Time_Card_Notes_Tasks_Performed__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Visit Oberservation/Suggestion</strong>
            <p>{{invoice?.Vendor_Time_Card_Observation_Suggestion__c}}&nbsp;</p>
        </div>
    </div>
    <!--End here-->
</div>
<div class="row" *ngIf="errorMessage">
    <div class="col-sm-12">
        <div class="alert alert-warning m-t-15" role="alert">
            {{errorMessage}}
        </div>
    </div>
</div>