<!--Selecte Program type start here-->
<ngb-accordion #acc="ngbAccordion" activeIds="ngbpanel1">
    <ngb-panel id="ngbpanel1" title="(1) Select Program">
        <ng-template ngbPanelContent>
            <div>
                <div *ngIf="successMsg !=''" class="alert alert-success m-t-5">
                    {{successMsg}}
                </div>
                <div *ngIf="errorMsg !=''" class="alert alert-warning m-t-5">
                    {{errorMsg}}
                </div>
                <br/>
                <div class="col-md-12">
                    <input id="radio_1" type="radio" name="servicename" [(ngModel)]="existingProgram" #name="ngModel" (change)="submit()" value="true">
                    <label for="radio_1">Use Existing Program</label>
                </div>
            </div>
            <br>
            <div>
                <div class="col-md-12">
                    <input id="radio_2" type="radio" name="servicename" [(ngModel)]="existingProgram" (change)="submit()" value="false">
                    <label for="radio_2">Create New Program</label>
                </div>
                <div *ngIf="existingProgram == 'false'" class="col-md-12">
                    <div class="col-md-5">
                        <label>Program Name</label>
                        <input type="text" required [(ngModel)]="programName" minlength="3" maxlength="80" name="programName" #program="ngModel"
                            class="form-control" placeholder="Enter program name">
                        <br>
                        <br>
                        <button type="submit" [disabled]="!program.valid" (click)="createProgram(programName)" class="input-group-addon btn">Create Program</button>
                        <div *ngIf="(program.touched && !program.valid)" class="error text-left">Please enter Program Name!</div>
                    </div>
                </div>
                <br/>
            </div>
            <div *ngIf="existingProgram == 'true'" class="col-md-12">
                <div class="col-md-12">
                    <select-program></select-program>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <br>
</ngb-accordion>
<!--End here-->
<!--Bind all internal component start here-->
<div *ngIf="ProgramIstrue">
    <jobsite-option (jobType)="updateJobtype($event)"></jobsite-option>
    <!--End here-->
    <ngb-accordion #acc="ngbAccordion" *ngIf="isDispatchTrue && jobType == 'useExisting'" activeIds="dispatchPanel,dispatchPanel1,dispatchPanel2,dispatchPanel3"
        [destroyOnHide]="false">
        <ngb-panel id="dispatchPanel" title="(3) Create Program Jobsite Dispatch Service Profiles">
            <ng-template ngbPanelContent>
                <dispatch-profiles></dispatch-profiles>
            </ng-template>
        </ngb-panel>
        <br>
        <ngb-panel id="dispatchPanel1" title="(4) Select Provider Option">
            <ng-template ngbPanelContent>
                <div class="pull-right">
                    <span class="text-primary expanded-view">
                        <a href="javascript:;" (click)="openExpandedViewModal(serviceProviderExpandedViewTemplate, 'xxl')">Expanded View</a>
                    </span>
                </div>
                <provider-option [isActive]="showProvider"></provider-option>
            </ng-template>
        </ngb-panel>
        <br>
        <ngb-panel id="dispatchPanel2" title="Option: A, Select Iron Service Global Auto Router Profile">
            <ng-template ngbPanelContent>
                <provider-iron [canSelect]="true"></provider-iron>
            </ng-template>
        </ngb-panel>
        <br>
        <ngb-panel id="dispatchPanel3" title="Option: B, Select Provider of your choice">
            <ng-template ngbPanelContent>
                <provider-global [canSelect]="true"></provider-global>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="successMsg !='' " class="alert alert-success m-t-5">
            {{successMsg}}
        </div>
        <div *ngIf="errorMsg !='' " class="alert alert-warning m-t-5">
            {{errorMsg}}
        </div>
    </div>
</div>
<!--Bind all footer button start here-->
<div class="row button-box">
    <div class="col-lg-2 text-left">
        <button type="submit" class="btn btn-warning" (click)="cancelAndReset()">Cancel &amp; Restart</button>
    </div>
    <div class="col-lg-6 text-right">
        <button type="submit" class="btn btn-success" *ngIf="existingProgram == 'true'" (click)="openProgramStepSaveModal(saveProgramSetupTemplate,lg)">Save Program Setup</button>
    </div>
    <div class="col-lg-4 text-right">
        <button type="submit" (click)="goBack()" class="btn btn-primary mRight">&laquo; Previous </button>
        <button type="submit" class="btn btn-primary" (click)="openProgramStepSaveModal(saveProgramSetupTemplate,'lg','goNext')">Next &raquo;</button>
    </div>
</div>
<br>
<!--End here-->

<!-- save prgram setup modal starts -->
<ng-template #saveProgramSetupTemplate let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Save Program Setup</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">

        <div *ngIf="errorMsgModal !='' " class="alert alert-warning m-t-5">
            {{errorMsgModal}}
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Program Master Profile Number</label>
            <div class="col-8">
                {{Iron_Quote_Number__c}}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-4 col-form-label">Enter Template Name</label>
            <div class="col-8">
                <input class="form-control" type="text" [(ngModel)]="templateName">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-4 col-form-label">Enter Template Description</label>
            <div class="col-8">
                <textarea class="form-control" rows="2" [(ngModel)]="templateDescription"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success mRight" (click)="saveProgramStep()">Save</button>
        <button type="button" class="btn btn-success" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!-- save prgram setup modal Ends -->

<!-- profit pricing expanded view modal -->
<ng-template #profitPricingExpandedViewTemplate let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Profit Analysis per Jobsite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table color-table info-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Jobsite #</th>
                            <th>Program #</th>
                            <th>Service Profile</th>
                            <th>Service ID</th>
                            <th>Service Description</th>
                            <th>PPM hours</th>
                            <th>Price</th>
                            <th>Profit (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ppj of pricingListPerJobsites, let i = index">
                            <td>{{i +1}}</td>
                            <td>{{ppj.Jobsite.Name}} </td>
                            <td>{{userState.program.programName}}</td>
                            <td>{{(ppj.Service_Engineer_Technical_Level__c) ? (ppj.Service_Engineer_Technical_Level__c +'/'+
                                ppj.Dispatch_SLA_Priority__c) : ''}}</td>
                            <td>{{ppj.Product?.Product_ID__c}}</td>
                            <td>{{ppj.Product?.Description}}</td>
                            <td>{{ppj.Order_Quantity__c}}</td>
                            <td>{{ppj.Profit_Price__c}}</td>
                            <td>{{(ppj.Profit_Price__c / ppj.Vendor_Cost__c) | percent:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default mRight" (click)="exportProfitPricing()">Export</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!-- profit pricing expanded view modal Ends -->


<!-- service provider expanded view modal -->
<ng-template #serviceProviderExpandedViewTemplate let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Select Provider</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <div class="row">
            <div class="col-md-6">
                <div class="row ">
                    <label class="form-group col-md-4 font-weight-bold">Service Engineer Talent Type</label>
                    <div class="col-md-6 ">
                        <select class="form-control custom-select" [(ngModel)]="searchFilter.talentType">
                            <option Value="" selected="true">--None--</option>
                            <option *ngFor="let c of searchFilter.talentTypes" [ngValue]="c">{{c}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label for="Partner" class="form-group col-md-4 font-weight-bold">Service Engineer (Technical level) </label>
                    <div class="col-md-6 ">
                        <select class="form-control" [(ngModel)]="searchFilter.serviceEngTechLevel">
                            <option Value="" selected="true">--None--</option>
                            <option Value="L1">L1</option>
                            <option Value="L2">L2</option>
                            <option Value="NA">Not Applicable</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label for="jobsite" class="form-group col-md-4 font-weight-bold">Dispatch SLA Priority</label>
                    <div class="col-md-6 " class="col-md-8">
                        <select class="form-control" [(ngModel)]="searchFilter.sla">
                            <option Value="" selected="true">--None--</option>
                            <option Value="SBD4H">P1 (SBD4H)</option>
                            <option Value="SBD6H">P2 (SBD6H)</option>
                            <option Value="NBD">P3 (NBD)</option>
                            <option Value="2BD">P4 (2BD)</option>
                            <option Value="3BD">P5 (3BD)</option>
                            <option Value="5BD">P6 (5BD)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="form-group col-md-4 font-weight-bold">Country</label>
                    <div class="col-md-6" class="col-md-8">
                        <select class="form-control custom-select" [(ngModel)]="searchFilter.countryid">
                            <option Value="" selected="true">--None--</option>
                            <option *ngFor="let c of searchFilter.countryddl" [ngValue]="c.Country__c">{{c.Country__c}} ({{c.Name}})</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label for="jobsite" class="form-group col-md-4 font-weight-bold">Vendor Name</label>
                    <div class="col-md-6 " class="col-md-8">
                        <select class="form-control" [(ngModel)]="searchFilter.vendorName">
                            <option Value="" selected="true">--None--</option>
                            <option *ngFor="let n of searchFilter.vendorNameList" [ngValue]="n">{{n}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-primary mRight" (click)="filterProviders()"> Search</button> &nbsp; &nbsp;
                <button type="button" (click)="resetSearchFilter()" class="btn btn-primary"> Reset </button>
            </div>
        </div>
        <div class="m-t-10 boder-t">
            <ngx-datatable #myTable class="material striped " [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'fixed'"
                [limit]="10" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true">
                <ngx-datatable-column name="Vendor Name" prop="VendorName" [width]="200"></ngx-datatable-column>
                <ngx-datatable-column name="Metro Pool #" prop="Metro_Pool__c" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="City" prop="ShippingCity" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="State" prop="ShippingState" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="Country" prop="ShippingCountry" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="Zip" prop="ShippingPostalCode" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="Service Technical Level" prop="Service_Technical_Level__c" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="Talent Type" prop="Talent_Type_Name__c" [width]="150"></ngx-datatable-column>
                <ngx-datatable-column name="SLA" prop="SLA__c" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span style="word-wrap: break-word"> {{row?.SLA__c}}</span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Rating" prop="Vendor_Rating__c" [width]="110"></ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset">
                        <div style="padding: 5px 10px">
                            <div>
                                Total: {{rowCount}}
                            </div>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="myTable.onFooterPage($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!-- service provider expanded view modal Ends -->