<div class="card">
    <div class="card-body">
        <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" novalidate>
           
                <span>Select Field Service Category*</span>
                <table  style="margin: 2%;">
                    <thead>
                        <th style="width: 100px"></th>
                        <th style="width: 100px"></th>
                        <th></th>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="radio" id="radio_1" class="with-gap" formControlName="servicename" value="first" [(ngModel)]="serviceselect"><label for="radio_1"></label>
                            </td>
                            <td>
                                <img alt="SF" class="light-logo" height="100" src="assets/img/icon-7.png" width="100">
                            </td>
                            <td>
                                <label for="radio_1">
                                    The Global On Demand Dispatch Smart Hands Program A Smart Hand is an individual or team of specialized technicians with the
                                    required IT certifications &amp; skillsets to perform a field-level hardware or software
                                    support task. Smart Hands are most commonly used to provide support for: Servers, Storage,
                                    Networks, Desktops, IoT, Peripherals The Smart Hands program is a ‘hands and feet extension’
                                    of your Level 2 support team. These engineers can perform instructed tasks independently,
                                    or work in conjunction with your team so that your level 2 team can be centrally located.
                                    The FSG Smart Hands program is available in all major regions and provides a cost-effective
                                    approach for delivering responsive field support.
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="radio_2" class="with-gap" formControlName="servicename" value="second" [(ngModel)]="serviceselect"><label for="radio_2"></label>

                            </td>
                            <td>
                                <img alt="SF" class="light-logo" height="100" src="assets/img/icon-8.png" width="100">                                
                            </td>
                            <td>
                                <label for="radio_2">
                                    The Global Dedicatd Resources Program A Smart Hand is an individual or team of specialized technicians with the required
                                    IT certifications &amp; skillsets to perform a field-level hardware or software support
                                    task. Smart Hands are most commonly used to provide support for: Servers, Storage, Networks,
                                    Desktops, IoT, Peripherals The Smart Hands program is a ‘hands and feet extension’ of
                                    your Level 2 support team. These engineers can perform instructed tasks independently,
                                    or work in conjunction with your team so that your level 2 team can be centrally located.
                                    The FSG Smart Hands program is available in all major regions and provides a cost-effective
                                    approach for delivering responsive field support.</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" id="radio_3" class="with-gap" formControlName="servicename" value="third" [(ngModel)]="serviceselect"><label for="radio_3"></label>

                            </td>
                            <td>
                                <img alt="SF" class="light-logo" height="100" src="assets/img/icon-6.png" width="100">                                
                            </td>
                            <td>
                                <label for="radio_3">
                                    The Global On Demand Logistics &amp; Export Compliance Program A Smart Hand is an individual or team of specialized technicians
                                    with the required IT certifications &amp; skillsets to perform a field-level hardware
                                    or software support task. Smart Hands are most commonly used to provide support for:
                                    Servers, Storage, Networks, Desktops, IoT, Peripherals The Smart Hands program is a ‘hands
                                    and feet extension’ of your Level 2 support team. These engineers can perform instructed
                                    tasks independently, or work in conjunction with your team so that your level 2 team
                                    can be centrally located. The FSG Smart Hands program is available in all major regions
                                    and provides a cost-effective approach for delivering responsive field support.
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            <div class="row">
                <div class="col-lg-12 text-right">
                    <button type="submit" [disabled]="!serviceForm.valid" class="btn btn-primary" style="margin-right: 40px;">Next &raquo;</button>
                </div>
            </div>
        </form>
    </div>
</div>