<form class="form-material" #commentForm="ngForm">
    <div class="row">
        <div class="col-sm" *ngIf="showMessageTypes === true">
            <select class="form-control" [(ngModel)]="messageType" name="messageType" (change)="onChangeMessageType();">
                <option value="">-- Select Message Type --</option>
                <option *ngFor="let type of messageTypes" [value]="type.value">
                    {{type.label}}
                </option>
            </select>
            <p [hidden]="!errorFlag" class="p-l-15 text-danger">Select message type</p>
        </div>
        <div class="col-sm">
            <input type="checkbox" id="makeItPublicPMS" [(ngModel)]="Is_Public__c" name="makeItPublicPMS" class="filled-in chk-col-red"
            />
            <label for="makeItPublicPMS">Mark it Public (PMS)</label>
        </div>
        <div class="col-sm">
            <input type="checkbox" id="makeItPublicVMS" [(ngModel)]="Is_Public_Job__c" name="makeItPublicVMS" class="filled-in chk-col-red"
            />
            <label for="makeItPublicVMS">Mark it Public (VMS)</label>
        </div>
        <div class="col-sm" *ngIf="!contentText">
            <input type="checkbox" id="enableRichText" class="filled-in chk-col-blue" [(ngModel)]="enableEditor" name="enableRichText"
            />
            <label for="enableRichText">Enable rich text editor</label>
        </div>
    </div>
    <div class="row m-t-15 m-b-15">
        <div class="col-12">
            <textarea *ngIf="!enableEditor" placeholder="Type your message here" class="form-control b-0" name="contentText" rows="10"
                (ngModelChange)="textChange($event, 'textarea')" [(ngModel)]="contentText"></textarea>
            <quill-editor *ngIf="enableEditor" [(ngModel)]="contentText" [modules]="editorModules" (onContentChanged)="textChange($event, 'quill')"
                [style]="{height: '250px'}" [required]="true" name="contentText" placeholder="Type your message here"></quill-editor>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-primary" [disabled]="errorMessFlag" (click)="send();">Send</button>
        </div>
    </div>
</form>