<div class="row">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <ngb-accordion #acc="ngbAccordion" activeIds="searchFilter" [destroyOnHide]="false">
          <ngb-panel class="pull-left" id="searchFilter" title="Search Filter" class="Cards-header ">
            <ng-template ngbPanelContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <label for="accountName" class="font-weight-bold">Case Number</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-group form-control custom-select" [(ngModel)]="filter.caseFilter" >
                    <option ngValue="NONE" selected>--None--</option> 
                    <option *ngFor="let case of (cases | unique: 'Partner_Case_Number__c')"  [ngValue]="case.Partner_Case_Number__c">{{case.Partner_Case_Number__c}}</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <label for="Quotes" class="font-weight-bold">Case Date</label>
                  </div>
                  <div class="col-md-4">

                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" [(ngModel)]="filter.caseDate" [value]="filter.caseDate" readonly="true">
                    <owl-date-time #dt1></owl-date-time>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-2">
                    <label class="font-weight-bold" for="Program">Program #</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-group form-control custom-select" [(ngModel)]="filter.programFilter" >
                    <option ngValue="NONE" selected>--None--</option>
                    <option *ngFor="let case of (cases | unique: 'program':'Name')" [ngValue]="case.program.sfdcId">{{case.program.Name}}</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <label for="Quotes" class="font-weight-bold"># of Jobsites</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-group form-control custom-select" [(ngModel)]="filter.jobsite" >
                    <option ngValue="NONE" selected>--None--</option>
                    <option *ngFor="let case of (cases | unique: 'Jobsite':'Name')" [ngValue]="case.Jobsite.sfdcId">{{case.Jobsite.Name}}</option>
                    </select>
                  </div>

                  
                </div>

                <div class="row">
                  <div class="col-md-2 offset-md-4">
                    <button class="form-group btn btn-secondary" (click)="filterCaseData(filter)">Search</button>
                  </div>
                  <div class="col-md-1">
                    <button class="form-group btn btn-secondary" (click)=filterReset()>Reset</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table color-table info-table">
          <thead>
            <tr>
              <th>Case Number</th>
              <th>Case Date</th>
              <th>Account Name</th>
              <th>Program</th>
              <th>Job Site</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let case of CaseFilter">
              <th>{{case?.Partner_Case_Number__c}}</th>
              <th>{{case?.createdAt | date:'shortDate'}}</th>
              <th>{{case?.Account?.Name}} </th>
              <th>{{case?.program?.Name}}</th>
              <th>{{case?.Jobsite?.Name}}</th>
          
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>