<div class="table-responsive scroll-div col-md-12">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Service Zone</th>
                <th>Service Zone (Service Code)</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let zone of serviceZones, let i = index">
                <td>
                    <input [id]="'zone' + i" [name]="servicezone" type="radio" [value]="zone.Name" (change)="toggleZone($event,zone)">
                    <label [for]="'zone' + i"></label>
                </td>
                <td>{{zone.Street__c}} ({{zone.GEO_Description__c}})</td>
                <td>{{zone.Name}}</td>
                <td>0.00Mi (0.00Km)</td>
            </tr>
        </tbody>
    </table>
</div>
<br/>