.round-img {
    background: #ffffff !important;
}

.wrap-margin {
    margin-left: 3.5rem !important;
}

.wrap-margin .text-muted { 
    margin-bottom: 5px !important;
}

.wrap-margin h4 {
    margin-bottom: 0px !important;
}

.custom-padding {
    padding: 5px 10px !important;
}

.custom-margin {
    padding: 5px !important; 
    margin-bottom: 0px !important;
}

.alert-no-color {
    color: #ffffff !important;
    border-color: #ffffff !important;
    background-color: transparent !important;
}