<header class="topbar">
    <!-- Navigation header -->
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-brand" (click)="onLogoClick()">
                <b><img src="assets/images/svg/logo-icon-white.svg" alt="SF" class="light-logo" width="40" height="40" /></b>
                <span>
                    <img src="assets/images/svg/logo-text-white.svg" class="light-logo" alt="{{webTitle}}" width="172" height="45" />
                </span>
            </a>
        </div>
        <!-- Navigation menu -->
        <div class="navbar-collapse">
            <!-- Toggler -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item" *ngIf="viewType == 'vms'">
                    <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="mdi mdi-menu"></i>
                    </a>
                </li>
                <li class="nav-item" *ngIf="viewType == 'vms'">
                    <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)">
                        <i class="ti-menu fa-2x"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mt-md-0" *ngIf="vendor && vendor.sfdcId">
                <li class="nav-item">
                    <div class="alert alert-no-color alert-dismissable custom-margin">
                        You are currently browsing as {{vendor.Name}}
                        <a class="close m-l-20" (click)="closeVendorView()">×</a>
                    </div>
                </li>
            </ul>
            <!-- Menu -->
            <ul class="navbar-nav my-lg-0">
                <!-- Home -->
                <li class="nav-item">
                    <a href="{{render}}" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-home-outline fa-2x"></span>
                        <br>
                        <span class="text-white">Home</span>
                    </a>
                </li>
                <!-- View as Vendor -->
                <li class="nav-item" *ngIf="accessType == 'internal' && viewType == 'vms'">
                    <a href="javascript:void(0);" (click)="open(viewAsVendor, 'xl', 'ViewAsVendor')" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-account-convert fa-2x"></span>
                        <br>
                        <span class="text-white">View as Vendor</span>
                    </a>
                </li>
                <!-- Switch to PMS/VMS -->
                <li class="nav-item" *ngIf="accessType == 'internal'">
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="{{toggleSwitch.url}}" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-account-switch fa-2x"></span>
                        <br>
                        <span class="text-white">{{toggleSwitch.title}}</span>
                    </a>
                </li>
                <!-- All Orders -->
                <li class="nav-item" *ngIf="viewType == 'pms' && accessType !== 'vendor'">
                    <a (click)="gotToOrderList()" href="javascript:void(0);" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-bulletin-board fa-2x"></span>
                        <br>
                        <span class="text-white">All Orders</span>
                    </a>
                </li>
                <!-- Invited Jobs -->
                <li class="nav-item" *ngIf="viewType == 'vms' || accessType == 'vendor'">
                    <a (click)="showJobs('invited')" href="javascript:void(0);" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-wallet-travel fa-2x"></span>
                        <br>
                        <span class="text-white">New Jobs</span>
                    </a>
                </li>
                <!-- Jobs List -->
                <li class="nav-item" *ngIf="viewType == 'vms' || accessType == 'vendor'">
                    <a (click)="showJobs('all')" href="javascript:void(0);" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi mdi-clipboard-text fa-2x"></span>
                        <br>
                        <span class="text-white">All Jobs</span>
                    </a>
                </li>
                <!-- Messages -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle u-dropdown text-muted waves-effect waves-dark text-center" href="" id="4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mdi  mdi-message-reply-text fa-2x"></span>
                        <br>
                        <span class="text-white">Message</span>
                    </a>
                    <div class="nav-link dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="4">
                        <ul>
                            <li>
                                <div class="drop-title">You have 4 new messages</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <!-- Message -->
                                    <a href="javascript:void(0);">
                                        <div class="user-img">
                                            <img src="assets/images/users/1.jpg" alt="user" class="img-circle">
                                            <span class="profile-status online pull-right"></span>
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5>
                                            <span class="mail-desc">Just see the my admin!</span>
                                            <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);">
                                    <strong>See all e-Mails </strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Notification -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark text-center" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mdi mdi-bell fa-2x"></span>
                        <span *ngIf="notification > 0" class="badge badge-count badge-danger pull-right">{{notification}}</span>
                        <br>
                        <span class="text-white">Notifications</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                        <app-notification-header></app-notification-header>
                    </div>
                </li>
                <!-- Help document -->
                <li class="nav-item">
                    <a class="nav-link text-muted waves-effect waves-dark text-center" (click)="downloadFile()">
                        <span class="text-white mdi mdi mdi-help-circle fa-2x"></span>
                        <br>
                        <span class="text-white">Help</span>
                    </a>
                </li>
                <!-- Profile -->
                <li class="nav-item dropdown" *ngIf="user">
                    <a class="nav-link dropdown-toggle u-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img *ngIf="user?.profileImage" class="round round-top round-img" src="{{imgpath}}/Containers/{{user?.id}}/download/{{user?.profileImage}}">
                        <span *ngIf="!user?.profileImage" class="round round-primary round-top">{{(user?.firstname) ? (user?.firstname.charAt(0).toUpperCase())
                            : ''}}{{(user?.lastname) ? (user?.lastname.charAt(0).toUpperCase()) :''}}
                        </span>
                        <br>
                        <span class="profile-status away pull-right">Me&nbsp;
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="row p-10 p-b-0">
                                    <div class="col-12">
                                        <div class="pull-left">
                                            <div *ngIf="user?.profileImage" class="user-img">
                                                <img class="round round-dropdown round-img" src="{{imgpath}}/Containers/{{user?.id}}/download/{{user?.profileImage}}" alt="user">
                                            </div>
                                            <div *ngIf="!user?.profileImage" class="user-img">
                                                <span class="round round-primary round-dropdown">{{(user?.firstname) ? (user?.firstname.charAt(0).toUpperCase())
                                                    : ''}}{{(user?.lastname) ? (user?.lastname.charAt(0).toUpperCase()) :''}}</span>
                                            </div>
                                        </div>
                                        <div class="text-wrap wrap-margin">
                                            <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                                            <p class="text-muted">{{user?.email}}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/app/users']">
                                    <i class="ti-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" (click)="logout()">
                                    <i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- End Topbar header -->

<!-- Forgot Password Modal -->
<button [hidden]="true" #openModel (click)="open(promptPasswordChange,'lg', '')"></button>
<ng-template #promptPasswordChange let-c="close" let-d="dismiss">
    <div class="modal-body">
        <app-forgotpassword></app-forgotpassword>
    </div>
</ng-template>

<!-- Vendor View Modal -->
<ng-template #viewAsVendor let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">View as vendor</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <!-- <i class="fa fa-search icon-color"></i> -->
                    <input type="text" class="form-control" placeholder='Search by name...' (keyup)='keyUp.next($event)' [(ngModel)]="txtAccountName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ngx-datatable #myTable class="material striped fixed-header expandable" [rows]="tableData" [loadingIndicator]="loadingIndicator"
                    [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="60" [footerHeight]="50" [rowHeight]="auto"
                    [scrollbarH]="true">
                    <ngx-datatable-column name="Account ID" prop="Company_Reference_code__c" [width]="300"></ngx-datatable-column>
                    <ngx-datatable-column name="Name" prop="Name" [width]="450"></ngx-datatable-column>
                    <ngx-datatable-column name="Action" [sortable]="false" [width]="220">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button class="btn btn-sm btn-info" (click)="showVendorView(row)">Set as Vendor</button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                            let-curPage="curPage" let-offset="offset">
                            <div style="padding: 5px 10px">
                                <div>
                                    Total: {{rowCount}}
                                </div>
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                            </datatable-pager>
                            <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                                <div>
                                    <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>
            </div>
        </div>
    </div>
</ng-template>