<div class="table-responsive posRelative">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th *ngIf="showRadioButtons">Select</th>
                <th *ngIf="!page">Administrator</th>
                <th>Jobsite #</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jobsite of jobsites, let i = index">
                <td *ngIf="showRadioButtons">
                    <input [checked]='jobsite.sfdcId == selectedJobsiteId' type="radio" name="jobsiteSelect" [id]="'rdoAcc' + i" [value]="jobsite.sfdcId"
                        (change)="selectJobsite(jobsite)">
                    <label [for]="'rdoAcc' + i"></label>
                </td>
                <td jobsiteBackground [jobsiteData]="jobsite" *ngIf="!page">
                    <a href="javascript:void(0)" (click)="openDetailPage(jobsiteDetail,'xl',jobsite)">Manage</a>
                </td>
                <td>{{jobsite?.Jobsite_ID__c}}</td>
                <td>{{jobsite?.Country__c}}</td>
                <td>{{jobsite?.City__c}}</td>
                <td>{{jobsite?.Street__c}}</td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #jobsiteDetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Manage Jobsite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <jobsite-detail [jobsite]="contentData" (listObjChanged)="refreshJobsiteList()"></jobsite-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>