<div class="table-responsive">
    <table class="table color-table info-table">
        <thead>
            <tr style="background-color: #e8d0d0">
                <th width="30%">Quote Number</th>
                <th width="30%">Revision</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quote of quotes">
                <td>
                    <a href="javascript:void(0)" (click)="openDetailPage(quoteDetail,'xl',quote)">{{quote?.Name}}</a>
                </td>
                <td>{{quote?.Quote_Version__c}}</td>
                <td>{{quote?.createdAt | date:'shortDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #quoteDetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Quote Manager</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <quote-detail [quote]="contentData"></quote-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>