<div class="row m-t-10">
    <div class="col" *ngIf="!isVendor">
        <label>Account</label>
    </div>
    <div class="col" *ngIf="!isVendor">
        <label>Program</label>
    </div>
    <div class="col">
        <label>Department</label>
    </div>
    <div class="col">
        <label>Group</label>
    </div>
    <div class="col">
        <label>Region</label>
    </div>
    <div class="col">
        <label>Shift Equivalent Schedule</label>
    </div>
</div>

<div class="row">
    <!--This is working when user type is internal and application is pms-->
    <div class="col" *ngIf="!isVendor">
        <select name="accountFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.account" (change)="onFilterChange('account')">
            <option *ngIf="isInternalUser" ngValue="">--None--</option>
            <option *ngFor="let account of ddlObj.accounts" [value]="account.sfdcId">{{account.Name}}</option>
        </select>
    </div>
    <!--This is not working when user type is vendor or partner-->
    <div class="col" *ngIf="!isVendor">
        <select name="programFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.program" (change)="onFilterChange('program')">
            <option ngValue="">--None--</option>
            <option *ngFor="let program of ddlObj.programs" [value]="program.sfdcId">{{program.Project__c}} {{program.Name}}</option>
        </select>
    </div>
    <div class="col">
        <select name="departmentFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.department" (change)="onFilterChange('department')">
            <option ngValue="">--None--</option>
            <option *ngFor="let department of ddlObj.departments" [value]="department.sfdcId">{{department.Name}}</option>
        </select>
    </div>
    <div class="col">
        <select name="groupFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.group" (change)="onFilterChange('group')">
            <option ngValue="">--None--</option>
            <option *ngFor="let group of ddlObj.groups" [value]="group.sfdcId">{{group.Name}}</option>
        </select>
    </div>
    <div class="col">
        <select name="regionFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.region" (change)="onFilterChange('region')">
            <option ngValue="">--None--</option>
            <option *ngFor="let region of ddlObj.regions" [value]="region.name">{{region.name}}</option>
        </select>
    </div>
    <div class="col">
        <select name="shiftEquScheduleFilter" class="form-control custom-select" [(ngModel)]="ddlSelectedObj.shiftEquSchedule" (change)="onFilterChange('shiftEquSchedules')">
            <option ngValue="">--None--</option>
            <option *ngFor="let shiftEquSchedule of ddlObj.shiftEquSchedules" [value]="shiftEquSchedule.sfdcId">{{shiftEquSchedule.Name}}</option>
        </select>
    </div>
</div>
<div class="row  m-t-10 m-b-5">
    <!--This is working when user type is internal and application is vms-->
    <div class="col-10" *ngIf="isInternalUser && isVendor">
        <button type="button" class="btn btn-sm btn-info m-r-10" (click)="showAccountList(AccountListPopup, 'lg')">Select Account</button>
        <span class="text-bold" *ngIf="accountNameArr.length" >Selected Account: </span>
        <span *ngFor="let name of accountNameArr let i = index">
            <span class="vl" *ngIf="i>0">,</span>
            <span>{{name}}</span>
        </span>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-sm" (click)="reset()">Reset Filter</button>
    </div>
</div>



<!-- expanded view modal -->
<ng-template #AccountListPopup let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h3 class="modal-title">Account List</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card-body">
            <app-account-type [accountType]="'Vendor'" [isMultiSelect]="false" (setAccountArr)="getAccountArr($event)"></app-account-type>
        </div>

    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
    </div> -->
</ng-template>