<div class="border-t">
    <br>

    <ngb-accordion #acc="ngbAccordion" activeIds="woDetails,workOrderLineDetails" [destroyOnHide]="false">
        <ngb-panel title="Work Order Details" id="woDetails">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-3 text-bold">Work Order#:</div>
                    <div class="col-3">{{data?.workOrder?.Name}}</div>
                    <div class="col-3 text-bold">Date:</div>
                    <div class="col-3">{{data?.workOrder?.CreatedDate}}</div>

                    <div class="col-3 m-t-10 text-bold">PMS Case:</div>
                    <div class="col-3 m-t-10">{{data?.CaseNumber}}</div>
                    <div class="col-3 m-t-10 text-bold">Partner Account Name:</div>
                    <div class="col-3 m-t-10">{{data?.workOrder?.partner?.Name}}</div>

                    <div class="col-3 m-t-10 text-bold">Record Type:</div>
                    <div class="col-3 m-t-10">{{data?.workOrder?.RecordType?.Name}}</div>
                    <div class="col-3 m-t-10 text-bold">Program:</div>
                    <div class="col-3 m-t-10">{{data?.workOrder?.program?.Name}}</div>

                    <div class="col-3 m-t-10 text-bold">Project:</div>
                    <div class="col-3 m-t-10">{{data?.workOrder?.JobsiteProject?.Name}} </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Work Order Line Details" id="workOrderLineDetails">
            <ng-template ngbPanelContent>
                <app-wo-line-details [woLineData]="workOrderLine"></app-wo-line-details>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>