<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel id="ngb-panel-0" title="Time Card">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-3 text-bold">Customer Approval Status</div>
        <div class="col-3">{{timeCardData?.Customer_Approval_Status__c}}</div>
        <div class="col-3 text-bold">IRON Approval Status</div>
        <div class="col-3">{{timeCardData?.Status__c}}</div>
      </div>
      <div class="row m-t-15">
        <div class="col-3 text-bold">Vendor</div>
        <div class="col-3">{{timeCardData?.vendor?.Name}}</div>
        <div class="col-3 text-bold">Worker</div>
        <div class="col-3">{{timeCardData?.worker?.Name}}</div>
      </div>
      <div class="row  m-t-15">
        <div class="col-3 text-bold">Timesheet Week Number (ISO)</div>
        <div class="col-3">{{timeCardData?.Timesheet_Week_Number_ISO_Auto__c}}</div>
        <div class="col-3 text-bold">Total Worked Hours (Without Offset)</div>
        <div class="col-3">{{timeCardData?.Total_Worked_Hours_Without_Offset__c}}</div>
      </div>
      <div class="row  m-t-15">
        <div class="col-3 text-bold">Total Worked Hours (With Offset)</div>
        <div class="col-3">{{timeCardData?.Total_Worked_Hours__c}}</div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>