<ngb-accordion #acc="ngbAccordion" activeIds="pricelistfilters,pricelistdetails" [destroyOnHide]="false">
    <!-- Filter panel for price list -->
    <ngb-panel id="pricelistfilters" title="Search Filter">
        <ng-template ngbPanelContent>
            <br>
            <div class="col-md-12 search-filter">

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Program Name</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.program" (change)="onProgramChange(searchFilter.program, false, $event)">
                                    <option *ngFor="let c of searchFilter.programs" [ngValue]="c.sfdcId">{{c.Project__c}} {{c.Name}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" *ngIf="page == 'pricelist-manager'">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">PriceList</label>
                            <div class="col-md-6 ">
                                <span>{{priceListName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row ">
                            <label class="form-group col-md-4 font-weight-bold">Service Engineer Talent Type</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.talentType">
                                    <option Value="" selected="true">--None--</option>
                                    <option *ngFor="let c of searchFilter.talentTypes" [ngValue]="c.Name">{{c.Talent_Type_Name__c}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="Partner" class="form-group col-md-4 font-weight-bold">Service Engineer (Technical level) </label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.technicalLevel">
                                    <option Value="" selected="true">--None--</option>
                                    <option *ngFor="let c of searchFilter.technicalLevels" [ngValue]="c.sfdcId">{{c.Name}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Coverage Hours</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.coverageHour">
                                    <option Value="" selected="true">--None--</option>
                                    <option *ngFor="let c of searchFilter.coverageHours" [ngValue]="c.sfdcId">{{c.Name}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label for="jobsite" class="form-group col-md-4 font-weight-bold">Dispatch SLA Priority</label>
                            <div class="col-md-6 ">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.slaPriority">
                                    <option Value="" selected="true">--None--</option>
                                    <option *ngFor="let c of searchFilter.slaPriorities" [ngValue]="c.sfdcId">{{c.sfdcId}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <label class="form-group col-md-4 font-weight-bold">Country</label>
                            <div class="col-md-6">
                                <select class="form-control custom-select" [(ngModel)]="searchFilter.country">
                                    <option Value="" selected="true">--None--</option>
                                    <option *ngFor="let c of searchFilter.countries" [ngValue]="c.Name">{{c.Country__c}} ({{c.Name}})</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-primary btn-sm mRight" (click)="filterPricelist()"> Search</button>
                        <button type="button" (click)="resetFilters()" class="btn btn-primary btn-sm"> Reset </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
    <br>
    <!-- Price list item details list -->
    <ngb-panel id="pricelistdetails" title="Price List">
        <ng-template ngbPanelContent>
            <div class="text-right m-b-5">
                <button type="button" class="btn btn-sm mRight editColumn" i18n>
                    <i class="fa fa-th"></i> Edit Columns
                </button>
                <div class="dd-column-selector">
                    <li *ngFor='let col of allColumns' class="p-l-5">
                        <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
                        <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
                    </li>
                </div>
                <button *ngIf="!errorMessage" class="btn btn-sm" (click)="exportCSV()">
                    <i class="fa fa-download"></i> CSV</button>
            </div>
            <ngx-datatable #myTable class="material striped doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'standard'"
                [limit]="itemsPerPage" [headerHeight]="80" [footerHeight]="50" [rowHeight]="auto">

                <div *ngFor="let col of columns">
                    <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">
                        <ng-template *ngIf="col.prop === 'Product_Id'" let-row="row" ngx-datatable-cell-template>
                            <div>
                                {{row.Product_Id}}
                            </div>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Product_Name'" let-row="row" ngx-datatable-cell-template>
                            {{row.Product_Name}}
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Master_Program'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage"> {{programName}} </span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Talent_Type'" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.Talent_Type}}</span>
                            <span *ngIf="userType != 'partner' && row.SKU">( {{row.SKU}} )</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Technical_Level'" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.Technical_Level}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Dispatch_SLA'" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.Dispatch_SLA}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Coverage_Hours'" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.Coverage_Hours}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Country__c'" let-row="row" ngx-datatable-cell-template>
                            <span>{{row.Country__c}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'Technical_Level'" let-row="row" ngx-datatable-cell-template>

                        </ng-template>

                        <ng-template *ngIf="col.prop === 'PPE_1HR'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (row.PPE_1HR == 0)">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.PPE_1HR != 0">{{row.PPE_1HR | number : '1.2-2'}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'PPE_2HR'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (!row.PPE_2HR || row.PPE_2HR == '0')">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.PPE_2HR != '0'">{{row.PPE_2HR | number : '1.2-2'}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'PPE_3HR'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (!row.PPE_3HR || row.PPE_3HR == '0')">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.PPE_3HR != '0'">{{row.PPE_3HR | number : '1.2-2'}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'PPE_4HR'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (!row.PPE_4HR || row.PPE_4HR == '0')">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.PPE_4HR != '0'">{{row.PPE_4HR | number : '1.2-2'}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'PPE_8HR'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (!row.PPE_8HR || row.PPE_8HR == '0')">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.PPE_8HR != '0'">{{row.PPE_8HR | number : '1.2-2'}}</span>
                        </ng-template>

                        <ng-template *ngIf="col.prop === 'T_M_Standard_Price'" let-row="row" ngx-datatable-cell-template>
                            <span *ngIf="!errorMessage && (!row.T_M_Standard_Price || row.T_M_Standard_Price == '0')">
                                <i class="fa fa-times text-danger"></i>
                            </span>
                            <span *ngIf="row.T_M_Standard_Price !='0' ">{{row.T_M_Standard_Price | number : '1.2-2'}}</span>
                        </ng-template>

                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                            let-curPage="curPage" let-offset="offset">
                            <div style="padding: 5px 10px">
                                <div>
                                    Total: {{errorMessage ? '0': rowCount}}
                                </div>
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                            </datatable-pager>
                            <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                                <div>
                                    <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-footer>
                </div>
            </ngx-datatable>

        </ng-template>
    </ngb-panel>
</ngb-accordion>