<div class="row">
    <div class="col-md-12 text-center">
        <div class="headermsg">
            <b>Service Manager: Service Manager Dashboard (PMS)</b>
        </div>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-md-3 leftScrollDiv">
        <service-manager-left-panel page="service-manager-dashboard"></service-manager-left-panel>
    </div>
    <div class="col-md-9 set-min-height">
        <div class="card">
            <ngb-tabset type="pills" justify="justified">
                <ngb-tab title="PMS Chart">
                    <ng-template ngbTabContent>
                        <div class="card-body border-t">
                            <div class="row m-t-15">
                                <div class="col-md-6 text-center">
                                    <h3>Number of Cases Created</h3>
                                </div>
                            </div>
                            <div class="row">
                                <ngx-charts-bar-vertical *ngIf="chartData.yearly.length" [view]="view" [tooltipDisabled]="false" [results]="chartData.yearly"
                                    [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
                                    [showYAxisLabel]="true" xAxisLabel="Months" yAxisLabel="Number of Cases">
                                    <ng-template #tooltipTemplate let-model="model">
                                        {{model.name}}<br />
                                        Cases Created: {{model.value}}
                                    </ng-template>
                                </ngx-charts-bar-vertical>

                                <div *ngIf="errorMessage.yearly" class="col-md-6 text-center alert alert-warning m-t-5">
                                    {{errorMessage.yearly}}
                                </div>
                            </div>
                            <div class="row" *ngIf="chartData.yearly.length">
                                <div class="col-md-1 text-center card">
                                    <strong>Cases Created</strong>
                                </div>
                                <div class="col-md-1 text-center card" *ngFor="let month of chartData.yearly">
                                    <strong>{{month.name}}</strong>
                                    <label>{{month.value}}</label>
                                </div>
                            </div>
                            <div class="row m-t-20">
                                <div class="col-md-6 text-center">
                                    <h3>Cases Created by Jobsite Country</h3>
                                </div>
                            </div>
                            <div class="row">
                                <ngx-charts-pie-chart *ngIf="chartData.country.length" [view]="view" [results]="chartData.country" [legend]="true" [explodeSlices]="false"
                                    [labels]="true" [doughnut]="false" [gradient]="false">
                                    <ng-template #tooltipTemplate let-model="model">
                                        {{model.name}}<br />
                                        {{model.value}}
                                    </ng-template>
                                </ngx-charts-pie-chart>
                                <div *ngIf="errorMessage.country" class="col-md-6 text-center alert alert-warning m-t-5">
                                    {{errorMessage.country}}
                                </div>
                            </div>
                            <div class="row m-t-20">
                                <div class="col-md-6 text-center">
                                    <h3>Cases by Type</h3>
                                </div>
                            </div>
                            <div class="row">
                                <ngx-charts-bar-vertical-stacked *ngIf="chartData.caseType.length" [view]="view" [results]="chartData.caseType" [gradient]="false"
                                    [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                                    xAxisLabel="Month" yAxisLabel="Number of Cases by Record type">                                    
                                </ngx-charts-bar-vertical-stacked>
                                <div *ngIf="errorMessage.caseType" class="col-md-6 text-center alert alert-warning m-t-5">
                                    {{errorMessage.caseType}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Download">
                    <ng-template ngbTabContent>
                        <div class="card-body border-t">
                            <div class="row m-t-15">
                                <div class="col-md-6 text-center">
                                    <span>PMS Dashboard</span>
                                </div>
                                <div class="col-md-6 text-center">
                                    <span class="icon-color icon-size mdi mdi-file-excel" (click)="downloadFile()"></span>
                                    <span>(Ready for Download)</span>
                                </div>
                            </div>
                            <div class="row m-t-10" *ngIf="downloadError">
                                <div class="col-md-12 text-center alert alert-warning m-t-5">
                                    {{downloadError}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>