
@media (min-width: 1024px){
    .page-wrapper{
      margin-left: 410px;
      padding-top: 0;
      margin-right: 5px;
  }
}

.container-fluid{
  min-height: 1050px !important;
}

.divListView{
  position: relative;
}

.fix-header .page-wrapper{
  padding: 0;
}