<div class="table-responsive scroll-div metrovendor">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>No.</th>
                <th *ngIf="!canSelect">Pre-Selected</th>
                <th *ngIf="canSelect">Select</th>
                <th>Project Name</th>
                <th>Project #</th>
                <th>Service Technical Level</th>
                <th>Talent Type</th>
                <th>SLA</th>
                <th>Service Zone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of ironProfiles, let i = index" [class]="provider.Class">
                <td>{{i+1}}</td>
                <td>
                    <input type="radio" name="provider" [id]="'rdoIPro' + i" [value]="provider" [checked]="provider.isSelected" *ngIf="provider.isSelected || canSelect"
                        (change)="onSelectServiceProvider(provider)">
                    <label [for]="'rdoIPro' + i"></label>
                </td>
                <td>
                    {{provider.project.TalentType.Talent_Type_Name__c + ' (' + provider.project.TalentType.Name + ')'}}
                </td>
                <td>
                    {{provider.project.Project__c}}
                </td>
                <td>
                    {{provider.project.Service_Technical_Level__c}}
                </td>
                <td>
                    {{provider.project.TalentType.Talent_Type_Name__c}}
                </td>
                <td>
                    {{provider.project.SLA__c}}
                </td>
                <td>{{provider?.MetroVirtualVendorPool?.GeoMetro?.Name}}</td>
            </tr>
            <tr *ngIf="ironProfiles.length == 0" class="alert alert-warning m-t-5">
                <td colspan="8">No record found.</td>
            </tr>
        </tbody>
    </table>
</div>