<div class="table-responsive scroll-div">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th *ngIf="isInput">Show Provider</th>
                <th>No.</th>
                <th>Jobsite #</th>
                <th>Service Type</th>
                <th>Service Engineer Talent Type</th>
                <th>Service Engineer (Technical Level)</th>
                <th>Dispatch SLA Priority</th>
                <th>Coverage Hours</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of providers, let i = index">
                <td *ngIf="isInput">
                    <input type="radio" name="showProvider" [id]="'showProvider' + i" [checked]="provider == dataproviders && (dataproviders.vendorID || dataproviders.isSelected)"
                        [value]="provider.isSelected" (change)="selectProvider(provider)">
                    <label [for]="'showProvider' + i"></label>
                </td>
                <td>{{i+1}}</td>
                <td>{{provider.jobsite}}</td>
                <td>{{provider.Service_Type__c}}</td>
                <td>{{provider.talentType}}</td>
                <td>{{provider.technicalLevel}}</td>
                <td>{{provider.slaPriority}}</td>
                <td>{{provider.coverageHrs}}</td>
               
            </tr>
            <tr *ngIf="providers.length == 0" class="alert alert-warning m-t-5">
                <td colspan="7">No record found.</td>
            </tr>
        </tbody>
    </table>
</div>