<div class="table-responsive scroll-div metrovendor">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>No.</th>
                <th *ngIf="!canSelect">Pre-Selected</th>
                <th *ngIf="canSelect">Select</th>
                <th>Match</th>
                <th>Vendor Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zip</th>
                <th>Service Zone</th>
                <th>Service Technical Level</th>
                <th>Talent Type</th>
                <th>SLA</th>
                <th>Rating</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of globalProfiles, let i = index" [class]="provider.Class">
                <td>{{i+1}}</td>
                <td>
                    <input type="radio" name="provider" [id]="'rdoPro' + i" [value]="provider" [checked]="provider.isSelected" *ngIf="provider.isSelected || canSelect"
                        (change)="onSelectServiceProvider(provider)">
                    <label [for]="'rdoPro' + i"></label>
                </td>
                <td>
                    {{provider.Match}}
                </td>
                <td>
                    {{provider?.account?.Name}}
                </td>
                <td>
                    {{provider?.account?.ShippingStreet}}
                </td>
                <td>
                    {{provider?.account?.ShippingCity}}
                </td>
                <td>{{provider?.account?.ShippingState}}</td>
                <td>
                    {{provider?.account?.ShippingCountry}}
                </td>
                <td>
                    {{provider?.account?.ShippingPostalCode}}
                </td>
                <td>{{provider?.GeoMetro?.Name}}</td>
                <td>
                    {{provider.Service_Technical_Level__c}}
                </td>
                <td>
                    {{provider.TalentType.Talent_Type_Name__c}}
                </td>
                <td>
                    {{provider.SLA__c}}
                </td>
                <td>
                    {{provider.Vendor_Rating__c}}
                </td>
                <td>
                    {{provider.distance}} Mi
                </td>
            </tr>
            <tr *ngIf="globalProfiles.length == 0" class="alert alert-warning m-t-5">
                <td colspan="16">No record found.</td>
            </tr>
        </tbody>
    </table>
</div>