<div class="row">
	<div class="col-md-12">
		<h3 class="step-title">{{headTitle}}</h3>
		<!-- <div class="headermsg">
      		<b>{{headTitle}} {{isLoadBar}}</b>
    	</div> -->
	</div>
</div>
<div class="card m-t-15" *ngIf="isLoadProgressBar">
	<div class="card-content">
		<div class="tab-wizard wizard-circle wizard clearfix">
			<div class="steps clearfix">
				<ul class="clearfix bootstrapWizard form-wizard" role="tablist">
					<li role="tab" *ngFor="let item of wizardsteps; index as i" [ngClass]="{'current': active==i+1? true : false,'done':active>i+1? true : false}">
						<a>
							<span class="step">{{i+1}}</span>
							<span class="title">{{item.name}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>