<div class="m-t-15" *ngIf="job">
    <ngb-accordion [closeOthers]="false" activeIds="hardwareArrivalDispatchPanel, hardwareArrivalLogisticsPanel, hardwareAssetPanel, hardwareAssetRackPanel"
        class="no-bottom-border" [destroyOnHide]="false">
        <!-- HARDWARE ARRIVAL DETAILS - DISPATCH -->
        <ngb-panel id="hardwareArrivalDispatchPanel" title="(555) SERVICE PARTS (FRU) DISPATCH: HARDWARE ARRIVAL DETAILS">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Does this Job require Service Parts</strong>
                            <p>{{job.Does_this_Job_require_Service_Parts__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Service Parts Local Pickup Required</strong>
                            <p>{{job.Service_Parts_Local_Pickup_Required__c}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- HARDWARE ARRIVAL DETAILS - LOGISTICS -->
        <ngb-panel id="hardwareArrivalLogisticsPanel" title="(655) NEW EQUIPMENT LOGISTICS: HARDWARE ARRIVAL DETAILS">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Does this Job require New Equip Hardware</strong>
                            <p>{{job.Does_this_Job_require_New_Equip_Hardware__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Equipment Local Pickup Required</strong>
                            <p>{{job.Equipment_Local_Pickup_Required__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Equipment Delivery Date (ETA)</strong>
                            <p>{{job.Equipment_Delivery_Date_ETA__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Equipment Tracking</strong>
                            <p>{{job.Equipment_Tracking__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Equipment Delivery Time (ETA) - Hours</strong>
                            <p>{{job.Equipment_Delivery_Time_ETA_Hours__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Equipment Delivery Time (ETA) - Minutes</strong>
                            <p>{{job.Equipment_Delivery_Time_ETA_Minutes__c}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- ASSET INFORMATION -->
        <ngb-panel id="hardwareAssetPanel" title="(725) ASSET INFORMATION">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">SKU</strong>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Asset Model</strong>
                            <p>{{job.Asset_Model__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Asset Name</strong>
                            <p>{{job.Asset_Name__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Asset Serial</strong>
                            <p>{{job.Asset_Serial__c}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- HARDWARE ASSET RACK LOCATION -->
        <ngb-panel id="hardwareAssetRackPanel" title="HARDWARE ASSET RACK LOCATION">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack</strong>
                            <p>{{job.Rack__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack Kit (Top of Switch)</strong>
                            <p>{{job.Rack_Kit_Top_of_Switch__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack Serial</strong>
                            <p>{{job.Rack_Serial__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack Side</strong>
                            <p>{{job.Rack_Side__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack Sub Position</strong>
                            <p>{{job.Rack_Sub_Position__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Rack Sub Position Slot</strong>
                            <p>{{job.Rack_Sub_Position_Slot__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Suite</strong>
                            <p>{{job.Suite__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Row</strong>
                            <p>{{job.Row__c}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<div class="card-body" *ngIf="errorMessage">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>