<div class="container">
    <ngb-accordion #acc="ngbAccordion" activeIds="timecardDetailId" [destroyOnHide]="false">
        <ngb-panel class="pull-left" id="timecardDetailId" title="Timecard Detail" class="Cards-header ">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-3 font-weight-bold">Time #</div>
                    <div class="col-3">{{timeCard?.timecard?.Name}}</div>
                    <div class="col-3 font-weight-bold">Account Name</div>
                    <div class="col-3">{{timeCard?.accountName}}</div>
                </div>
                <div class="row m-t-15">
                    <div class="col-3 font-weight-bold">Worker Name</div>
                    <div class="col-3">{{timeCard?.Job_Worker__c}}</div>
                    <div class="col-3 font-weight-bold">Visit Number</div>
                    <div class="col-3">{{timeCard?.Total_Visit_Hours__c}}</div>
                </div>
                <div class="row m-t-15">
                    <div class="col-3 font-weight-bold">Final Visit?</div>
                    <div class="col-3">{{timeCard?.Timecard_Received_Final__c}}</div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>