<div class="border-t">
	<div class="btn-group-ver m-t-10 noborder col-md-12">
		<div class="row">
			<div class="col-12">
				<button class="disabled-button">Dispatch FRU Cases (3PL/FRU)</button>
			</div>
        </div>
        <div class="row">
			<div class="col-12">
				<button class="disabled-button">Hardware Field Asset Recovery (FAR) Cases (3PL/Asset Recovery)</button>
			</div>
        </div>
        <div class="row">
			<div class="col-12">
				<button class="disabled-button">Hardware Asset Returns Cases (3PL/Returns)</button>
			</div>
        </div>
        <div class="row">
			<div class="col-12">
				<button class="disabled-button">Hardware Depot FSL Cases (3PL/FSL)</button>
			</div>
        </div>
	</div>
</div>