.btn-group-ver button {
    background-color: #CCC; 
    border: 1px solid #bdb9b9;    
    padding: 4px 8px; 
    cursor: pointer; 
    width: 100%; 
    display: block; 
    text-align: left;
}

.btn-group-ver button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
/* .btn-group-ver button:hover {
    background-color:#d8d6d6;
} */

.active-button {
    background-color: #fff !important;
}

.active-button:hover {
    background-color: #1e88e5 !important;
}

.disabled-button{
    cursor: not-allowed;
    pointer-events: none;
}

.text-bold {
    font-weight: bold;
}

.error-Icon {
    font-size:23px;color:red;
}
.succes-Icon {
    font-size:23px;color:green;
}

.noborder div{
    padding: 0% !important
} 
