<div class="row">
	<div class="col-md-12 text-center">
		<div class="headermsg">
			<h3>Service Manager (Dispatch FSE) Console (Order List)</h3>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-body">
		<!--Filter Div-->
		<div class="row">
			<div class="col-md-12 text-center">
				<service-manager-filters page="Order" (filterDataList)='filterDataList($event)'></service-manager-filters>
			</div>
		</div>
		<!---End-->
		<!--For Edit Columns and Refresh div-->
		<div class="row m-t-10">
			<div class="col-12 text-right">
				<button type="button" class="btn btn-sm mRight editColumn" i18n>
					<i class="fa fa-th"></i> Edit Columns
				</button>
				<div class="dd-column-selector">
					<li *ngFor='let col of allColumns' class="p-l-5">
						<input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
						<label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
					</li>
				</div>
				<button type="button" class="btn btn-sm mRight" (click)="refreshView();" i18n>
					<i class="fa fa-refresh"></i> Refresh
				</button>
				<button class="btn btn-sm" *ngIf="tableData[0] && !tableData[0]['message']" (click)="exportCSV()">
					<i class="fa fa-download"></i>CSV</button>
			</div>
		</div>
		<!--End-->
		<!--For NGX-datatable div-->
		<div class="m-t-5" id="dataTable">
			<form class="form-material">
				<ngx-datatable #myTable class="material striped fixed-header fullscreen" [ngClass]="(tableData[0] && !tableData[0]['message'])  ? 'doubleScroll' : 'singleScroll'"
				 [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="100"
				 [footerHeight]="50" [rowHeight]="'auto'" ngx-resize-watcher>
					<!-- Row Detail Template -->
					<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
						<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
							<div class="expand-row">
								<div class="row">
									<div class="col-md-3">Case Number: {{row?.CaseNumber}}</div>
									<div class="col-md-3">Account Name : {{row?.partnerName}}</div>
									<div class="col-md-3">Status: {{row?.workOrderStatus__c}}</div>
									<div class="col-md-3">Case Origin: {{row?.Origin}}</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-md-3">Case Summary : {{row?.Case_Summary__c}}</div>
									<div class="col-md-3">Case Subject : {{row?.Subject}} </div>
									<div class="col-md-3">IRON PMS Case Number : {{row?.Iron_Case_Number__c}}</div>
									<div class="col-md-3">Program : {{row?.programName}}</div>
								</div>
								<br/>
								<div class="row">
									<div class="col-md-3">Partner Case Number : {{row?.workOrderPartner_PO_Number__c}}</div>
									<div *ngIf="isInternalUser" class="col-md-3">Case RecordType : {{row?.RecordTypeName}}</div>
									<div class="col-md-3">WO Summary : {{row?.workOrderWork_Summary__c}}</div>
									<div class="col-md-3">WO Health Status : {{row?.workOrderInstructions__c }}</div>
								</div>

								<div *ngIf="isInternalUser" class="row">
									<div class="col-md-3">Create Case : N/A</div>
									<div class="col-md-3">Case Health Status : N/A</div>
									<div class="col-md-3">Create Job : N/A</div>
									<div class="col-md-3">Job Health Status : N/A</div>
								</div>
							</div>
						</ng-template>
					</ngx-datatable-row-detail>

					<div *ngFor="let col of columns">
						<ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">
							<ng-template *ngIf="col.name == 'Action'" let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
								<a *ngIf="tableData[0] && !tableData[0]['message']" href="javascript:void(0)" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
									<i *ngIf="!expanded" class="mdi mdi-plus icon-size"></i>
									<i *ngIf="expanded" class="mdi mdi-minus icon-size"></i>
								</a> &nbsp;
								<a *ngIf="tableData[0] && !tableData[0]['message']" href="javascript:;" (click)="openMessageTab(row.id)" style="float: right !important;">
									<i class="mdi mdi-message-text icon-size"></i>
								</a>
							</ng-template>
							<ng-template *ngIf="col.name != 'Action'" let-column="column" let-sort="sortFn" ngx-datatable-header-template>
								<span class="datatable-header-cell-wrapper float-left">
									<span class="datatable-header-cell-label draggable" (click)="sort()">
										{{col.name}}
									</span>
								</span>
								<div class="input-group float-right form-material" *ngIf="col.type !='date'">
									<input type="text" class="form-control t-search-tb" [id]="col.prop" placeholder="Type to search..." name="col.prop" [(ngModel)]="filterObj[col.prop]"
									 (keyup)='filterData($event,"text")' [ngModelOptions]="{standalone: true}">
									<span class="input-group-btn">
										<a class="dataTable-cross" (click)="clearSearch(col.prop);" href="javascript:void(0);">
											<i class="fa fa-times suffex"></i>
										</a>
									</span>
								</div>
								<div class="input-group float-right form-material" *ngIf="col.type =='date'">
									<input [owlDateTimeTrigger]="dt" class="form-control t-search-tb" placeholder="Select to search..." [id]="col.prop" [owlDateTime]="dt"
									 (dateTimeChange)='filterData($event,"date")' readonly="true" [(ngModel)]="col.value" [ngModelOptions]="{standalone: true}">
									<owl-date-time #dt [pickerType]="'calendar'"></owl-date-time>
									<span class="input-group-btn">
										<a class="dataTable-cross" (click)="clearSearch(col.prop); col.value='';" href="javascript:void(0);">
											<i class="fa fa-times suffex"></i>
										</a>
									</span>
								</div>
							</ng-template>

							<ng-template *ngIf="col.prop == 'CaseNumber'" let-row="row" ngx-datatable-cell-template>
								<a href="javascript:void(0);" *ngIf="row.sfdcId" (click)="redirectToDetails(row.id)">
									<span class="job-title">{{row.CaseNumber}}</span>
								</a>
								<span *ngIf="tableData[0]['message']">{{row.CaseNumber}}</span>
							</ng-template>
							<ng-template *ngIf="col.prop == 'workOrderName'" let-row="row" ngx-datatable-cell-template>
								<a *ngIf="row.sfdcId" [routerLink]="['/pms/service-manager/list-details', row.id]">
									<span>{{row.workOrderName}}</span>
								</a>
							</ng-template>
							<ng-template *ngIf="col.prop == 'CaCaseNumber'" let-row="row" ngx-datatable-cell-template>
								<a *ngIf="row.sfdcId" [routerLink]="['/pms/service-manager/list-details', row.id]">
									<span>{{row.CaCaseNumber}}</span>
								</a>
							</ng-template>
							<ng-template *ngIf="col.prop == 'Case_Summary__c'" let-row="row" ngx-datatable-cell-template>
								<div *ngIf="row.sfdcId">
									<span #summary [title]="row?.Case_Summary__c">
										{{row?.Case_Summary__c}}
									</span>
									<a href="javascript;" readMore [readMore-length]="30" [title]="row?.Case_Summary__c" [readMore-element]="summary">
										<span class="less">&laquo;</span>
										<span class="more">...&raquo;</span>
									</a>
								</div>
							</ng-template>
							<ng-template *ngIf="col.prop == 'programName'" let-row="row" ngx-datatable-cell-template>
								<div *ngIf="row.sfdcId">
									<span #pName [title]="row?.programName">
										{{row?.programName}}
									</span>
									<a href="javascript;" readMore [readMore-length]="30" [readMore-element]="pName">
										<span class="less">&laquo;</span>
										<span class="more">...&raquo;</span>
									</a>
								</div>
							</ng-template>
							<ng-template *ngIf="col.prop == 'JobsiteName'" let-row="row" ngx-datatable-cell-template>
								<div *ngIf="row.sfdcId">
									<span #jName [title]="row?.JobsiteName">{{row?.JobsiteName}}</span>
									<a href="javascript;" readMore [readMore-length]="30" [readMore-element]="jName">
										<span class="less">&laquo;</span>
										<span class="more">...&raquo;</span>
									</a>
								</div>
							</ng-template>
						</ngx-datatable-column>
					</div>
					<ngx-datatable-footer>
						<ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
						 let-curPage="curPage" let-offset="offset">
							<div style="padding: 5px 10px">
								<div>
									Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
								</div>
							</div>
							<datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
							 [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
							 (change)="myTable.onFooterPage($event)">
							</datatable-pager>
							<div style="padding: 5px 10px" class="ml-auto" *ngIf="moreRecords">
								<div>
									<button type="button" class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
								</div>
							</div>
						</ng-template>
					</ngx-datatable-footer>
				</ngx-datatable>
			</form>
		</div>
		<!--End-->
	</div>
</div>