<div class="table-responsive ">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Created By</th>
                <th>Sales Order</th>
                <th>Comment</th>
                <th>Comment By</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of caseComment">

                <td>{{item.contact?.LastName}}</td>
                <td>{{item.order?.Name}}</td>
                <td>{{item.Case_Comment_Body__c}}</td>
                <td>{{item.contact?.LastName}} </td>
            </tr>
        </tbody>
    </table>
</div>