<div class="m-t-15" *ngIf="job">
    <ngb-accordion [closeOthers]="false" activeIds="WorkerPlanningCheckist, WorkerVisitCheckin, TimecardPanel, DeliverablePanel, SendWorkerMessagePanel"
        class="no-bottom-border" [destroyOnHide]="false">
        <!-- PRE-VISIT PLANNING CHECK-LIST -->
        <ngb-panel id="WorkerPlanningCheckist" title="PRE-VISIT PLANNING CHECK-LIST">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="col-sm-12 header-padding">
                    <h4 class="section-title">JOB READINESS</h4>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <strong class="text-muted">Special Instructions</strong>
                            <p>Display special instructions here. KEEP IT UP TO 2 LINES, AND WRAP THE REST UNDER MORE (EXAPND/COLLAPSE)
                                TO SAVE SCREEN SPACE
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 header-padding">
                    <h4 class="section-title">APPOINTMENT (PRE-VISIT PLANNING MEETING)</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong class="text-muted">Display Time</strong>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">Mode?</strong>
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="col-sm-12 header-padding">
                    <h4 class="section-title">APPOINTMENT (CUSTOMER VISIT ACKNOWLEDGEMENT)</h4>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong class="text-muted">Display Time</strong>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">24 Hours Advance Acknowledgement</strong>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">4 Hours Advance Acknowledgement</strong>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">Parts Pickup Required</strong>
                        <p>{{(job.Service_Parts_Local_Pickup_Required__c == 1)? 'Yes':'No'}}</p>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- VISIT CHECK-IN STATUS -->
        <ngb-panel id="WorkerVisitCheckin" title="VISIT CHECK-IN STATUS">
            <ng-template ngbPanelContent class="m-t-0">
                <form novalidate [formGroup]="formAppointmentStatus" (ngSubmit)="updateAppointmentStatus()" class="form-material">
                    <div class="row m-t-5">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker En Route (Departure)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt10" [owlDateTimeTrigger]="dt10" class="form-control no-opacity" formControlName="Worker_Departure_Date_Time_Actual__c"
                                    readonly="true" (dateTimeChange)="onDateChange('Departure')" name="Worker_Departure_Date_Time_Actual"
                                    [(ngModel)]="Worker_Departure_Date_Time_Actual" />
                                <owl-date-time #dt10></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Arrived (Check In)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input class="form-control no-opacity" [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" formControlName="Worker_Arrival_Date_Time_Actual__c"
                                    readonly="true" [min]="minArrivalDate" (dateTimeChange)="onDateChange('Arrival')" name="Worker_Arrival_Date_Time_Actual"
                                    [(ngModel)]="Worker_Arrival_Date_Time_Actual" />
                                <owl-date-time #dt11></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Started (In-Progress)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" class="form-control no-opacity" formControlName="Worker_InProgress_Start_DateTime_Actual__c"
                                    readonly="true" [min]="minProgressDate" (dateTimeChange)="onDateChange('Progress')" name="Worker_InProgress_Start_DateTime_Actual"
                                    [(ngModel)]="Worker_InProgress_Start_DateTime_Actual" />
                                <owl-date-time #dt12></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Complete (Check Out)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt13" [owlDateTimeTrigger]="dt13" class="form-control no-opacity" formControlName="Worker_Finish_Date_Time_Actual__c"
                                    readonly="true" [min]="minFinishDate" name="Worker_Finish_Date_Time_Actual" [(ngModel)]="Worker_Finish_Date_Time_Actual"
                                />
                                <owl-date-time #dt13></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row p-10">
                        <div class="col">
                            <button class="btn btn-info pull-right ml-2 mRight" type="submit">START NEW VISIT</button>
                            <button class="btn btn-danger pull-right" (click)="this.formAppointmentStatus.reset()">RESET</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-panel>
        <!-- DELIVERABLE -->
        <ngb-panel id="DeliverablePanel" title="DELIVERABLE">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-sm-12">
                        <div *ngIf="job.deliverable">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="section-title">{{job.deliverable.Name}}</h3>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-6">
                                    <strong class="text-muted">Deliverable Type</strong>
                                    <p>{{job.deliverable.Deliverable_Type__c}}&nbsp;</p>
                                </div>
                                <div class="col-sm-6">
                                    <strong class="text-muted">File Upload Required?
                                    </strong>
                                    <p>{{(job.deliverable.File_upload_required__c == 1) ? 'Yes' : 'No' }}&nbsp;</p>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-sm-12">
                                    <strong class="text-muted">Description</strong>
                                    <p>{{job.deliverable.Description__c}}&nbsp;</p>
                                </div>
                                <div class="col-sm-12 m-b-10">
                                    <strong class="text-muted">Instructions</strong>
                                    <p>{{job.deliverable.Instructions__c}}&nbsp;</p>
                                </div>
                                <div class="col-sm-12 m-b-10">
                                    <strong class="text-muted">Status</strong>
                                    <p>{{job.Deliverable_Status__c}}&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!job.deliverable">
                            <div class="alert alert-warning m-t-5">
                                No Deliverable required for this job.
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- TIMECARD -->
        <ngb-panel id="TimecardPanel" title="TIMECARD">
            <ng-template ngbPanelContent>
                <div>
                    <app-timecard-list modelName="Job" modelId="{{job.sfdcId}}"></app-timecard-list>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- Send Message -->
        <ngb-panel id="SendWorkerMessagePanel" title="Send Message">
            <ng-template ngbPanelContent>
                <app-message-post modelName="Job" modelId="{{job?.id}}" messageType="worker-visit-status" showMessageTypes="false"></app-message-post>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
<div class="card-body" *ngIf="errorMessage">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>