<form novalidate [formGroup]="formAppointmentWorker" (ngSubmit)="updateAppointment()" class="form-material">
	<input formControlName="sfdcId" class="form-control form-control-line" type="hidden">
	<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2,ngb-panel-3,ngb-panel-4">
		<ngb-panel id="ngb-panel-0" title="Information">
			<ng-template ngbPanelContent>
				<div class="row">
					<div class="col-md-12 p-b-20 text-center">
						<button *ngIf="!isEdit" class="btn btn-success mRight" type="button" (click)="edit(true)">Edit</button>
						&nbsp;
						<button *ngIf="isEdit" class="btn btn-success mRight" type="button" (click)="edit(false)">Cancel</button>
						&nbsp;
						<button *ngIf="isEdit" class="btn btn-success" type="submit">Update</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>Appointment #</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.Name}}&nbsp;</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>Job</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.Job?.Name}}&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>Partner</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.Account?.Name}}&nbsp;</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>PMS Case</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.appointment?.Case?.CaseNumber}}&nbsp;</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>Work Order</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.workOrder?.Name}}&nbsp;</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>ICC Case</label>
							</div>
							<div class="col-md-6">{{caseAppointment?.appointment?.PMSCase?.CaseNumber}}&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label>Customer Appointment Setup Required</label>
							</div>
							<div class="col-md-4">{{(caseAppointment?.Customer_Appointment_Setup_Required__c) ? 'Yes' : 'No'}}&nbsp;</div>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>

		<ngb-panel id="ngb-panel-1" title="Worker Visit Appointment Request">
			<ng-template ngbPanelContent>
				<div class="row">
					<div class="col-md-4">
						<strong>Worker Arrival DateTime (Cust Requested)</strong>
					</div>
					<div class="form-group col-md-4" *ngIf="!isEdit">
						{{appointment?.Worker_Arrival_Date_Customer_Requested__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_Arrival_Hours_Customer_Requested__c
						,appointment?.Worker_Arrival_Minute_Customer_Requested__c) }}

					</div>
					<div class="form-group col-md-4" *ngIf="isEdit">
						<div class="input-group">
							<input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control read-only" formControlName="Worker_Arrival_Date_Customer_Requested__c"
							 [value]="Worker_Arrival_Date_Customer_Requested__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2" *ngIf="isEdit">
						<select class="form-control" formControlName="Worker_Arrival_Hours_Customer_Requested__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
							<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2" *ngIf="isEdit">
						<select class="form-control" formControlName="Worker_Arrival_Minute_Customer_Requested__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="ngb-panel-2" title="End-Customer Appointment">
			<ng-template ngbPanelContent>
				<div class="row">
					<div class="col-md-4">
						<strong>Customer Appointment DateTime(Scheduled)</strong>

					</div>
					<div class="form-group col-md-4" *ngIf="!isEdit">
						{{appointment?.Customer_Appointment_DateTime_Scheduled__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Customer_Appointment_Start_HRS_Scheduled__c
						, appointment?.Customer_Apptmnt_Start_Minutes_Scheduled__c) }}

					</div>
					<div class="form-group col-md-4" *ngIf="isEdit">
						<div class="input-group">
							<input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control read-only" formControlName="Customer_Appointment_DateTime_Scheduled__c"
							 [value]="Customer_Appointment_DateTime_Scheduled__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2" *ngIf="isEdit">
						<select class="form-control" formControlName="Customer_Appointment_Start_HRS_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
									<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2" *ngIf="isEdit">
						<select class="form-control" formControlName="Customer_Apptmnt_Start_Minutes_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="ngb-panel-3" title="Worker Appointment">
			<ng-template ngbPanelContent>
				<div class="row" *ngIf="!isEdit">
					<div class="col-md-4">
						<strong>Worker Arrival DateTime (Scheduled)</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_Arrival_Date_Scheduled__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_Arrival_Time_Hours_Scheduled__c
						, appointment?.Worker_Arrival_Time_Minutes_Scheduled__c) }}

					</div>
					<div class="col-md-4">
						<strong>Worker End DateTime (Scheduled)</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_End_Date_Scheduled__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_End_Time_Hours_Scheduled__c
						, appointment?.Worker_End_Time_Minutes_Scheduled__c) }}
					</div>
				</div>
				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker Arrival DateTime (Scheduled)</strong>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" class="form-control read-only" formControlName="Worker_Arrival_Date_Scheduled__c"
							 [value]="Worker_Arrival_Date_Scheduled__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_Arrival_Time_Hours_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
													<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>

					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_Arrival_Time_Minutes_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker End DateTime (Scheduled)</strong>
					</div>

					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" class="form-control read-only" formControlName="Worker_End_Date_Scheduled__c"
							 [value]="Worker_End_Date_Scheduled__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_End_Time_Hours_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
											<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_End_Time_Minutes_Scheduled__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="ngb-panel-4" title="Worker Visit">
			<ng-template ngbPanelContent>
				<div class="row" *ngIf="!isEdit">
					<div class="col-md-4">
						<strong>Worker Arrival Date/Time (Actual)</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_Arrival_Date_Time_Actual__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_Arrival_Hours_Actual__c
						, appointment?.Worker_Arrival_Minutes_Actual__c) }}

					</div>

					<div class="col-md-4">
						<strong>Worker Finish Date/Time (Actual)</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_Finish_Date_Time_Actual__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_Finish_Time_Hour_Actual__c
						, appointment?.Worker_Finish_Time_Minutes_Actual__c) }}

					</div>

				</div>
				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker Arrival Date/Time (Actual)</strong>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" class="form-control read-only" formControlName="Worker_Arrival_Date_Time_Actual__c"
							 [value]="Worker_Arrival_Date_Time_Actual__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt5></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_Arrival_Hours_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
										<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_Arrival_Minutes_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker Finish Date/Time (Actual)</strong>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt6" [owlDateTimeTrigger]="dt6" class="form-control read-only" formControlName="Worker_Finish_Date_Time_Actual__c"
							 [value]="Worker_Finish_Date_Time_Actual__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2">

						<select class="form-control" formControlName="Worker_Finish_Time_Hour_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
										<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_Finish_Time_Minutes_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>
				<div class="row" *ngIf="!isEdit">
					<div class="col-md-4">
						<strong>Worker In Progress Start DateTime(Actual)</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_InProgress_Start_DateTime_Actual__c | date: 'shortDate'}} {{ parseDateTime(appointment?.Worker_In_Progress_Start_Hour_Actual__c
						, appointment?.Worker_In_Progress_Start_Minute_Actual__c) }}

					</div>

					<div class="col-md-4">
						<strong>Worker Departure Date Time Actual</strong>
					</div>
					<div class="form-group col-md-2">
						{{appointment?.Worker_Departure_Date_Time_Actual__c | date: 'shortDate'}}

					</div>

				</div>

				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker In Progress Start DateTime(Actual)</strong>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt7" [owlDateTimeTrigger]="dt7" class="form-control read-only" formControlName="Worker_InProgress_Start_DateTime_Actual__c"
							 [value]="Worker_InProgress_Start_DateTime_Actual__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt7></owl-date-time>
						</div>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_In_Progress_Start_Hour_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let hrs of hours, let i=index" [value]="(i
										<10) ? '0'+i : i">{{(i
								<10) ? '0'+i : i}}</option>
						</select>
					</div>
					<div class="form-group col-md-2">
						<select class="form-control" formControlName="Worker_In_Progress_Start_Minute_Actual__c">
							<option value="-1"> --None--</option>
							<option *ngFor="let mnt of minuts, let i=index" [value]="(i*15==0) ? '0'+i : (i*15)">{{(i*15==0) ? '0'+i : (i*15)}}
							</option>
						</select>
					</div>
				</div>

				<div class="row" *ngIf="isEdit">
					<div class="col-md-4">
						<strong>Worker Departure Date Time Actual</strong>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input [owlDateTime]="dt8" [owlDateTimeTrigger]="dt8" class="form-control read-only" formControlName="Worker_Departure_Date_Time_Actual__c"
							 [value]="Worker_Departure_Date_Time_Actual__c | date: 'shortDate'" readonly="true">
							<owl-date-time [pickerType]="'calendar'" #dt8></owl-date-time>
						</div>
					</div>
					<!-- <div class="form-group col-md-2">
						<input class="form-control" formControlName="Worker_End_Time_Hours_Scheduled__c">
					</div>
					<div class="form-group col-md-2">
						<input class="form-control" formControlName="Worker_End_Time_Minutes_Scheduled__c">
					</div> -->
				</div>

			</ng-template>
		</ngb-panel>

	</ngb-accordion>
	<div class="row">
		<div class="col-md-12 p-20 text-center">
			<button *ngIf="!isEdit" class="btn btn-success mRight" type="button" (click)="edit(true)">Edit</button>
			&nbsp;
			<button *ngIf="isEdit" class="btn btn-success mRight" type="button" (click)="edit(false)">Cancel</button>
			&nbsp;
			<button *ngIf="isEdit" class="btn btn-success" type="submit">Update</button>
		</div>
	</div>
</form>