<span *ngFor="let grid of grdOptions; let i=index">
    <div [className]="grid.gClass.class" *ngIf="grid.gModule" id="{{i+1}}">
        <div class="grid-box">
            <div class="row">
                <div class="col-md-8">
                    <h4>{{grid.gTitle}}</h4>
                </div>
                <div class="col-md-4 text-right">
                    <a class="modifyPanel" href="javascript:void(0)" (click)="restoreGridPanel(grid)" title="Set default">
                        <i class="fa fa-window-restore"></i>
                    </a>
                    &nbsp;
                    <a class="modifyPanel" href="javascript:void(0)" (click)="controlGridPanel(grid)" [title]="grid.gMTitle">
                        <i [class]="grid.gIconClass"></i>
                    </a>
                    &nbsp;
                    <a href="javascript:void(0)" (click)="closeGridPanel(grid)" title="Close">
                        <i class="fa fa-close"></i>
                    </a>
                </div>
            </div>
            <!-- Loading pricelist-detail component -->
            <app-pricelist-detail *ngIf="grid.gModule =='pricelist' && grid.gLevel== 1" (loadPriceListItemDetail)="callParentPanel($event)"
                [modelId]="grid.id"></app-pricelist-detail>
            <!-- End of Loading pricelist-detail component -->
            <!-- Loading pricelistitem-detail component -->
            <app-pricelistitem-detail *ngIf="grid.gModule =='pricelist' && grid.gLevel==2" modelName="pricelist" IsActiveLink="false"
                [modelId]="grid.id"></app-pricelistitem-detail>
            <!-- End of Loading pricelistitem-detail component -->
            <!-- Loading account-detail component -->
            <app-account-detail *ngIf="grid.gModule =='account' && grid.gLevel== 1" [modelId]="grid.id"></app-account-detail>
            <!-- End of Loading account-detail component -->
        </div>
    </div>
</span>