<ngb-tabset type="pills">
    <!-- 3PS Compliance Section  -->
    <ngb-tab title="3PS Compliance">
        <ng-template ngbTabContent>
            <compliance query='3PS'></compliance>
        </ng-template>
    </ngb-tab>
    <!-- 3PL Compliance Section  -->
    <ngb-tab title="3PL Compliance">
        <ng-template ngbTabContent>
            <compliance query='3PL'></compliance>
        </ng-template>
    </ngb-tab>
    <!-- 3PS/3PL Both Compliance Section  -->
    <ngb-tab title="3PS/3PL Both">
        <ng-template ngbTabContent>
            <compliance query='BOTH'></compliance>
        </ng-template>
    </ngb-tab>
</ngb-tabset>