<nav class="sidebar-nav border">
  <ul id="sidebarnav">
    <li>
      <a class="head font-weight-bold">
        <span> Setup </span>
      </a>
    </li>
    <li>
      <a>
        <span class="hide-menu">Program Setup</span>
      </a>
    </li>
    <li>
      <a>
        <span class="hide-menu " i18n>Department Setup</span>
      </a>
    </li>
    <li>
      <a [routerLinkActiveOptions]="{exact: true} " routerLinkActive="active " routerLink="/pms/delivery-manager/workplace-setup">
        <span class="hide-menu " i18n>Group / Team Setup</span>
      </a>
    </li>
  </ul>
</nav>