a.active {
    background: #1e88e5 !important;
}
ul li :hover {
    background-color: #3f9def !important;
    color: #fff;    
}
ul li {
    border-bottom: 1px solid lightgray !important;
}
.sidebar-nav {
    background: #fff !important;
    color: black;    
}
.head{
    background-color: #3f9def !important;
    color: #fff !important;
}