<div class="row">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <ngb-accordion #acc="ngbAccordion" activeIds="searchFilter" [destroyOnHide]="false">
          <ngb-panel class="pull-left" id="searchFilter" title="Search Filter" class="Cards-header ">
            <ng-template ngbPanelContent>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    <label for="accountName" class="font-weight-bold">Workorder Name</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-group form-control custom-select" [(ngModel)]="filter.workOrderFilter">
                    <option ngValue="NONE" selected>--None--</option>
                    <option *ngFor="let workOrder of (WorkOrders )" [ngValue]="workOrder.sfdcId">{{workOrder.Name}}</option>
                    </select>

                  </div>

                  <div class="col-md-2">
                    <label class="font-weight-bold" for="Program">Program #</label>
                  </div>
                  <div class="col-md-4">
                    <select class="form-group form-control custom-select" [(ngModel)]="filter.programFilter" >
                    <option ngValue="NONE" selected>--None--</option>
                    <option *ngFor="let workOrder of (WorkOrders | unique: 'program' : 'Project__c')"  [ngValue]="workOrder.program.sfdcId">{{workOrder.program.Project__c}}</option>
                    <!-- <option *ngFor="let workOrder of (WorkOrders | unique: 'Project__c')" [ngValue]="workOrder.sfdcId">{{workOrder.Project__c}}</option> -->
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-2">
                    <label for="workOrders" class="font-weight-bold">Workorder Date</label>
                  </div>
                  <div class="col-md-4">
                    
                  <input class="form-control"  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"  placeholder="Date From" [(ngModel)]="filter.workOrdersStartDate" readonly="true">
                  <owl-date-time  #dt1></owl-date-time>
                  </div>
                  <div class="col-md-2">
                    <label for="workOrders" class="font-weight-bold">To</label>
                  </div>
                  <div class="col-md-4">
                      <input class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date To" [(ngModel)]="filter.workOrdersEndDate" [disabled]='filter.workOrdersStartDate == ""' readonly="true">
                      <owl-date-time #dt2></owl-date-time>
                  </div>
                
                </div>
               <br>
                <div class="row">
                  <div class="col-md-2 offset-md-4">
                    <button class="form-group btn btn-secondary" (click)="filterData(filter)">Search</button>
                  </div>
                  <div class="col-md-1">
                    <button class="form-group btn btn-secondary" (click)=filterReset()>Reset</button>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table color-table info-table">
          <thead>
            <tr>
              <th>Work Order Number</th>
              <th>Work Order Date</th>
              <th>Program</th>
              <th>Job Site</th>
              <th>Work Order Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let workOrder of workOrderFilter ">
              <td>{{workOrder?.Name}}</td>
              <td>{{workOrder?.createdAt | date:'shortDate'}}</td>
              <td>{{workOrder?.program?.Project__c}}</td>
              <td>{{workOrder?.JobsiteProject?.Name}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>