<div class="row">
    <div class="col font-weight-bold">
        Partner:
    </div>
    <div class="col">{{(isShowProgram) ? partnerName : ''}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Program:
    </div>
    <div class="col">{{(isShowProgram) ? programName : ''}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Program Code :
    </div>
    <div class="col">{{(isShowProgram) ? programCode : ''}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Number of Jobsites for the program :
    </div>
    <div class="col">{{(isShowProgram) ? jobsiteCount : ''}}</div>
</div>