<div class="border-t noborder">
	<div class="btn-group-ver m-t-10 col-md-12 table-responsive">
		<table class="table" cellspacing=0 cellpadding=0 width="100%">
			<tbody>
				<tr>
					<td colspan="4">
						<h5>Dispatch FRU Cases (3PL/FRU)</h5>
					</td>
				</tr>
				<tr>
					<td nowrap>
						<button type="button" class="active-button">Standard Parts Only Request</button>
					</td>
					<td nowrap>
						<button class="active-button">Standard Parts Case - Internal</button>
					</td>
					<td nowrap>
						<button class="active-button">3PL/FRU/Assetsite/Standard Case</button>
					</td>
					<td nowrap>
						<button class="active-button">3PL/FRU/Assetsite/Standard Case (ICC)</button>
					</td>
				</tr>
				<tr>
					<td nowrap>
						<button class="active-button">3PL/FRU/Assetsitecontract/Standard Case</button>
					</td>
					<td nowrap>
						<button class="active-button">Create 3PL/FRU/Assetsite/Standard Case</button>
					</td>
					<td nowrap>
						<button class="active-button">Create Premium Parts and FE Case</button>
					</td>
					<td nowrap>
						<button class="active-button">Create Standard Parts Case</button>
					</td>
				</tr>
				<tr>
					<td nowrap colspan="4">
						<h5>Hardware Field Asset Recovery (FAR) Cases (3PL/Asset Recovery)</h5>
					</td>
				</tr>
				<tr>
					<td nowrap colspan="4">
						<button class="active-button">Field Asset Recovery Management </button>
					</td>
				</tr>
				<tr>
					<td nowrap colspan="4">
						<h5>Hardware Asset Returns Cases (3PL/Returns)</h5>
					</td>
				</tr>

				<tr>
					<td nowrap colspan="2">
						<button class="active-button">Iron RMA Returns & Failure Analysis</button>
					</td>
					<td nowrap colspan="2">
						<button class="active-button">Failure Analysis</button>
					</td>
				</tr>

				<tr>
					<th nowrap colspan="4">
						<h5>Hardware Depot FSL Cases (3PL/FSL)</h5>
					</th>
				</tr>


				<tr>
					<td nowrap>
						<button class="active-button">FSL Management</button>
					</td>
					<td>
						<button class="active-button">Failure Analysis</button>
					</td>
					<td nowrap>
						<button class="active-button">FSL Short On Inventory</button>
					</td>
					<td nowrap>
						<button class="active-button">FSL Activation</button>
					</td>
				</tr>
				<tr>
					<td colspan="4" class="noborder">
						<div class="text-center">
							<input class="btn  btn-primary mRight" type="button" value="Print">
							<input class="btn  btn-primary" type="button" value="Email">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>