<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-divider"></li>
                <li class="nav-small-cap">Menu</li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/admin">
                        <i class="mdi mdi-account-circle"></i>
                        <span class="hide-menu">My Profile</span>
                    </a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/admin/department">
                        <i class="mdi mdi-settings"></i>
                        <span class="hide-menu" i18n>Settings</span>
                    </a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/admin/document-categories">
                        <i class="mdi mdi-phone-in-talk"></i>
                        <span class="hide-menu" i18n>Customer Care</span>
                    </a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/admin/document-title">
                        <i class="mdi mdi-help-circle"></i>
                        <span class="hide-menu" i18n>FAQ's</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->