
@media (min-width: 1024px){
    .page-wrapper{
      margin-left: 0;
  }
}

.header-background{
  background-color: #ffffff !important;
}

.content-padding{
  padding: 0.25rem !important;
}
ngx-datatable {
  height: calc(70vh - 110px);        
}
ngx-datatable.ngxHasData{
   height: auto;
}
ngx-datatable.ngxHasData datatable-body{
   height: auto !important;
   max-height: calc(70vh - 110px);
}