<div class="border-t">
  <br>
  <ngb-accordion #acc="ngbAccordion" activeIds="jobDetails" [destroyOnHide]="false">
      <ngb-panel title="Job Details" id="jobDetails">
          <ng-template ngbPanelContent>
              <div class="row">
                  <div class="col-3 text-bold">Service Dispatch Status</div>
                  <div class="col-3">{{jobData?.Job?.Job_Status_Internal__c}}</div>
                  <div class="col-3 m-t-10 text-bold">Iron Job #</div>
                  <div class="col-3 m-t-10">{{jobData?.Job?.Iron_Job_num__c}}</div>

                  <div class="col-3 text-bold">Problem Summary</div>
                  <div class="col-3">{{jobData?.Job?.csum__c}}</div>
                  <div class="col-3 m-t-10 text-bold"> Purchase Order ID</div>
                  <div class="col-3 m-t-10">{{jobData?.Job?.Work_Order__c}}</div>

                  <div class="col-3 m-t-10 text-bold">Problem Description</div>
                  <div class="col-3 m-t-10">{{jobData?.Job?.CKSW_BASE__Description__c}}</div>
                  <div class="col-3 m-t-10 text-bold">Service Schedule</div>
                  <div class="col-3 m-t-10">{{jobData?.Job?.Field_Service_Schedule_ETA_Date__c | date: 'short'}}</div>

                  <div class="col-3 m-t-10 text-bold">Customer Contact Name</div>
                  <div class="col-3 m-t-10">{{jobData?.Job?.Location_Name__c}}</div>
              </div>
          </ng-template>
      </ngb-panel>
  </ngb-accordion>
</div>