<div class="container">
    <ngb-accordion #acc="ngbAccordion" activeIds="salesOrderDetailId" [destroyOnHide]="false">
        <ngb-panel class="pull-left" id="salesOrderDetailId" title="Sales Order Detail" class="Cards-header ">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-3 font-weight-bold">Sales Order Number</div>
                    <div class="col-3">{{salesOrder?.Sales_Order_Number__c}}</div>
                    <div class="col-3 font-weight-bold">Account Name</div>
                    <div class="col-3">{{salesOrder?.accountName}}</div>
                </div>
                <div class="row m-t-15">
                    <div class="col-3 font-weight-bold">Currency</div>
                    <div class="col-3">{{salesOrder?.CurrencyIsoCode}}</div>
                    <div class="col-3 font-weight-bold">Count of Line Items (SO)</div>
                    <div class="col-3">{{salesOrder.Count_of_Order_Items__c}}</div>
                </div>
                <div class="row m-t-15">
                    <div class="col-3 font-weight-bold">PPE Hours (SO)</div>
                    <div class="col-3">{{salesOrder.SO_PPE_Hours__c | number:'1.2-2'}}</div>
                    <div class="col-3 font-weight-bold">Sales Order Start Date</div>
                    <div class="col-3">{{salesOrder?.Sales_Order_Start_Date__c | date:'shortDate'}}</div>
                </div>
                <div class="row m-t-15">
                    <div class="col-3 font-weight-bold">Total Visit Hours Reference(PPE+Overage)</div>
                    <div class="col-3">{{salesOrder?.SO_Already_Invoiced_Hours__c| number:'1.2-2'}}</div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>