<!-- <div class="row m-t-20 m-l-20">
    <div class="col-sm-6">
        <h3 class="text-themecolor">
            <i class="fa fa-list-ul"></i> Dashboard
        </h3>
    </div>
</div> -->

<div class="col-sm-12 mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xlg-3" *ngFor="let data of dashboardData">
                <div class="card card-inverse" [ngClass]="{'card-danger': data.key == 'Open', 'card-success': data.key == 'Completed', 'card-info': data.key == 'Invited'}">
                    <div class="box text-center">
                        <h1 class="font-light text-white">{{data.value}}</h1>
                        <h6 class="text-white">Total {{data.key}} Jobs</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>