/*body{background:#fff;font-family:Open Sans,sans-serif;font-size:12px}*/

.upload-popup {
    /*    width:100%;border-radius:15px;box-shadow:1px 2px 10px hsla(0,0%,4%,.2)*/
}

.upload-popup .popup-container {
    padding-bottom: 20px
}

.upload-popup .popup-container h1 {
    color: #65619c;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0
}

.upload-popup .popup-container .drop-container {
    border: 3px dashed #ededed;
    width: 100%;
    padding: 50px 0;
    border-radius: 10px;
    margin: 20px 0 0
}

.upload-popup .popup-container .drop-container h1 {
    width: 100%;
    display: block;
    color: #65619c;
    font-weight: 700;
    font-size: 20px;
    text-align: center
}

.upload-popup .popup-container .drop-container p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #cbccd8;
    font-weight: 700
}

.upload-popup .popup-container .drop-container p span {
    display: block;
    float: left
}

.upload-popup .popup-container .drop-container.is-drop-over {
    background: #4d6182
}

.upload-popup .popup-container .drop-container .upload-button {
    display: block;
    float: left;
    text-decoration: underline;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 4px
}

.upload-popup .popup-container .drop-container .upload-button input {
    display: none
}

.upload-popup .popup-container .uploads .upload-item {
    margin: 20px 0
}

.upload-popup .popup-container .uploads .upload-item .upload-item-top {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    height: 20px;
    position: relative
}

.upload-popup .popup-container .uploads .upload-item .upload-item-top .filename {
    color: #65619c;
    display: block;
    float: left
}

.upload-popup .popup-container .uploads .upload-item .upload-item-top .progress-data {
    color: #a29fc4;
    display: block;
    float: right;
    margin-right: 30px
}

.upload-popup .popup-container .uploads .upload-item .upload-item-top .x {
    display: block;
    width: 16px;
    height: 16px;
    color: #c11161;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer
}

.upload-popup .popup-container .uploads .upload-item .progress-bar-container {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #d7d8d7;
    margin: 3px 0;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.upload-popup .popup-container .uploads .upload-item .progress-bar-container .bar {
    z-index: 1;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background: #65619c
}

.upload-popup .popup-container .uploads .upload-item .progress-bar-container .bar.green {
    background: #93e777
}