<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel id="ngb-panel-0" title="Account Detail">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Account Name</label>
            </div>
            <div class="col-md-6">{{account.Name}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>AX Account Number</label>
            </div>
            <div class="col-md-6">{{account.Account_Number__c}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Price Book Name</label>
            </div>
            <div class="col-md-6">{{account.pricelist?.Name}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label> Master Project</label>
            </div>
            <div class="col-md-6">{{account.program?.Name}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Webcase Account Name</label>
            </div>
            <div class="col-md-6">{{account.Webcase_Account_Name__c}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>IRON Service Global Account ID</label>
            </div>
            <div class="col-md-6">{{account.Service_Global_Ref__c}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing Street</label>
            </div>
            <div class="col-md-6">{{account.BillingStreet}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Shipping Street</label>
            </div>
            <div class="col-md-6">{{account.ShippingStreet}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing City</label>
            </div>
            <div class="col-md-6">{{account.BillingCity}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Shipping City</label>
            </div>
            <div class="col-md-6">{{account.ShippingCity}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing State/Province</label>
            </div>
            <div class="col-md-6">{{account.BillingState}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label> Shipping State/Province</label>
            </div>
            <div class="col-md-6">{{account.ShippingState}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing Country</label>
            </div>
            <div class="col-md-6">{{account.BillingCountry}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Shipping Country</label>
            </div>
            <div class="col-md-6">{{account.ShippingCountry}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing Zip/Postal Code</label>
            </div>
            <div class="col-md-6">{{account.BillingPostalCode}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Shipping Zip/Postal Code</label>
            </div>
            <div class="col-md-6">{{account.ShippingPostalCode}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Billing country Code</label>
            </div>
            <div class="col-md-6">{{account.Billing_country_Code__c}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label>Shipping country Code</label>
            </div>
            <div class="col-md-6">{{account.Shipping_country_Code__c}}
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>

</ngb-accordion>