<br>
<ngb-accordion #acc="ngbAccordion" activeIds="newcase, standard, billing, workorder">
    <ngb-panel id="newcase" title="Add New Case Comment">
        <ng-template ngbPanelContent>
            <new-comment></new-comment>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="comments">
        <ng-template ngbPanelTitle>
            <div class="row" style="margin-top: -25px; margin-left: 10px;">
                <div class="col-md-6">Case Comments</div>
                <div class="col-md-6 text-right">
                    <i class="mdi mdi-reload" (click)="$event.stopPropagation();$event.preventDefault();"></i>
                </div>

            </div>
        </ng-template>
        <ng-template ngbPanelContent>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="standard" title="Standard Cases">
        <ng-template ngbPanelContent>
            <standard-case-list></standard-case-list>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="billing" title="Billing Cases">
        <ng-template ngbPanelContent>
            <ngb-tabset type="pills" justify="justified">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <i>Billing/Sales Order - </i>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <billing-comment></billing-comment>
                    </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="isInternalUser">
                    <ng-template ngbTabTitle>
                        <i>Billing/Purchase Order - </i>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <p></p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="workorder" title="Work Order and Case Details">
        <ng-template ngbPanelContent>
            <workorder-case-detail></workorder-case-detail>
        </ng-template>
    </ngb-panel>
</ngb-accordion>