<form novalidate [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" class="form-horizontal form-material">
    <div class="form-group" [ngClass]="{'has-danger': updatePasswordForm.controls['password'].invalid && (updatePasswordForm.get('password').touched || updatePasswordForm.get('password').dirty)}">
        <label class="col-md-12">Old Password</label>
        <div class="col-md-12">
            <input formControlName="password" class="form-control form-control-line" type="password">
            <div class="form-control-feedback text-danger" *ngIf="updatePasswordForm.get('password').invalid && (updatePasswordForm.get('password').touched || updatePasswordForm.get('password').dirty)">
                Password is required.
            </div>
        </div>
    </div>
    <div class="form-group" [ngClass]="{'has-danger': updatePasswordForm.controls['npassword'].invalid && (updatePasswordForm.get('npassword').touched || updatePasswordForm.get('npassword').dirty)}">
        <label class="col-md-12">New Password</label>
        <div class="col-md-12">
            <input formControlName="npassword" class="form-control form-control-line" type="password">
            <div class="form-control-feedback text-danger" *ngIf="updatePasswordForm.get('npassword').invalid && (updatePasswordForm.get('npassword').touched || updatePasswordForm.get('npassword').dirty)">
                New password is required with length of 8 character.
                <br/> Password must contain at least one character, one number and one special character.
            </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-danger': updatePasswordForm.controls['cpassword'].invalid && (updatePasswordForm.get('cpassword').touched || updatePasswordForm.get('cpassword').dirty)}">
        <label class="col-md-12">Confirm New Password</label>
        <div class="col-md-12">
            <input formControlName="cpassword" class="form-control form-control-line" type="password">
            <div class="form-control-feedback text-danger" *ngIf="updatePasswordForm.get('cpassword').invalid && (updatePasswordForm.get('cpassword').touched || updatePasswordForm.get('cpassword').dirty)">
                Confirm new password is required with length of 8 character.
                <br/> Passwords do not match!.
                <br/> Password must contain at least one character, one number and one special character.
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary waves-effect waves-light" [disabled]="!updatePasswordForm.valid">Change Password</button>
        </div>
    </div>
</form>