<div class="row">
    <div class="col font-weight-bold">
        Service Type:
    </div>
    <div class="col">{{profileData?.profileInfo?.serviceType}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Service Engineer (Talent Type):
    </div>
    <div class="col">{{profileData?.profileInfo?.talentType}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Service Engineer (Expertise Level):
    </div>
    <div class="col">{{profileData?.profileInfo?.technicalLevel}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Service Dispatch SLA Priority:
    </div>
    <div class="col">{{profileData?.profileInfo?.sla}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Service Coverage Hours:
    </div>
    <div class="col">{{profileData?.profileInfo?.coverage}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">Maintenance Event Duration (PPM* Hours):</div>
    <div class="col">{{profileData?.profileInfo?.ppm}}</div>
</div>