<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="text-themecolor">
                    <i class="fa fa-list-ul"></i> Last Minute Deals
                </h3>
            </div>
            <div class="col-6 text-right">
                <span class="text-danger text-themecolor">Sort By: </span>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-danger">Distance</button>
                    <button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Distance</a>
                        <a class="dropdown-item" href="#">Rating</a>
                        <a class="dropdown-item" href="#">Price - Low to High</a>
                        <a class="dropdown-item" href="#">Price - High to Low</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" height="150" width="200" src="../../../assets/images/background/socialbg.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Dal Makhani</h5>
                        <p class="card-text">The primary ingredients are whole
                            black lentil, red kidney beans, butter and cream. The dish gets its
                            richness from the use of cream, but it can also be prepared with yogurt, milk or no dairy.
                        </p>
                        <div class="align-items-center">
                            <span class="badge badge-danger badge-pill"><del>$ 15</del></span>&nbsp;
                            <span class="badge badge-danger badge-pill">$ 9</span>
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-sm btn-outline-danger">
                                    <span class="fa fa-cart-plus"></span> Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="align-items-center text-center">
                            <span class="badge badge-warning badge-pill">Qty. 4</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Ratings 5.0</span>&nbsp;
                            <span class="badge badge-warning badge-pill">Dist. 1.0 Km</span>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>