<div class="border-t m-t-5">
    <ngb-accordion #acc="ngbAccordion" activeIds="timeCard" [destroyOnHide]="false">
        <ngb-panel title="TimeCard" id="timeCard">
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-3 text-bold">Customer Approval Status</div>
                    <div class="col-3">{{timeCard?.Customer_Approval_Status__c}}</div>
                    <div class="col-3 m-t-10 text-bold">Iron Approval Status</div>
                    <div class="col-3 m-t-10">{{timeCard?.Status__c}}</div>

                    <div class="col-3 text-bold">Vendor</div>
                    <div class="col-3">{{timeCard?.vendor?.Name}}</div>
                    <div class="col-3 m-t-10 text-bold">Worker</div>
                    <div class="col-3 m-t-10">{{timeCard?.worker?.Name}}</div>

                    <div class="col-3 m-t-10 text-bold">TimesSheet Week Number (ISO)</div>
                    <div class="col-3 m-t-10">{{timeCard?.Timesheet_Week_Number_ISO_Auto__c}}</div>
                    <div class="col-3 m-t-10 text-bold">Total Worked Hours (Without Offset)</div>
                    <div class="col-3 m-t-10">{{timeCard?.Total_Worked_Hours_Without_Offset__c}}</div>

                    <div class="col-3 m-t-10 text-bold">Total Worked Hours (With offset)</div>
                    <div class="col-3 m-t-10">{{timeCard?.Total_Worked_Hours__c}}</div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>