<div class="row">
    <div class="col-md-10 mx-auto">
        <div>
            <div class="tab-wizard wizard-circle wizard clearfix">
                <div class="steps clearfix">
                    <ul class="clearfix bootstrapWizard form-wizard" role="tablist">
                        <li role="tab" *ngFor="let item of wizardstepper; index as i" (click)="onClickNavigate(item)" [ngClass]="{'current':item?.active, 'done':item?.active}">
                            <a>
                                <span class="step">{{i+1}}</span>
                                <span class="title">{{item.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card m-2 p-3 mx-auto">
    <span>
        <b>Partner #:</b> {{caseData?.Account?.Name}} &nbsp; | &nbsp;
        <b>Program Name#:</b> {{caseData?.program?.Name}} &nbsp; | &nbsp;
        <b>PMS Case#:</b> {{caseData?.CaseNumber}} &nbsp; | &nbsp;
        <b>Service Type #:</b> {{caseData?.Customer_Service_Type__c}} &nbsp; | &nbsp;
        <b>Service Level #:</b> {{caseData?.Service_Technical_Level__c}} &nbsp; | &nbsp;
        <b>Service SLA #:</b> {{caseData?.Dispatch_SLA_Priority__c}} &nbsp; | &nbsp;
        <b>Work Order #:</b> {{caseData?.workOrder?.Name}} &nbsp; | &nbsp;
        <b>Job Order #:</b> {{caseData?.Job?.Name}} &nbsp; | &nbsp;
        <b>Vendor #:</b> {{caseData?.Job?.vendor?.Name}} &nbsp; | &nbsp;
        <b>Case Summary#:</b> {{caseData?.Case_Summary__c}}&nbsp; | &nbsp;
        <b>SLA Remaining#:</b> {{caseData?.remainingTime}}

        <a href="javascript:void(0)" class="refreshIcon" (click)="onClickRefresh()">
            <i class="fa fa-refresh"></i>
        </a>
    </span>

</div>