<div class="border-t">
    <div class="m-t-5">
        <ngb-tabset type="pills" justify="justified">
            <ngb-tab title="Worker Info">
                <ng-template ngbTabContent>
                    <app-pms-worker-info [caseId]="caseId" page="worker"></app-pms-worker-info>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Appointment">
                <ng-template ngbTabContent>
                    <app-pms-worker-appointment [caseId]="caseId" page="worker"></app-pms-worker-appointment>
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="isInternalUser" title="Vendor Info">
                <ng-template ngbTabContent>
                    <worker-vendor-info [caseId]="caseId" page="worker"></worker-vendor-info>
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="isInternalUser" title="Dispatch FSE">
                <ng-template ngbTabContent>
                    Dispatch FSE
                </ng-template>
            </ngb-tab>
            <ngb-tab *ngIf="isInternalUser" title="Dedicated FTE">
                <ng-template ngbTabContent>
                    <worker-dedicated-fte></worker-dedicated-fte>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>