<div class="container">
	<div class="m-2">
		<div class="row">
			<div class="col-md-6">
				<div class="row ">
					<label for="Partner" class="form-group col-md-4 font-weight-bold">Project </label>
					<div class="col-md-6 ">{{programDetail?.Name}} </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="Partner" class="form-group col-md-4 font-weight-bold">Project # </label>
					<div class="col-md-6 "> {{programDetail?.Project__c}}</div>
				</div>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6">
				<div class="row">
					<label for="program" class="form-group col-md-4 font-weight-bold">Project Status </label>
					<div class="col-md-6 " class="col-md-8">{{programDetail?.Status__c}} </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="programcode" class="form-group col-md-4 font-weight-bold">Account Name </label>
					<div class="col-md-6" class="col-md-8">{{(programDetail?.AccountName) ? programDetail?.AccountName : programDetail?.Partner?.Name}}</div>
				</div>
			</div>
		</div>

		<div class="row m-t-10">
			<div class="col-md-6">
				<div class="row">
					<label for="quote" class="form-group col-md-4 font-weight-bold">Project Standard </label>
					<div class="col-md-8 "> {{programDetail?.ProjectStandard}}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="quotecreateddate" class="form-group col-md-4 font-weight-bold">Jobsite Contact Selection </label>
					<div class="col-md-8"> {{programDetail?.Jobsite_Contact_Selection__c}}</div>
				</div>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6">
				<div class="row">
					<label for="jobsite" class="form-group col-md-4 font-weight-bold">Service Description </label>
					<div class="col-md-8 text-wrap">{{programDetail?.Service_Description__c}}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Service Deliverables </label>
					<div class="col-md-8 text-wrap"> {{programDetail?.SOW_Description_Customer_Long__c}}</div>
				</div>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6">
				<div class="row">
					<label for="jobsite" class="form-group col-md-4 font-weight-bold">Special Service Instructions </label>
					<div class="col-md-8">{{programDetail?.Special_Service_Instructions__c}}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Required Tools </label>
					<div class="col-md-8 Requiredtools" > {{programDetail?.Required_Tools__c}}</div>
				</div>
			</div>
		</div>
		<div class="row m-t-10">
			<div class="col-md-6">
				<div class="row">
					<label for="jobsite" class="form-group col-md-4 font-weight-bold">Training Documents </label>
					<div class="col-md-8 text-wrap">{{programDetail?.Description__c}}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">SoW Equipment Tracking (Vendor) </label>
					<div class="col-md-8 text-wrap"> {{programDetail?.SoW_Equipment_Tracking_Vendor__c}}</div>
				</div>
			</div>
		</div>
	</div>
</div>