<div class="m-t-15" *ngIf="job">
    <ngb-accordion [closeOthers]="false" activeIds="ManagerJobStatusPanel, ManagerAppointmentPanel, ManagerJobIncompletePanel, SendManagerMessagePanel"
        class="no-bottom-border" [destroyOnHide]="false">
        <!-- JOB DISPATCH: PROGRESS STATUS -->
        <ngb-panel id="ManagerJobStatusPanel" title="JOB DISPATCH: PROGRESS STATUS">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="row less-bottom-margin">
                    <div class="col-sm-12">
                        <h5 class="section-subtitle">Job Dispatch Progress</h5>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Job Dispatch Status</strong>
                            <p>{{job.Job_Status_Internal__c}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <strong class="text-muted">Job Dispatch Resolution</strong>
                            <p>{{job.Dispatch_Service_Resolution_Status__c}}</p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <!-- APPOINTMENT MANAGEMENT -->
        <ngb-panel id="ManagerAppointmentPanel" title="APPOINTMENT MANAGEMENT">
            <ng-template ngbPanelContent>
                <!-- Appointment Request Summary -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="section-title">Appointment Request Summary</h4>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="section-subtitle">Appointment Details</h5>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">Customer Appointment Setup Required</strong>
                        <p>{{(job.appointment?.Customer_Appointment_Setup_Required__c == 1) ? 'Yes': "No"}}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">Parts On Site Arrival Confirmation</strong>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-6">
                        <strong class="text-muted">Parts Pickup Required ? </strong>
                        <p>{{(job.Service_Parts_Local_Pickup_Required__c == 1)? 'Yes':'No' }}
                        </p>
                    </div>
                </div>
                <!-- Appointment Setup: Status -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="section-title">Appointment Setup: Status</h4>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="section-subtitle">Customer Appointment Status: Schedule Setup (Call Customer Now)</h5>
                    </div>
                </div>
                <!-- Customer Appointment Status: Schedule Setup (Call Customer Now) -->
                <form novalidate [formGroup]="formAppointmentStatus" (ngSubmit)="updateJob('appointment-status')" class="form-material">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <strong class="text-muted">Appointment Schedule Status - Customer
                                </strong>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <select class="form-control no-opacity" formControlName="Appointment_Schedule_Status_Customer__c">
                                    <option *ngFor="let status of AppointmentScheduleCustomStatuses" [value]="status.value">
                                        {{status.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Customer Appointment Start (Scheduled)
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input class="form-control no-opacity" formControlName="Appointment_Schedule_Status_Customer_vms__c">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Phone Scheduling-1st Attempt-Unreachable
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control no-opacity" formControlName="Phone_Scheduling_1st_Attempt_Unreachable__c"
                                    readonly />
                                <owl-date-time #dt1></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Phone Scheduling-2nd Attempt-Unreachable
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" class="form-control no-opacity" formControlName="Phone_Scheduling_2nd_Attempt_Unreachable__c"
                                    readonly />
                                <owl-date-time #dt2></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Phone Scheduling-3rd Attempt-Unreachable
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" class="form-control no-opacity" formControlName="Phone_Scheduling_3rd_Attempt_Unreachable__c"
                                    readonly />
                                <owl-date-time #dt3></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <strong class="text-muted">Appointment Call (or Delay) Notes
                                </strong>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <input class="form-control no-opacity" formControlName="Appointment_Call_Notes__c">
                            </div>
                        </div>
                    </div>
                    <div class="row pr-3">
                        <div class="col">
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                    </div>
                </form>
                <!-- CUSTOMER APPOINTMENT SCHEDULE (CUSTOMER REQUESTED) -->
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="section-subtitle">CUSTOMER APPOINTMENT SCHEDULE (CUSTOMER REQUESTED)</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <strong class="text-muted">Worker Arrival Date/Time (Customer Requested Start) (Start)
                        </strong>
                        <p>{{(job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c) ? (job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c
                            | date:'short') : ''}}&nbsp;
                        </p>

                    </div>
                    <div class="col-sm-12 col-md-6">
                        <strong class="text-muted">Worker Arrival Date/Time (Customer Requested End)
                        </strong>
                        <p>{{(job.appointment?.Worker_Arrival_Date_Customer_Req_End__c) ? (addTime(job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c,
                            4, 'hours') | date: 'short') : ''}}&nbsp;
                        </p>
                    </div>
                </div>
                <!-- Customer Appointment Schedule (Call Customer Now) -->
                <form novalidate [formGroup]="formAppointmentCustomer" (ngSubmit)="updateAppointment('appointment-customer')" class="form-material">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="section-subtitle">Customer Appointment Schedule (Call Customer Now)</h5>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Customer Appointment Schedule (Start)
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" class="form-control no-opacity" formControlName="Customer_Appointment_DateTime_Scheduled__c"
                                    readonly="true" (dateTimeChange)="onDateChange('Appointment')" name="Customer_Appointment_DateTime_Scheduled"
                                    [(ngModel)]="Customer_Appointment_DateTime_Scheduled" />
                                <owl-date-time #dt4></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Customer Appointment Schedule (End)
                            </strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt14" [owlDateTimeTrigger]="dt14" class="form-control no-opacity" formControlName="Customer_Appointment_Start_Scheduled__c"
                                    readonly="true" [min]="minAppointmentEndDate" name="Customer_Appointment_Start_Scheduled"
                                    [(ngModel)]="Customer_Appointment_Start_Scheduled" />
                                <owl-date-time #dt14></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row pr-3 m-t-20">
                        <div class="col">
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                    </div>
                </form>
                <!-- Worker Appointment Setup -->
                <form novalidate [formGroup]="formAppointmentWorker" (ngSubmit)="updateJob('appointment-worker')" class="form-material">
                    <div class="row m-t-10">
                        <div class="col-sm-12">
                            <h5 class="section-subtitle">Worker Appointment Setup</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Appointment (Start)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input class="form-control no-opacity" [owlDateTime]="dt5" [owlDateTimeTrigger]="dt5" formControlName="Worker_Arrival_DateTime_Scheduled__c"
                                    readonly="true" (dateTimeChange)="onDateChange('Worker')" name="Worker_Arrival_DateTime_Scheduled"
                                    [(ngModel)]="Worker_Arrival_DateTime_Scheduled" />
                                <owl-date-time #dt5></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Appointment (End)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input class="form-control no-opacity" [owlDateTime]="dt15" [owlDateTimeTrigger]="dt15" formControlName="Worker_End_DateTime_Scheduled__c"
                                    readonly="true" [min]="minWorkerEndDate" name="Worker_End_DateTime_Scheduled" [(ngModel)]="Worker_End_DateTime_Scheduled"
                                />
                                <owl-date-time #dt15></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-sm-12 col-md-6">
                            <div class="">
                                <strong class="text-muted">Worker Name</strong>
                                <span class="text-danger">*</span>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <div class="input-group">
                                    <!-- <select class="form-control" formControlName="Dispatch_Worker_Name__c"> -->
                                    <select class="form-control no-opacity" required formControlName="Dispatch_Worker_Name__c" (change)="getPhone($event)">
                                        <option value="null"> --- Select Worker --- </option>
                                        <option *ngFor="let worker of workers" value="{{worker.sfdcId}}">
                                            {{worker.Name}}
                                        </option>
                                    </select>
                                    <span class="input-group-btn m-l-15" *ngIf="enableAddWorker">
                                        <button class="btn btn-default" (click)="open('Add Worker', openWorkerModal,'lg')" type="button">Add Worker</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <strong class="text-muted">Worker Phone</strong>
                                <span class="text-danger">*</span>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <input class="form-control no-opacity" formControlName="Dispatch_Worker_Phone__c" required>
                            </div>
                        </div>
                    </div>
                    <div class="row pr-3">
                        <div class="col">
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="col-sm-12">
                            <strong class="text-muted">Private Dispatch Instructions for Worker:
                            </strong>
                            <p>{{job.Special_Instruction_from_PMS_Case_Auto__c}}&nbsp;</p>
                        </div>
                    </div>
                </form>
                <!-- Visit Status -->
                <form novalidate [formGroup]="formVisitStatus" (ngSubmit)="updateAppointment('visit-status')" class="form-material">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="section-subtitle">Visit Status</h5>
                        </div>
                    </div>
                    <div class="row m-t-5">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Departure</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt10" [owlDateTimeTrigger]="dt10" class="form-control no-opacity" formControlName="Worker_Departure_Date_Time_Actual__c"
                                    readonly="true" (dateTimeChange)="onDateChange('Departure')" name="Worker_Departure_Date_Time_Actual"
                                    [(ngModel)]="Worker_Departure_Date_Time_Actual" />
                                <owl-date-time #dt10></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Arrived (Check In)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input class="form-control no-opacity" [owlDateTime]="dt11" [owlDateTimeTrigger]="dt11" formControlName="Worker_Arrival_Date_Time_Actual__c"
                                    readonly="true" [min]="minArrivalDate" (dateTimeChange)="onDateChange('Arrival')" name="Worker_Arrival_Date_Time_Actual"
                                    [(ngModel)]="Worker_Arrival_Date_Time_Actual" />
                                <owl-date-time #dt11></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Started (In-Progress)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt12" [owlDateTimeTrigger]="dt12" class="form-control no-opacity" formControlName="Worker_InProgress_Start_DateTime_Actual__c"
                                    readonly="true" [min]="minProgressDate" (dateTimeChange)="onDateChange('Progress')" name="Worker_InProgress_Start_DateTime_Actual"
                                    [(ngModel)]="Worker_InProgress_Start_DateTime_Actual" />
                                <owl-date-time #dt12></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <strong class="text-muted">Worker Complete (Check Out)</strong>
                            <i class="mdi mdi-pencil text-muted"></i>
                            <div class="input-group">
                                <input [owlDateTime]="dt13" [owlDateTimeTrigger]="dt13" class="form-control no-opacity" formControlName="Worker_Finish_Date_Time_Actual__c"
                                    readonly="true" [min]="minFinishDate" name="Worker_Finish_Date_Time_Actual" [(ngModel)]="Worker_Finish_Date_Time_Actual"
                                />
                                <owl-date-time #dt13></owl-date-time>
                            </div>
                        </div>
                    </div>
                    <div class="row pr-3 m-t-20">
                        <div class="col">
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-panel>
        <!-- JOB DISPATCH: INCOMPLETE -->
        <ngb-panel id="ManagerJobIncompletePanel" title="JOB DISPATCH: INCOMPLETE">
            <ng-template ngbPanelContent class="p-t-0">
                <form novalidate [formGroup]="formJobIncomplete" (ngSubmit)="updateJob('job-incomplete')" class="form-material less-top-margin">
                    <div class="row m-t-15">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <strong class="text-muted">Visit Incomplete (Reason Code)
                                </strong>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <select class="form-control no-opacity" formControlName="CKSW_BASE__Incomplete_reason__c">
                                    <option *ngFor="let status of VisitIncompleteReasonCodes" [value]="status.value">
                                        {{status.label}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <strong class="text-muted">Visit Incomplete (Reason Notes)
                                </strong>
                                <i class="mdi mdi-pencil text-muted"></i>
                                <input class="form-control no-opacity" formControlName="CKSW_BASE__Other_Incomplete_Reason__c">
                            </div>
                        </div>
                    </div>
                    <div class="row pr-3">
                        <div class="col">
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </ngb-panel>
        <!-- Send Message -->
        <ngb-panel id="SendManagerMessagePanel" title="Send Message">
            <ng-template ngbPanelContent>
                <app-message-post modelName="Job" modelId="{{job?.id}}" messageType="dispatch-planner" showMessageTypes="false"></app-message-post>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>
<div class="card-body" *ngIf="errorMessage">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>

<!-- to open worker modal -->
<ng-template #openWorkerModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Worker</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="error" class="alert alert-danger alert-dismissable">
            {{error}}
        </div>
        <h5 class="section-subtitle text-center m-b-15">Select Existing Worker</h5>
        <form novalidate [formGroup]="formAssignWorker" (ngSubmit)="assignWorker()" class="form-material">
            <div class="col-sm-12">
                <div class="">
                    <div class="input-group">
                        <ng-select class="custom-typeahead-modal" [items]="workers" bindLabel="Name" bindValue="sfdcId" [typeahead]="workersTypeahead"
                            formControlName="Dispatch_Worker_Name__c" clearAllText="clear" [virtualScroll]="true" placeholder="Type to search worker name">
                        </ng-select>
                        <span class="input-group-btn m-l-15 m-t-15">
                            <button class="btn btn-default" (click)="assignWorker()" type="button">Submit</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <h5 class="section-subtitle text-center m-t-20 m-b-20">or Create New Worker</h5>
        <form novalidate [formGroup]="formAddWorker" (ngSubmit)="addWorker()" class="form-material">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': formAddWorker.controls['firstname'].invalid && formAddWorker.controls['firstname'].touched}">
                        <label>First Name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="input" class="form-control" formControlName="firstname">
                        <div class="form-control-feedback text-danger" *ngIf="formAddWorker.get('firstname').invalid && formAddWorker.get('firstname').touched">
                            First Name is required.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': formAddWorker.controls['lastname'].invalid && formAddWorker.controls['lastname'].touched}">
                        <label>Last Name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="input" class="form-control" formControlName="lastname">
                        <div class="form-control-feedback text-danger" *ngIf="formAddWorker.get('lastname').invalid && formAddWorker.get('lastname').touched">
                            Last Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': formAddWorker.controls['email'].invalid && formAddWorker.controls['email'].touched}">
                        <label>Email
                            <span class="text-danger">*</span>
                        </label>
                        <input type="input" class="form-control" formControlName="email">
                        <div class="form-control-feedback text-danger" *ngIf="formAddWorker.get('email').invalid && formAddWorker.get('email').touched">
                            Valid Email is required.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group" [ngClass]="{'has-danger': formAddWorker.controls['Work_Phone_Number__c'].invalid && formAddWorker.controls['Work_Phone_Number__c'].touched}">
                        <label>Phone
                            <span class="text-danger">*</span>
                        </label>
                        <input type="input" class="form-control" formControlName="Work_Phone_Number__c">
                        <div class="form-control-feedback text-danger" *ngIf="formAddWorker.get('Work_Phone_Number__c').invalid && formAddWorker.get('Work_Phone_Number__c').touched">
                            Phone is required with length of 10 numbers.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row p-10">
                    <div class="col">
                        <button [disabled]="!formAddWorker.valid" class="btn btn-primary pull-right ml-2 mRight" type="submit">Submit</button>
                        <button class="btn btn-danger pull-right" type="button" (click)="this.formAddWorker.reset()">RESET</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>