.ng-select.custom-typeahead {
    width: 75% !important;
    margin-top: -15px !important;
}

.ng-select.custom-typeahead-modal {
    width: 88% !important;
}

.no-opacity {
    opacity: 1 !important;
    color: #000000 !important;
}

.less-top-margin {
    margin-top: -20px !important;
}

.less-bottom-margin {
    margin-bottom: -30px !important;
}