<div class="row" *ngIf="feed">
    <div class="card-body col-md-12">
        <h3 class="card-title m-b-40">{{feed?.modelName}} - {{feed?.type}} At {{feed?.createdAt | date:'short'}}</h3>
        <div class="p-l-10">
            <h4 class="col-md-12 card-subtitle">{{feed?.title}}</h4>
            <p class="m-t-20 m-b-20">{{feed?.description}}</p>
        </div>
        <div *ngIf="logDataItems.length > 0" style="overflow: auto;">
            <table class="table color-table info-table">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Old Value</th>
                        <th>New Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of logDataItems">
                        <td>{{item.description}}</td>
                        <td>{{(item.type == 'date') ? (item.oldValue | date:'short') : item.oldValue}}</td>
                        <td>{{(item.type == 'date') ? (item.newValue | date:'short') : item.newValue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>