<div class="row">
    <div class="col-md-12 col-sm-12">
        <h4 class="section-title">Price List Item Details</h4>
    </div>
</div>

<div *ngIf="pricelistItem">
    <div class="row card-body">
        <div class="col-sm-6">
            <strong class="text-muted">Id</strong>
            <p>
                <b>{{pricelistItem?.sfdcId}}&nbsp;</b>
            </p>
            <strong class="text-muted">Talent Level</strong>
            <p>
                <b>{{pricelistItem?.StandardPrice}}&nbsp;</b>
            </p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Talent Type</strong>
            <p>
                <b>{{pricelistItem?.StandardPrice}}&nbsp;</b>
            </p>

            <strong class="text-muted">Country Code</strong>
            <p>
                <b>{{pricelistItem.Country__c}}&nbsp;</b>
            </p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">SLA(Priority)</strong>
            <p>
                <b>{{pricelistItem?.StandardPrice}}&nbsp;</b>
            </p>

            <strong class="text-muted">Currency </strong>
            <p>
                <b>{{pricelistItem.CurrencyIsoCode}}&nbsp;</b>
            </p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Coverager Hourse</strong>
            <p>
                <b>{{pricelistItem?.StandardPrice}}&nbsp;</b>
            </p>

            <strong class="text-muted">PPE-1HR </strong>
            <p>
                <b>{{pricelistItem?.PPE_1HR_Standard_Price__c}}&nbsp;</b>
            </p>
        </div>

        <div class="col-sm-6">
            <strong class="text-muted">PPE-2HR</strong>
            <p>
                <b>{{pricelistItem?.PPE_2HR_Standard_Price__c}}&nbsp;</b>
            </p>

            <strong class="text-muted">PPE-4HR </strong>
            <p>
                <b>{{pricelistItem?.PPE_4HR_Standard_Price__c}}&nbsp;</b>
            </p>
        </div>

        <div class="col-sm-6">
            <strong class="text-muted">PPE-3HR</strong>
            <p>
                <b>{{pricelistItem?.PPE_3HR_Standard_Price__c}}&nbsp;</b>
            </p>

            <strong class="text-muted">PPE-8HR </strong>
            <p>
                <b>{{pricelistItem?.PPE_8HR_Standard_Price__c}}&nbsp;</b>
            </p>
        </div>

        <div class="col-sm-6">
            <strong class="text-muted">Additional Hours T&amp;M</strong>
            <p>
                <b>{{pricelistItem?.Additional_Hours_T_M_Standard_Price__c}}&nbsp;</b>
            </p>

            <strong class="text-muted">Date</strong>
            <p>
                <b>{{pricelistItem?.CreatedDate | date:'short'}}&nbsp;</b>
            </p>
        </div>

        <div class="col-sm-6">
            <strong class="text-muted">Active Or Status</strong>
            <p>
                <b>{{(pricelistItem?.IsActive) ? "Yes" : "No"}}&nbsp;</b>
            </p>
        </div>
    </div>
</div>
<div *ngIf="errorMessage">
    <div class="alert alert-warning m-t-5">
        {{errorMessage}}
    </div>
</div>