<div class="container" *ngIf="nextStep == false">
    <div class="row">
        <div class="col-md-4">
            <span>
                <Strong>Step 1/3</Strong>
            </span>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary mRight" (click)="onSubmit()">Next</button>
            <button class="btn btn-default mRight" (click)="closeModel()">Cancel</button>
            <button type="reset" (click)="form.reset();" class="btn btn-default">Reset</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 text-right m-b-15">
            <button (click)="uploadCsv(f.value)">upload</button>
            <input #f type="file" name="file" ngModel (change)="getFiles($event)">
        </div>
    </div>

    <div *ngIf="errorMessage" class="row">
        <div class="alert alert-warning col-md-12">
            {{errorMessage}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="min-height:350px">
                <div class="card-body">
                    <h4 class="card-title"> Option A: Copy and Paste the data from Excel</h4>
                    <hr>
                    <p class="card-text">Data Requirements are,
                        <br> - Copy and paste all rows and columns together. Do not copy individual cells, rows or columns
                        <br> - Max no. of jobsites can be created is 100
                        <br> - The Country Code must be 3 Digits ISO Code
                        <br> - State is either full state name or 2 digit state code for US and for all other Countries enter
                        full state name or Country as the state name If there is no state
                        <br> - All five fields are required
                        <br> Valid Sample Address: 980 Mission Ct, Fremont, CA 94539, USA
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="min-height:350px">
                <div class="card-body">
                    <h4 class="card-title"> Option B: File Upload </h4>
                    <hr>
                    <p class="card-text">Data Requirements are,
                        <br> - Max no. of jobsites can be created is 100
                        <br> - The Country Code must be 3 Digits ISO Code
                        <br> - State is either full state name or 2 digit state code for US and for all other Countries enter
                        full state name or Country as the state name If there is no state
                        <br> - All five fields are required
                        <br> Valid Sample Address: 980 Mission Ct, Fremont, CA 94539, USA
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form #jobsiteUploadForm="ngForm" [formGroup]="form" name='jobsiteUploadForm'>
                <div class="row">
                    <div class="container">
                        <div class="form-hd-jobsite">
                            <span>Country*</span>
                            <span>State*</span>
                            <span>Zip*</span>
                            <span>City*</span>
                            <span>Street*</span>
                        </div>
                        <table class="table color-table info-table table-responsive scroll-div">
                            <div formArrayName="items" *ngFor="let item of form.get('items').controls; let i = index;">
                                <tr [formGroupName]="i">
                                    <td>
                                        <input type="text" [class.jobsite-error-red]="countryValid[i]" id="country" maxLength="3" (change)="onJobChange(i)" class="form-control"
                                            formControlName="country">
                                    </td>
                                    <td>
                                        <input type="text" [class.jobsite-error-red]="stateValid[i]" id="state" class="form-control" (change)="onJobChange(i)" formControlName="state">

                                    </td>
                                    <td>
                                        <input type="text" [class.jobsite-error-red]="zipcodeValid[i]" id="zipcode" class="form-control" (change)="onJobChange(i)"
                                            formControlName="zipcode">
                                    </td>
                                    <td>
                                        <input type="text" [class.jobsite-error-red]="cityValid[i]" id="city" class="form-control" (change)="onJobChange(i)" formControlName="city">
                                    </td>
                                    <td>
                                        <input type="text" [class.jobsite-error-red]="streetValid[i]" id="street" class="form-control" (change)="onJobChange(i)"
                                            formControlName="street">
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">

                        <button type="submit" class="btn btn-primary mRight" (click)="onSubmit()">Next</button>
                        <button class="btn btn-default mRight" (click)="closeModel()">Cancel</button>
                        <button type="reset" class="btn btn-default">Reset</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="nextStep == true">
    <upload-finaljobsite [jobsites]="jobsites" (previousStage)="preStage($event)"></upload-finaljobsite>
</div>