<div class="border-t">
  <div class="m-t-5">
    <!-- Two tabs are there under billing tab  -->
    <!-- First Sales Order tab -->
    <ngb-tabset type="pills" justify="justified" [activeId]="selectedTab">
      <ngb-tab title="Sales Order" id="sales">
        <ng-template ngbTabContent>
          <app-sales></app-sales>
        </ng-template>
      </ngb-tab>
      <!-- Five tabs in purchase Order tab for inner tabset-->
      <ngb-tab *ngIf="isInternalUser" title="Purchase Order" id="purchase">
        <ng-template ngbTabContent>
          <purchase></purchase>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>