<ngb-accordion #acc="ngbAccordion" activeIds="createprogrampanel1,existpanel1, servicezone" [destroyOnHide]="false">
    <ngb-panel id="existpanel1" title="(2) Select Jobsite Location">
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input id="rdoExisting" type="radio" name="joblocation" (change)="enableNextStep()" [(ngModel)]="jobTypeSelection" value="useExisting">
                        <label for="rdoExisting">Use Existing Jobsite Location</label>
                    </div>
                    <div class="col-md-12">
                        <input id="rdoNewJob" type="radio" name="joblocation" (change)="enableNextStep()" [(ngModel)]="jobTypeSelection" value="createNew">
                        <label for="rdoNewJob">Create New Jobsite Location (Select Nearby Service Zone)</label>
                    </div>
                    <div class="col-md-12">
                        <input id="rdoUploadJob" type="radio" name="joblocation" (change)="enableNextStep()" [(ngModel)]="jobTypeSelection" value="uploadJob">
                        <label for="rdoUploadJob">Create New Jobsite Location (Upload the Jobsite List)</label>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<div *ngIf="jobTypeSelection === 'createNew'">
    <ngb-accordion #acc1="ngbAccordion" activeIds="createprogrampanel1,servicezone" [destroyOnHide]="false">
        <ngb-panel *ngIf="newprogram" id="createprogrampanel1" title="Create New Jobsite">
            <ng-template ngbPanelContent>
                <create-jobsite (changeFilters)="updateZones($event)"></create-jobsite>
            </ng-template>
        </ngb-panel>
        <div *ngIf="serviceZones.length > 0">
            <ngb-panel *ngIf="newprogram" id="servicezone" title="Select Service Zone Location">
                <ng-template ngbPanelContent>
                    <service-zone class="col-md-12" [serviceZones]="serviceZones" (changeZone)="setSelectedZone($event)"></service-zone>
                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="successMsg !='' " class="alert alert-success m-t-5">
                                {{successMsg}}
                            </div>
                            <div *ngIf="errorMsg !='' " class="alert alert-warning m-t-5">
                                {{errorMsg}}
                            </div>

                            <div class="col-md-3 m-b-5 m-l-5">
                                <button type="button" (click)="createJobsite()" class="btn btn-primary btn-block">Create Jobsite</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </div>
    </ngb-accordion>
</div>
<alert></alert>

<div *ngIf="jobTypeSelection === 'uploadJob'">
    <ngb-accordion #acc1="ngbAccordion" activeIds="createprogrampanel1" [destroyOnHide]="false">
        <ngb-panel *ngIf="newprogram" id="createprogrampanel1" title="Upload Jobsite">
            <ng-template ngbPanelContent>
                <button type="button" class="btn btn-light" (click)="openUploadPage(jobsitedetail,'xxl',jobsiteData)">Upload Jobsite
                </button>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>

<list-jobsites *ngIf="existingJobList"></list-jobsites>

<ng-template #jobsitedetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Upload Jobsite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
           
         <upload-jobsite></upload-jobsite> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
