<div class="table-responsive">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Account Name</th>
                <th>Service Global Account Name</th>
                <th>Service Global Account ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of account, let i = index">
                <td>
                    <input [checked]='item.sfdcId == selectedAccountId' type="radio" name="accountSelect" [id]="'rdoAcc' + i" [value]="item.sfdcId"
                        (change)="selectAccount(item)">
                    <label [for]="'rdoAcc' + i"></label>
                </td>
                <td>
                    <a href="javascript:void(0);" (click)="openDetailPage(accountDetail,'xl',item)">{{item.Name}}</a>
                </td>
                <td>{{item.Webcase_Account_Name__c}}</td>
                <td>{{item.Service_Global_Ref__c}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #accountDetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Account Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <account-detail [account]="contentData"></account-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>