<div class="modal-header">
    <h3 class="modal-title" [textContent]="modalTitle"></h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body scroll-vertical740">
    <div *ngIf="errorMessage">
        <div class="alert alert-warning m-t-5">
            {{errorMessage}}
        </div>
    </div>
    <!-- Account Details -->
    <div *ngIf="account" class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <strong class="text-muted">Name</strong>
                <p>{{account?.Name}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Account Source </strong>
                <p>{{account?.AccountSource }}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Global Ref</strong>
                <p>{{account?.Service_Global_Ref__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Vendor Type</strong>
                <p>{{account?.Vendor_Type__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Partner</strong>
                <p>{{account?.IsPartner == true ? 'Yes' : 'No' }}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Owner</strong>
                <p>{{account?.OwnerId}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Company Reference Code</strong>
                <p>{{account?.Company_Reference_code__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Currency</strong>
                <p>{{account?.CurrencyIsoCode}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Business Size</strong>
                <p>{{account?.Business_Size_c__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Last Modified Date</strong>
                <p>{{account?.LastModifiedDate | date:'MM/dd/yyyy'}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Created On</strong>
                <p>{{account?.CreatedDate | date:'MM/dd/yyyy' }}&nbsp;</p>
            </div>

        </div>
    </div>

    <!-- Project Details -->
    <div *ngIf="project" class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <strong class="text-muted">Project</strong>
                <p>{{project?.Project_c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Project Standard</strong>
                <p>{{project?.Project_Standard__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Name</strong>
                <p>{{project?.Name}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">APVP Group Num</strong>
                <p>{{project?.APVP_Group_Number__c }}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">APVP Record Count</strong>
                <p>{{project?.APVP_Record_Count__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Account</strong>
                <p>{{project?.Account__c}}&nbsp;</p>
            </div>

            <div class="col-sm-6">
                <strong class="text-muted">Customer Service Type</strong>
                <p>{{project?.Customer_Service_Type__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Deadline</strong>
                <p>{{project?.Deadline__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Description</strong>
                <p class="scroll-vertical-description">{{project?.Description__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Duration</strong>
                <p>{{project?.Duration__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Field Service Program Type</strong>
                <p>{{project?.Field_Service_Program_Type__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Email (Service Desk)</strong>
                <p>{{project?.Jobsite_Contact_Email_Service_Desk__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Email (Technical Esc)</strong>
                <p>{{project?.Jobsite_Contact_Email_Technical_Esc__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Phone (Service Desk)</strong>
                <p>{{project?.Jobsite_Contact_Name_Service_Desk__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Name (Technical Esc)</strong>
                <p>{{project?.Jobsite_Contact_Name_Technical_Esc__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Phone (Service Desk)</strong>
                <p>{{project?.Jobsite_Contact_Phone_Service_Desk__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Phone (Technical Esc)</strong>
                <p>{{project?.Jobsite_Contact_Phone_Technical_Esc__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Jobsite Contact Selection</strong>
                <p>{{project?.Jobsite_Contact_Selection__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Kickoff</strong>
                <p>{{project?.Kick_off__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Partner Name</strong>
                <p>{{project?.Partner_Name_Text__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Partner Pricelist</strong>
                <p>{{project?.Partner_Pricelist__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Program Activation</strong>
                <p>{{project?.Program_Activation__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Progress</strong>
                <p>{{project?.Progress__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Record Type</strong>
                <p>{{project?.RecordTypeId}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Resource Pool Type</strong>
                <p>{{project?.Resource_Pool_Type_Used_for_backfill__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Dispatch SLA Priority</strong>
                <p>{{project?.Service_Dispatch_SLA_Priority__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Technical Level</strong>
                <p>{{project?.Service_Technical_Level__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">SoW Equipment Tracking Vendor</strong>
                <p>{{project?.SoW_Equipment_Tracking_Vendor__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Vendor Pricelist</strong>
                <p>{{project?.Vendor_Pricelist__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Vendor Type</strong>
                <p>{{project?.Vendor_Type__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Status</strong>
                <p>{{project?.Status__c }}&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- Job Details -->
    <div class="card-body" *ngIf="job">
        <!-- JOB INFORMATION -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="section-title">JOB INFORMATION</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <strong class="text-muted">Job Status</strong>
                <p>{{job.Dispatch_Service_Resolution_Status__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Type</strong>
                <p>{{job.Customer_Service_Type_From_Program__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Worker Expertise Type &amp; Expertise Level Required</strong>
                <p>{{job.Technical_Level__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Level Agreement (SLA) Requirement</strong>
                <p>{{job.Service_Dispatch_SLA_Priority_FrmProgram__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Worker Arrival Date/Time (Customer Requested)</strong>
                <p>{{(job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c) ? (job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c
                    | date: 'short') : ''}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Customer Appointment Date/Time (Scheduled)</strong>
                <p>{{(job.appointment?.Customer_Appointment_DateTime_Scheduled__c) ? (job.appointment?.Customer_Appointment_DateTime_Scheduled__c
                    | date: 'short') : ''}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Worker Arrival Date/Time (Scheduled)</strong>
                <p>{{(job.appointment?.Worker_Arrival_DateTime_Scheduled__c) ? (job.appointment?.Worker_Arrival_DateTime_Scheduled__c
                    | date: 'shortTime') : ''}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Number of Visit Hours (Pre-Approved)</strong>
                <p>{{job.Max_Hours_Units__c}}&nbsp;</p>
            </div>
            <div class="col-sm-12 text-center">
                <p class="card-text">If visit needs to be extended, Please refer to "Job Instruction Section" for request process.</p>
            </div>
        </div>
        <!-- JOB INSTRUCTION INFORMATION -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">JOB INSTRUCTION INFORMATION</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <strong class="text-muted">Job Summary</strong>
                <p>{{job.csum__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Job Description</strong>
                <p>{{job.CKSW_BASE__Description__c}}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <strong class="text-muted">Job Instructions - Worker Specific Request</strong>
                <p>{{job.Special_Instruction_from_PMS_Case_Auto__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Equipment Details (Model/Name)</strong>
                <p>{{(job.Asset_Model__c) ? (job.Asset_Model__c + ' / '+ job.Asset_Name__c) : ''}}&nbsp;
                </p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Equipment Serial Number</strong>
                <p>{{job.Asset_Serial__c}}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <strong class="text-muted">Custom work order instructions</strong>
                <p>{{job.Custom_work_order_instructions__c}}</p>
            </div>
            <div class="col-sm-12 text-center">
                <p class="card-text">
                    *** IMPORTANT TECHNICAL DOCUMENTATION: Please Read, Acknowledge and Confirm the "Job Instructions Details" Section at the
                    bottom of this document prior to Job Site Visit. This section includes (10(A)) Job Instruction - Summary
                    (10(B)) Job Instructions - Description, (10(C)) Jot Site - Equipment Details (Model/Description), (10(D))
                    Job Instruction - Required Tool List, (10(E)) Job Instruction - Technical Documentation &amp; Training,
                    (10(F)) Job Instructions - Deliverable Summary, (10(G)) Jobsite Instruction - Jobsite Specific Additional
                    Instructions. ***
                </p>
            </div>
        </div>
        <!-- DISPATCH DESK MANAGEMENT - CUSTOMER APPOINTMENT SETTING -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">DISPATCH DESK MANAGEMENT - CUSTOMER APPOINTMENT SETTING
                </h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-6">
                <strong class="text-muted">Customer Contact Details</strong>
                <p>{{job.Jobsite_Contact_SDesk_Name_phone_email__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Job Site Location</strong>
                <p>{{job.Jobsite_Name__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Customer Case Number</strong>
                <p>{{job.Partner_Case_Number__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Worker Arrival Time (Customer Requested)</strong>
                <p>{{(job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c) ? (job.appointment?.Worker_Arrival_DateTime_Cust_Requested__c
                    | date: 'short') : ''}}&nbsp;
                </p>
            </div>
        </div>
        <!-- DISPATCH DESK MANAGEMENT - WORKER (FIELD ENGINEER) APPOINTMENT SETTING -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">DISPATCH DESK MANAGEMENT - WORKER (FIELD ENGINEER) APPOINTMENT SETTING</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-b-10">
                <p class="card-text">Please Provide Worker Name and Expected Arrival Date/Time by replying to this email.</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Appointment Setting: Worker (Field Engineer) Name</strong>
                <p>{{(job.worker) ? job.worker.Name : 'Not Assigned'}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Appointment Setting: Worker (Field Engineer) Arrival Time (Scheduled)</strong>
                <p>{{(job.appointment?.Worker_Arrival_DateTime_Scheduled__c) ? (job.appointment?.Worker_Arrival_DateTime_Scheduled__c
                    | date: 'short') : ''}}&nbsp;
                </p>
            </div>
        </div>
        <!-- SERVICE PARTS (FRU) DISPATCH: HARDWARE ARRIVAL DETAILS -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">SERVICE PARTS (FRU) DISPATCH: HARDWARE ARRIVAL DETAILS
                </h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-6">
                <strong class="text-muted">Does this Job require Service Parts</strong>
                <p>{{job.Does_this_Job_require_Service_Parts__c || 'No'}} &nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Parts Local Pickup Required</strong>
                <p>{{job.Service_Parts_Local_Pickup_Required__c || 'No'}}&nbsp;</p>
            </div>
            <ng-container *ngIf="job.Does_this_Job_require_Service_Parts__c && !job.Service_Parts_Local_Pickup_Required__c">
                <div class="col-sm-6">
                    <strong class="text-muted">Service Parts Delivery Date/Time (ETA) - Local Time Zone</strong>
                    <p>&nbsp;</p>
                </div>
                <div class="col-sm-6">
                    <strong class="text-muted">Service Parts Tracking</strong>
                    <p>&nbsp;</p>
                </div>
            </ng-container>
        </div>
        <!-- NEW EQUIPMENT LOGISTICS: HARDWARE ARRIVAL DETAILS -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">NEW EQUIPMENT LOGISTICS: HARDWARE ARRIVAL DETAILS</h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-6">
                <strong class="text-muted">Does this Job require a New Equipment Hardware</strong>
                <p>{{job.Does_this_Job_require_New_Equip_Hardware__c || 'No'}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Equipment Local Pickup Required</strong>
                <p>{{job.Equipment_Local_Pickup_Required__c || 'No'}}&nbsp;</p>
            </div>
            <ng-container *ngIf="job.Does_this_Job_require_New_Equip_Hardware__c && !job.Equipment_Local_Pickup_Required__c">
                <div class="col-sm-6">
                    <strong class="text-muted">Equipment Delivery Time/Date (ETA)</strong>
                    <p>{{job.Equipment_Delivery_Date_ETA__c}}&nbsp;</p>
                </div>
                <div class="col-sm-6">
                    <strong class="text-muted">Equipment Delivery Time (ETA) Hrs</strong>
                    <p>{{job.Equipment_Delivery_Time_ETA_Hours__c}}&nbsp;</p>
                </div>
                <div class="col-sm-6">
                    <strong class="text-muted">Equipment Tracking</strong>
                    <p>{{job.Equipment_Tracking__c}}&nbsp;</p>
                </div>
            </ng-container>
        </div>
        <!-- TECHNICAL ESCALATION: CUSTOMER HELP DESK -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">TECHNICAL ESCALATION: CUSTOMER HELP DESK</h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-6">
                <strong class="text-muted">Customer Case Number</strong>
                <p>{{job.Partner_Case_Number__c}}&nbsp;</p>
            </div>
            <div class="col-sm-12 m-b-10">
                <p class="card-text">
                    <strong>Technical Escalation Support: Please contact following contacts for Additional Assistance</strong>
                </p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Service Contact Details</strong>
                <p>{{job.Jobsite_Contact_SDesk_Name_phone_email__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Technical Escalation Manager</strong>
                <p>{{job.Jobsite_Contact_Technical_Escalation__c}}&nbsp;</p>
            </div>
        </div>
        <!-- TECHNICAL ESCALATION: IRON SERVICE GLOBAL HELP DESK -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">TECHNICAL ESCALATION: IRON SERVICE GLOBAL HELP DESK</h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-6">
                <strong class="text-muted">IRON Case Number</strong>
                <p>{{job.Iron_Case__c}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">IRON Project Number</strong>
                <p>{{job.project?.Project__c}}</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Technical Escalation Manager</strong>
                <p>{{job.Jobsite_Contact_Technical_Escalation__c || 'N/A'}}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <p class="card-text">
                    <b>Help Desk 24x7 Support (IRON Service Global Command Center):</b>
                    For immediate assistance or questions regarding this service event, please contact IRON at
                    <b style="display:inline-block">dispatch3ps-vendor@serviceglobal.com</b>
                    (by replying to this email) or Call: 001-408-940-0940 (international)
                </p>
            </div>
        </div>
        <!-- PAYMENT TERMS -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">PAYMENT TERMS</h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-12">
                <strong class="text-muted">Purchase Order ID</strong>
                <p>{{job.SOW_Work_Order__c}}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <p class="card-text">
                    <b>All Payment will be made as per Master Service Agreement and Price List.</b>
                </p>
            </div>
        </div>
        <!-- JOB INSTRUCTIONS FOR WORKER (DETAILS) -->
        <div class="row m-t-20">
            <div class="col-sm-12">
                <h4 class="section-title">JOB INSTRUCTIONS FOR WORKER (DETAILS)</h4>
            </div>
        </div>
        <div class="row job-details-blocks">
            <div class="col-sm-12">
                <p>{{job.Job_Instruction_Details_Long__c || 'N/A'}}&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- File Details -->
    <div *ngIf="fileData" class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <strong class="text-muted">Name</strong>
                <p>{{fileData?.fileMeta?.name}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Uploaded By </strong>
                <p>{{fileData?.uploadedBy }}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Department</strong>
                <p>{{fileData?.context?.departmentName}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Size</strong>
                <p>{{fileData?.fileMeta?.size | filesize}}&nbsp;</p>
            </div>

            <div class="col-sm-6">
                <strong class="text-muted">Document Category</strong>
                <p>{{fileData?.category?.title}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Document Title</strong>
                <p>{{fileData?.subCategory?.title}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Related To</strong>
                <p>{{fileData?.modelName}}&nbsp;</p>
            </div>
            <div class="col-sm-6">
                <strong class="text-muted">Date Uploaded</strong>
                <p>{{fileData?.createdAt | date:'short' }}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <strong class="text-muted">Description </strong>
                <p>{{fileData?.description}}&nbsp;</p>
            </div>
            <div class="col-sm-12">
                <strong class="text-muted">File URL </strong>
                <p>
                    <a (click)="download(fileData)" title="View/Download" href="javascript:void(0)">{{fileData?.fileUrl}}</a>&nbsp;
                    <a href="javascript:void(0)" (click)="copyToClipboard(sharableLink)" title="Copy to clipboard">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <input style="opacity: 0;" type="text" value="{{fileData?.fileUrl}}" #sharableLink>
                </p>

            </div>

            <div class="col-sm-12" *ngIf="fileData?.shortUrl">
                <strong class="text-muted">Short URL </strong>
                <p>
                    <a (click)="download(fileData)" title="View/Download" href="javascript:void(0)">{{fileData?.shortUrl}}</a>&nbsp;
                    <a href="javascript:void(0)" (click)="copyToClipboard(sharableshortUrl)" title="Copy to clipboard">
                        <i class="fa fa-clipboard"></i>
                    </a>
                    <input style="opacity: 0;" type="text" value="{{fileData?.shortUrl}}" #sharableshortUrl>
                </p>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
        Close
    </button>
</div>