<div class="row form-material">
  <div class="col-md-3">
    <select name="communityFilter" class="form-control" [(ngModel)]="ddlSelectedObj.community" (change)="onFilterChange('community')">
      <option ngValue="">All Community</option>
      <option *ngFor="let community of ddlObj.communities" [value]="community.id">{{community.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <select name="departmentFilter" class="form-control" [(ngModel)]="ddlSelectedObj.department" (change)="onFilterChange('department')">
      <option ngValue="">All Department</option>
      <option *ngFor="let department of ddlObj.departments" [value]="department.sfdcId">{{department.Name}} ({{department.Department_Acronym__c}})</option>
    </select>
  </div>
  <div class="col-md-3">
    <select name="typeFilter" class="form-control" [(ngModel)]="ddlSelectedObj.groupRecordType" (change)="onFilterChange('groupRecordType')">
      <option ngValue="">All Record Type</option>
      <option *ngFor="let groupRecordType of ddlObj.groupRecordTypes" [value]="groupRecordType.sfdcId">{{groupRecordType.Name}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn" (click)="reset()">Reset Filters</button>
  </div>
</div>
