<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3> Program Manager: Iron Service Locator (FSL)</h3>
            </div>
        </div>
        <div class="row">
            <!--Left side content start here-->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center text-white">
                        <b class="">Account</b>
                    </div>
                    <div class="card-body content-padding leftScrollDiv posRelative">
                        <content-account></content-account>
                    </div>
                </div>
            </div>
            <!--End here-->
            <!--Right side content start here-->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 card">
                        <div class="card-body">
                            <form [formGroup]="formSearch" (ngSubmit)="Search()" class="form-material">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="text" formControlName="Location_Name" class="form-control pull-rigth" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <span>Search radius</span>

                                        <input formControlName="Radius" type="radio" name="Radius" checked value=1 id="InMiles" class="with-gap radio-col-light-blue">
                                        <label for="InMiles">In Miles</label>

                                        <input formControlName="Radius" type="radio" name="Radius" value=0 id="InKms" class="with-gap radio-col-light-blue">
                                        <label for="InKms">In Kms</label>
                                    </div>
                                    <div class="col-1">
                                        <select class="form-control" formControlName="Radius_kms">
                                            <option value="50" [selected]="true">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" formControlName="Asset_models">
                                            <option value="">All Assest Models</option>
                                            <option *ngFor="let assest of dllAssestModel" [value]="assest.Partner_Account__c">
                                                {{assest.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <input type="checkbox" formControlName="Active" checked id="Active" class="filled-in chk-col-light-blue">
                                        <label for="Active">Active</label>&nbsp;&nbsp;

                                        <input type="checkbox" formControlName="Passive" checked id="Passive" class="filled-in chk-col-light-blue">
                                        <label for="Passive">Passive</label>&nbsp;&nbsp;

                                        <input type="checkbox" formControlName="Phantom" id="Phantom" class="filled-in chk-col-light-blue">
                                        <label for="Phantom">FSL Network(N/A)</label>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-info mRight" type="submit">Search</button>&nbsp;
                                        <button class="btn btn-info" (click)="GlobalSearch()" type="button">Global View</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--For Map View start here-->
                    <div class="col-md-8 covrg-map-sec">
                        <div class="covrg-map-legends text-center">
                            <span>
                                <b>Legends :</b>
                            </span>
                            <div *ngIf="!isSearch">
                                <span>
                                    <img src="../../../assets/img/map/default-icon.png" /> Active FSL</span>
                                <span>
                                    <img src="../../../assets/img/map/blue-icon.png" /> Passive FSL </span>
                            </div>
                            <small *ngIf="isSearch">
                                <span>
                                    <img src="../../../assets/img/map/current-location-icon.png" /> Searched Location</span>
                                <span>
                                    <img src="../../../assets/img/map/default-icon.png" /> Active FSL Match </span>
                                <span>
                                    <img src="../../../assets/img/map/cross-icon.png" /> Active FSL No Match</span>
                                <span>
                                    <img src="../../../assets/img/map/blue-icon.png" /> Passive FSL No Match </span>
                                <span>
                                    <img src="../../../assets/img/map/grey-icon.png" /> FSL Network (N/A) </span>
                            </small>
                        </div>
                        <div class="covrg-map-loc-label" (mouseleave)="closeMapInfo()">
                            <ngui-map [zoom]="zoomm" center="57.0252190, 9.9741700">
                                <marker *ngFor="let m of positions" [position]="m.position" [icon]="m.icon" (mouseover)="openMapInfo($event, m.accountLocation)"></marker>
                                <info-window align="center" id="Infowindow">
                                    <h3 align="center" class="text-themecolor">
                                        <span>{{accountMarkerLocation?.GEO_Description__c}} ({{accountMarkerLocation?.Country__c}})</span>
                                    </h3>
                                    <span align="center">{{accountMarkerLocation?.Street__c}}</span>
                                    <br/>
                                    <span>{{accountMarkerLocation?.City__c}}</span>
                                    <span>{{accountMarkerLocation?.State__c}}</span>
                                    <span>{{accountMarkerLocation?.Postal_Zip_Code__c}}</span>
                                    <br/>
                                    <span>{{accountMarkerLocation?.Country__c}}</span>
                                    <span *ngIf="isSearch">
                                        <br/>
                                        <br/>
                                        <b>Driving Distance:</b> {{accountMarkerLocation?.distance}}
                                        <br/>
                                        <b>Driving time:</b> {{accountMarkerLocation?.time}}
                                        <br/>
                                        <br/>
                                    </span>
                                    <span *ngIf="isSearch">
                                        <br/>
                                        <b style="color: #f0ad4e">Warranty Coverage Support (Standard)</b>
                                        <br/>
                                        <a href="javascript:void(0)">{{accountMarkerLocation?.status ? 'FSL Enablement Request' : 'FRU Stock Live Status'}}</a>
                                        <br>
                                        <a [attr.href]="accountMarkerLocation?.directionsUrl" target="_blank">Driving Directions</a>
                                        <br/>
                                        <a href="javascript:void(0)" *ngIf="!accountMarkerLocation?.status">Supported Asset Model Numbers</a>
                                        <br/>
                                    </span>
                                    <span *ngIf="!isSearch">
                                        <a href="javascript:void(0)">FRU Stock Live Status</a>
                                    </span>


                                </info-window>
                            </ngui-map>
                        </div>
                    </div>
                    <!--End here-->
                    <div class="col-md-4">
                        <!--For msp user only access this Active Search-->
                        <div>
                            <h4 class="text-themecolor">
                                <ins>Search results</ins>
                            </h4>
                            <div class=" scroll-div-map" style="overflow: auto;">
                                <div class="row" *ngFor="let pl of cloneCompliancesData, let i = index">
                                    <div class="col-md-12 data-list-align">
                                        <div class="row">
                                            <h3 class="text-themecolor">
                                                <span>{{pl.GeoMetro?.GEO_Description__c}} ({{pl.Country__c}})</span>
                                            </h3>
                                            <br/>
                                        </div>
                                        <div class="row">
                                            <p>
                                                <span>{{pl.Street__c}}</span>
                                                <br/>
                                                <span>{{pl.City__c}}</span>
                                                <span>{{pl.State__c}}</span>
                                                <span>{{pl.Postal_Zip_Code__c}}</span>
                                                <br/>
                                                <span>{{pl.Country__c}}</span>
                                            </p>
                                        </div>
                                        <div *ngIf="isSearch" class="row m-b-10">
                                            <small>
                                                <b>Driving Distance:</b> {{pl.distance}}
                                                <br/>
                                                <b>Driving time:</b> {{pl.time}}
                                            </small>
                                        </div>
                                        <div class="row">
                                            <small *ngIf="isSearch">
                                                <b style="color: #f0ad4e">Warranty Coverage Support (Standard)</b>
                                                <br/>
                                                <a href="javascript:void(0)">{{pl.status ? 'FSL Enablement Request' : 'FRU Stock Live Status'}}</a>
                                                <br/>
                                                <a [attr.href]="pl.directionsUrl" target="_blank">Driving Directions</a>
                                                <br/>
                                                <a href="javascript:void(0)" *ngIf="!pl.status">Supported Asset Model Numbers</a>
                                                <br/>
                                            </small>
                                            <small *ngIf="!isSearch">
                                                <a href="javascript:void(0)">FRU Stock Live Status</a>
                                            </small>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                                <div *ngIf="errorMessage">
                                    <div class="alert alert-warning m-t-5">{{errorMessage}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End here-->
            <br/>
        </div>
    </div>
</div>