<ngb-tabset type="pills" justify="justified">
	<ngb-tab title="Activity Feed">
		<ng-template ngbTabContent>
			<activity-feed></activity-feed>
		</ng-template>

	</ngb-tab>
	<ngb-tab title="Receipt">
		<ng-template ngbTabContent>
			<ngb-accordion #acc="ngbAccordion" activeIds="caseInformation, programInformation, jobsiteInformation, standardInformation"
			 [destroyOnHide]="false">
				<ngb-panel title="Case Information" id="caseInformation">
					<ng-template ngbPanelContent>
						<case-information [caseData]="caseData"></case-information>
					</ng-template>
				</ngb-panel>
				<br>
				<ngb-panel title="Program Information" id="programInformation">
					<ng-template ngbPanelContent>
						<quote-progress></quote-progress>
					</ng-template>
				</ngb-panel>
				<br>
				<ngb-panel title="Jobsite Information" id="jobsiteInformation">
					<ng-template ngbPanelContent>
						<jobsite-information [jobsiteData]="jobsiteData"></jobsite-information>
					</ng-template>
				</ngb-panel>
				<br>
				<ngb-panel title="Standard Service Profile" id="standardInformation">
					<ng-template ngbPanelContent>
						<standard-service-profile [profileData]="profileData"></standard-service-profile>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</ng-template>

	</ngb-tab>
	<ngb-tab title="Summary">
		<ng-template ngbTabContent>
			<div class="border-t">
				<div class="m-t-5">
					<ngb-tabset justify="justified" type="pills">
						<ngb-tab title="Status">
							<ng-template ngbTabContent>
								<summary-status [summaryStatus]="summaryStatus"></summary-status>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Jobsite">
							<ng-template ngbTabContent>
								<summary-jobsite [jobsiteData]="jobsiteData"></summary-jobsite>
							</ng-template>
						</ngb-tab>

						<ngb-tab title="Deliverables">
							<ng-template ngbTabContent>
								<ngb-accordion #acc="ngbAccordion" activeIds="deliverableStatus" [destroyOnHide]="false">
									<ngb-panel title="Deliverable Status" id="deliverableStatus">
										<ng-template ngbPanelContent>
											<div class="row">
												<div class="col-6 font-weight-bold">Deliverable Status:</div>
												<div class="col-6">{{summaryStatus?.jobInfo?.Deliverable_Status__c }}</div>
											</div>
										</ng-template>
									</ngb-panel>
								</ngb-accordion>
							</ng-template>

						</ngb-tab>

						<ngb-tab title="Files">
							<ng-template ngbTabContent>
								<summary-files> </summary-files>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Governarnce" *ngIf="isInternalUser">
		<ng-template ngbTabContent>
			<governance-detail [governanceDetail]="governanceDetail"></governance-detail>
		</ng-template>
	</ngb-tab>
</ngb-tabset>