<div class="container">
    <ngb-accordion #acc="ngbAccordion" activeIds="WorkOrderDetails, WorkOrderLineDetails" [destroyOnHide]="false">
        <ngb-panel class="pull-left" id="WorkOrderDetails" title="Work Order Details" class="Cards-header ">
            <ng-template ngbPanelContent>
                <div class="m-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row ">
                                <label for="Partner" class="form-group col-md-4 font-weight-bold">Work Order# </label>
                                <div class="col-md-6 ">{{workorder.Name}} </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label for="Partner" class="form-group col-md-4 font-weight-bold">Date </label>
                                <div class="col-md-6 "> {{workorder.createdAt | date: 'shortDate'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="workorder" class="form-group col-md-4 font-weight-bold">Partner Account Name</label>
                                <div class="col-md-6 " class="col-md-8">{{workorder.partner?.Name}} </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label for="workordercode" class="form-group col-md-4 font-weight-bold">Record Type</label>
                                <div class="col-md-6" class="col-md-8">{{workorder.RecordType?.Name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="workorder" class="form-group col-md-4 font-weight-bold">Program</label>
                                <div class="col-md-6 " class="col-md-8">{{workorder.program?.Name}} </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <label for="workordercode" class="form-group col-md-4 font-weight-bold">Project</label>
                                <div class="col-md-6" class="col-md-8">{{workorder.JobsiteProject?.Name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel class="pull-left" id="WorkOrderLineDetails" title="Work Order Line Details" class="Cards-header ">
            <ng-template ngbPanelContent>
                <div class="m-2">
                    <div *ngIf="!errorMessage" class="card m-t-5">
                        <ngx-datatable #myTable class="material striped" [rows]="tableData"
                            [loadingIndicator]="loadingIndicator" [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="60"
                            [footerHeight]="50" [rowHeight]="60">
                            <ngx-datatable-column name="Service ID" prop="Product_ID__c" [width]="100">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span>{{row?.Product?.Product_ID__c}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Service Description" prop="Description" [width]="550">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span>{{row?.Product?.Description}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="PPM Hours" prop="Order_Quantity__c" [width]="100"></ngx-datatable-column>
                            <ngx-datatable-column name="Price" prop="Total_Price_Customer_Pre_Tax_Auto__c" [width]="130">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span>{{row?.Total_Price_Customer_Pre_Tax_Auto__c | number:'1.2-2'}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-footer>
                                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                    let-curPage="curPage" let-offset="offset">
                                    <div style="padding: 5px 10px">
                                        <div>
                                            Total: {{rowCount}}
                                        </div>
                                    </div>
                                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                        [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                                        [hidden]="!((rowCount / pageSize) > 1)" (change)="myTable.onFooterPage($event)">
                                    </datatable-pager>
                                </ng-template>
                            </ngx-datatable-footer>
                        </ngx-datatable>
                    </div>
                    <div *ngIf="errorMessage" class="alert alert-warning m-t-5">
                        {{errorMessage}}
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>