<ul class="list-inline">
    <li class="list-inline-item"><strong>Service Catalog (PriceBook) Name</strong></li>
    <li class="list-inline-item">{{data?.priceBookName}}</li>
</ul>
<ul *ngIf="isMSP" class="list-inline">
    <li class="list-inline-item"><strong>Service Item Name</strong></li>
    <li class="list-inline-item">{{data?.priceBookName}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>Service Item ID</strong></li>
    <li class="list-inline-item">{{data?.Product_ID__c}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>Service Item Description</strong></li>
    <li class="list-inline-item">{{data?.Description}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>Hours Requested (PPM Event)</strong></li>
    <li class="list-inline-item">{{data?.ppm}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>Total Event Price</strong></li>
    <li class="list-inline-item">{{data?.totalPrice}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>T&amp;M Price (for Additional Hours, if Event is Extended)</strong></li>
    <li class="list-inline-item">{{data?.additionalHours}}</li>
</ul>
<ul class="list-inline">
    <li class="list-inline-item"><strong>Currency</strong></li>
    <li class="list-inline-item">{{data?.currency}}</li>
</ul>