<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ngb-accordion #acc="ngbAccordion" activeIds="casedetail" [destroyOnHide]="false">
				<ngb-panel class="pull-left" id="casedetail" title="Case Detail" class="Cards-header ">
					<ng-template ngbPanelContent>
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<div class="row ">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">Case Number</label>
										<div class="col-md-6">{{caseDetail.CaseNumber}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">Account Name </label>
										<div class="col-md-6"> {{caseDetail.Account?.Name}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">Status</label>
										<div class="col-md-6"> {{caseDetail.Status}}</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">Case Origin</label>
										<div class="col-md-6">{{caseDetail.Origin}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">Case Summary</label>
										<div class="col-md-6 wrap-data">{{caseDetail.Case_Summary__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">Case Subject</label>
										<div class="col-md-6 wrap-data">{{caseDetail.Subject}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">IRON PMS Case Number</label>
										<div class="col-md-6 ">{{caseDetail.Iron_Case_Number__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">Program</label>
										<div class="col-md-6">{{caseDetail.program?.Name}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">Partner Case Number</label>
										<div class="col-md-6 ">{{caseDetail.Partner_Case_Number__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">Case RecordType</label>
										<div class="col-md-6">{{caseDetail.RecordType?.Name}}</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ngb-accordion #acc="ngbAccordion" activeIds="jobOrder" [destroyOnHide]="false">
				<ngb-panel class="pull-left" id="jobOrder" title="JOB ORDER (CUSTOMER ADDRESS)" class="Cards-header ">
					<ng-template ngbPanelContent>
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<div class="row ">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">JobSite/Ship Contact (Name)</label>
										<div class="col-md-6 ">{{caseDetail.Ship_to_Contact_Name__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">JobSite/Ship Contact (Email Address) </label>
										<div class="col-md-6 ">{{caseDetail.Ship_To_Contact_Email_Address__c}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">JobSite/Ship Contact (Phone Number)</label>
										<div class="col-md-6 ">{{caseDetail.Ship_to_Contact_Phone_Number__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">JobSite/Ship to Company Name</label>
										<div class="col-md-6">{{caseDetail.Ship_to_Company_Name__c ? caseDetail.Ship_to_Company_Name__c : caseDetail?.Jobsite?.Name}}</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ngb-accordion #acc="ngbAccordion" activeIds="jobService" [destroyOnHide]="false">
				<ngb-panel class="pull-left" id="jobService" title="JOB ORDER (SERVICE ITEM)" class="Cards-header ">
					<ng-template ngbPanelContent>
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									<div class="row ">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">Service Technical Level</label>
										<div class="col-md-6 ">{{caseDetail.Service_Technical_Level__c}}</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="Partner" class="form-group col-md-4 font-weight-bold">Service Dispatch SLA Priority </label>
										<div class="col-md-6 "> {{caseDetail.Dispatch_SLA_Priority__c}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<label for="case" class="form-group col-md-4 font-weight-bold">Jobsite #</label>
										<div class="col-md-6 ">{{caseDetail.Jobsite?.Jobsite_ID__c}} </div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="casecode" class="form-group col-md-4 font-weight-bold">Jobsite Country</label>
										<div class="col-md-6">{{caseDetail.Jobsite?.Country__c}}</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
	<div class="row" *ngIf="caseComments.length">
		<div class="col-md-12">
			<ngb-accordion #acc="ngbAccordion" activeIds="caseComment" [destroyOnHide]="false">
				<ngb-panel class="pull-left" id="caseComment" title="Case Comments" class="Cards-header ">
					<ng-template ngbPanelContent>
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<table class="table color-table info-table">
										<thead>
											<tr>
												<th>Date</th>
												<th>Message</th>
												<th>Created By</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let comment of caseComments">
												<td>{{comment.CreatedDate | date:'shortDate'}}</td>
												<td>{{comment.CommentBody}}</td>
												<td>{{comment?.User?.firstname}} {{comment?.User?.lastname}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>