<!-- Top Nav Bar controls -->
<div class="row">
    <div class="col-6 text-left m-b-5 posRelative">
        <app-toolbar (onActivate)="activateEvent($event)"></app-toolbar>
        <div class="dd-column-selector">
            <li *ngFor='let col of allColumns'>
                <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
                <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
            </li>
        </div>
    </div>

    <div class="col-6 text-right m-b-5">
        <div class="switch">
            <label>Folder View
                <input type="checkbox" (change)="changeView($event)">
                <span class="lever switch-col-purple"></span>List View</label>
        </div>
    </div>
</div>

<div class="row" style="margin-right: 5px;">
    <div class="col-12 m-b-5">
        <ol class="breadcrumb m-b-10" style="background-color: #ffffff; font-size: 13px;" *ngIf="currentLevel !='one'">

            <li class="breadcrumb-item" *ngIf="currentLevel =='two' && userAccessType !='internal'">
                Home
            </li>
            <li class="breadcrumb-item" *ngIf="currentLevel !='two' && userAccessType !='internal'">
                <a href="javascript:;" (click)="onBreadCrumbClick('home')">
                    <i class="fa fa-arrow-left"></i> Home </a>
            </li>
            <li class="breadcrumb-item" *ngIf="userAccessType =='internal'">
                <a href="javascript:;" (click)="onBreadCrumbClick('home')">
                    <i class="fa fa-arrow-left"></i> Home </a>
            </li>
            <li class="breadcrumb-item" [ngClass]="{ last: active }" *ngFor="let item of breadCrumbs; let last = last">
                <a href="javascript:;" (click)="onBreadCrumbClick(item)" *ngIf="!last">{{item.Name}}</a>
                <span *ngIf="last">{{item.Name}}</span>
            </li>
        </ol>
    </div>

</div>
<div class="row hide-select-overlay">
    <!-- Account Type change Filter -->
    <div class="col-2 p-r-2" *ngIf="currentLevel=='one'">
        <ng-select [items]="accountTypes" bindValue="sfdcId" bindLabel="Name" [(ngModel)]="selectedAccountType" placeholder="Filter by Account Type"
            (change)="onAccountTypeChnage()">
        </ng-select>
    </div>
    <!-- View change Filter -->
    <div class="col-2 p-r-2">
        <ng-select [items]="viewTypes" [clearable]="false" bindLabel="label" [(ngModel)]="selectedViewType" placeholder="Filter by View"
            (change)="onViewTypeChnage()">
        </ng-select>
    </div>
    <!-- Search Place holder -->
    <div class="m-b-15 form-material" ngClass="{{ currentLevel=='one' ? 'm-t-20 offset-md-3 col-5' : 'm-t-20 offset-md-5 col-5'}}">
        <input type="text" class="form-control w-400" [formControl]="term" placeholder='Type to filter by the name column...'>
    </div>
</div>
<div class="row">
    <div class="col-12" style="width:100%">
        <!--Document List view start here-->
        <div id="sticky-anchor"></div>
        <ngx-datatable #myTable class="material ngx-datatable striped fixed-header" [rows]="tableData" [columnMode]="tableData.length > 0 ? 'force' : 'flex'"
            [limit]="itemsPerPage" [headerHeight]="40" [footerHeight]="50" [rowHeight]="60" [scrollbarH]="true" ngx-resize-watcher>
            <div *ngFor="let col of columns">
                <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [minWidth]="col.minWidth" [width]="col.width"
                    [sortable]="col.sortable" [resizeable]="col.resizeable" [flexGrow]="3">
                    <ng-template *ngIf="col.prop == 'Name'" let-row="row" ngx-datatable-cell-template>
                        <span class="text-wrap" *ngIf="row.type && row.id">
                            <a style="text-decoration:none;" title="View/Download" href="{{containerPath}}{{row?.fileMeta?.path}}" target="_blank">
                                <i class="fa fa-file"></i> &nbsp; {{row?.Name}}
                            </a>
                        </span>
                        <span class="text-wrap" *ngIf="!row.type && row.id">
                            <span #custTitle style="display:none;">{{row?.Name}}</span>
                            <a href="javascript:;" [title]="row?.Name" (click)="onFolderClick(row)">
                                <i class="fa fa-folder"></i> &nbsp; {{row?.Name}}
                            </a>
                        </span>
                        <span *ngIf="(tableData[0]) && tableData[0]['message']">
                            {{row?.Name}}
                        </span>

                    </ng-template>
                    <ng-template *ngIf="col.prop == 'category'" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="!row.category && row.id" class="text-wrap">
                            <i class="fa fa-minus"></i>
                        </span>
                        <span *ngIf="row.category && row.id">{{row?.category}}</span>
                    </ng-template>
                    <ng-template *ngIf="col.prop == 'subCategory'" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="!row.subCategory && row.id" class="text-wrap">
                            <i class="fa fa-minus"></i>
                        </span>
                        <span *ngIf="row.subCategory && row.id">{{row?.subCategory}}</span>
                    </ng-template>
                    <ng-template *ngIf="col.prop == 'createdAt'" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="!row.type && row.id" class="text-wrap">
                            <i *ngIf="!row.FolderLastModifiedOn" class="fa fa-minus"></i>
                            <span *ngIf="row.FolderLastModifiedOn">{{row.FolderLastModifiedOn | date:'short'}}</span>
                        </span>
                        <span *ngIf="row.type && row.id">{{row.createdAt | date:'short'}}</span>
                    </ng-template>

                    <ng-template *ngIf="col.prop == 'size'" let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="!row.type && row.id" class="text-wrap">
                            {{row?.FileCounter ? row?.FileCounter : 0 }} File(s)
                        </span>
                        <span *ngIf="row.type && row.id">{{row?.size | filesize}}</span>
                    </ng-template>

                    <ng-template *ngIf="col.prop == 'members'" let-row="row" ngx-datatable-cell-template>
                        <span class="text-wrap" *ngIf="row.id">
                            <i class="fa fa-minus"></i>
                        </span>
                    </ng-template>

                    <ng-template let-row="row" *ngIf="col.prop == ''" ngx-datatable-cell-template>
                        <span *ngIf="row.id" class="text-wrap" data-toggle="dropdown" style="cursor: pointer;">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>
                        <div *ngIf="row.id" class="dropdown-menu dropdown-menu-right" [ngClass]="tableData.length < 2 ? 'dropdown-position' : ''">
                            <button class="dropdown-item" (click)="openShareModal(row, ShareContentTemplate, 'lg')">Share</button>
                            <button class="dropdown-item" (click)="download(row)">Download</button>
                            <button [disabled]="isDetailDisabled" class="dropdown-item" (click)="getDetails(row, DetailContentTemplate,'xl')">Detail</button>
                        </div>
                    </ng-template>

                </ngx-datatable-column>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset">
                        <div style="padding: 5px 10px">
                            <div>
                                Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
                            </div>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="myTable.onFooterPage($event)">
                        </datatable-pager>
                        <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                            <div>
                                <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </div>
        </ngx-datatable>
        <!--End here-->

        <!-- File Upload Popup starts here -->
        <ng-template #uploadContent>
            <app-document-upload [modelName]="uploadModelName" [modelId]="uploadModelId" (uploaded)="documentUploaded($event)">
            </app-document-upload>
        </ng-template>
        <!-- File Upload Popup ends here -->

        <!--Share Content Popup starts here -->
        <ng-template #ShareContentTemplate let-c="close" let-d="dismiss">
            <share-file-modal [rowData]="sharedModalData" modelName="{{isFile ? 'Document' : detailModalName}}" [modelId]="detailModalId"></share-file-modal>
        </ng-template>
        <!-- Share Content Popup ends here -->
        <!-- Detail Content View Popup starts here -->
        <ng-template #DetailContentTemplate>
            <detail-modal level="{{isFile ? 'six' : currentLevel }}" modelName="{{isFile ? 'Document' : detailModalName}}" [modelId]="detailModalId"></detail-modal>
        </ng-template>
        <!-- Detail Content View Popup ends here -->

    </div>
</div>