<div *ngIf="errorMessage">
    <div class="p-3">
        <div class="alert alert-warning">
            {{errorMessage}}
        </div>
    </div>
</div>

<div class="m-b-15" *ngIf="jobInstruction && jobInstruction.length">
    <div class="col-sm-12 m-t-20 no-bottom-border" *ngFor="let instruction of jobInstruction; let i = index">
        <ngb-accordion [closeOthers]="false" activeIds="Instructions #{{i+1}}" class="no-bottom-border" [destroyOnHide]="false">
            <ngb-panel id="Instructions #{{i+1}}" title="Instructions #{{i+1}}">
                <ng-template ngbPanelContent class="m-t-0">
                    <!-- <div class="row float-right">
                        <div class="col-12">
                            <button type="button" class="btn {{(instruction.Acceptance_Status__c=='Confirm') ? 'btn-primary' :'btn-danger'}} btn-sm">{{instruction.Acceptance_Status__c}}</button>
                            <span class="m-l-10">
                                <a class="float-right text-danger" (click)="deleteInstruction(instruction.id)">
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </a>
                            </span>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Ins Special Service Instructions</strong>
                                <p>{{instruction.Job_Ins_Special_Service_Instructions__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Required Tools</strong>
                                <p>{{instruction.Job_Instructions_Required_Tools__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Service Deliverables</strong>
                                <p>{{instruction.Job_Instructions_Service_Deliverables__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Worker Specific Request</strong>
                                <p>{{instruction.Job_Instructions_Worker_Specific_Request__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Training Documents</strong>
                                <p>{{instruction.Job_Instructions_Training_Documents__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Deliverables Summary</strong>
                                <p>{{instruction.Job_Instructions_Deliverables_Summary__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Service Description</strong>
                                <p>{{instruction.Job_Instructions_Training_Documents__c}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <strong class="text-muted">Job Instructions Deliverables Summary</strong>
                                <p>{{instruction.Job_Instructions_Service_Description__c}}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>