<div class="text-right m-b-5">
    <button type="button" class="btn btn-sm mRight editColumn" i18n>
        <i class="fa fa-th"></i> Edit Columns
    </button>
    <div class="dd-column-selector">
        <li *ngFor='let col of allColumns' class="p-l-5">
            <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
            <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
        </li>
    </div>
    <button type="button" class="btn btn-sm mRight" (click)="refreshView();" i18n>
        <i class="fa fa-refresh"></i> Refresh
    </button>
    <button *ngIf="tableData[0] && !tableData[0]['message']" class="btn btn-sm" (click)="exportCSV()">
        <i class="fa fa-download"></i> CSV</button>
</div>
<div class="m-t-5 form-material">
    <ngx-datatable #myTable class="material striped fixed-header expandable doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator"
        [columnMode]="'standard'" [limit]="10" [headerHeight]="100" [footerHeight]="50" [rowHeight]="60" ngx-resize-watcher>
        <div *ngFor="let col of columns">
            <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">

                <ng-template *ngIf="col.prop == 'Dispatch_SLA'" let-row="row" ngx-datatable-cell-template>
                    <div [ngSwitch]="row.Dispatch_SLA">
                        <span *ngSwitchDefault>{{row.Dispatch_SLA}}</span>
                        <span *ngSwitchCase="'SBD2H'">P0 (SBD2H)</span>
                        <span *ngSwitchCase="'SBD4H'">P1 (SBD4H)</span>
                        <span *ngSwitchCase="'SBD6H'">P2 (SBD6H)</span>
                        <span *ngSwitchCase="'NBD'">P3 (NBD)</span>
                        <span *ngSwitchCase="'2BD'">P4 (2BD)</span>
                        <span *ngSwitchCase="'3BD'">P5 (3BD)</span>
                        <span *ngSwitchCase="'5BD'">P6 (5BD)</span>
                        <span *ngSwitchCase="'10BD'">P7 (10BD)</span>
                    </div>
                </ng-template>

                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span class="datatable-header-cell-wrapper float-left">
                        <span class="datatable-header-cell-label draggable" (click)="sort()">
                            {{col.name}}
                        </span>
                    </span>
                    <div class="input-group float-right  form-material">
                        <input type='text' [id]="col.prop" class="form-control" style='font-size: 14px;padding-left:2px;' placeholder="Type to search..."
                            (keyup)='filterData($event)' />
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </div>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                let-curPage="curPage" let-offset="offset">
                <div style="padding: 5px 10px">
                    <div>
                        Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
                    </div>
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="myTable.onFooterPage($event)">
                </datatable-pager>
                <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                    <div>
                        <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                    </div>
                </div>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>