<ngb-tabset type="pills" justify="justified">
    <ngb-tab *ngIf="isInternalUser">
        <ng-template ngbTabTitle>
            <i>All Case Comments(1)</i>
        </ng-template>
        <ng-template ngbTabContent>
            <p>Content</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <i>Case Comments (PMS)-{{case}} (PMS - {{caseCommentCount.pmsCount}}) (MSP - {{caseCommentCount.serviceCount}})</i>
        </ng-template>
        <ng-template ngbTabContent>
            <div>
                <div class="row">
                    <div class="col-md-6 d-flex flex-row font-weight-bold">
                        <h3>Partner Case Comments</h3>
                    </div>
                    <div class="col-md-6 d-flex flex-row-reverse font-weight-bold">
                        <h3>Service Agent Case Comments</h3>
                    </div>
                </div>
                <div class="row" *ngFor="let item of caseComment">
                    <div class="col-md-10 ml-2" *ngIf="item.type == 'pms'">
                        <div class="ribbon-wrapper card">
                            <div class="ribbon ribbon-info">{{item?.user?.firstname}} {{item?.user?.lastname}}</div>
                            <div class="ribbon-content">
                                <p>{{item?.createdAt | date:'short'}}</p>
                                <span>{{item?.CommentBody}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 offset-md-2" *ngIf="item.type == 'service'">
                        <div class="ribbon-wrapper card">
                            <div class="ribbon ribbon-info">{{item?.contact?.LastName}}</div>
                            <div class="ribbon-content">
                                <p>{{item?.createdAt | date:'short'}}</p>
                                <span>{{item?.Case_Comment_Body__c}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isInternalUser ">
        <ng-template ngbTabTitle>
            <i>Case Comments (PMC) (0)</i>
        </ng-template>
        <ng-template ngbTabContent>
            <p>Content</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isInternalUser ">
        <ng-template ngbTabTitle>
            <i>Case Comments (3PS/ICC -00038597 (1)</i>
        </ng-template>
        <ng-template ngbTabContent>
            <p>Content</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isInternalUser ">
        <ng-template ngbTabTitle>
            <i>Case Comments (3PL/ICC) (0)</i>
        </ng-template>
        <ng-template ngbTabContent>
            <p>Content</p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>