<div class="m-t-20">
    <div class="col-sm-12">
        <div *ngIf="error" class="alert alert-danger alert-dismissable">
            {{error}}
        </div>
        <form [formGroup]="timecardForm" (ngSubmit)="saveTimecard()" class="form-material">
            <div class="row job-details-blocks">
                <div class="col-sm-6">
                    <div class="">
                        <label class="text-muted">Incurred Date
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group" [ngClass]="{'has-danger': timecardForm.controls['Incurred_Date__c'].invalid && timecardForm.controls['Incurred_Date__c'].touched}">
                            <input class="form-control no-opacity" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="Incurred_Date__c"
                                readonly="true" (dateTimeChange)="onDateChange('Incurred')" name="Incurred_Date__c" [(ngModel)]="Incurred_Date__c"
                            />
                            <owl-date-time #dt1></owl-date-time>
                        </div>
                        <div class="form-control-feedback text-danger" *ngIf="timecardForm.get('Incurred_Date__c').invalid && timecardForm.get('Incurred_Date__c').touched">
                            Incurred Date is required.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="">
                        <label class="text-muted">Worker Name
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <label class="form-control no-opacity">{{worker?.Name}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-t-20" [ngClass]="{'has-danger': timecardForm.controls['Vendor_Time_Card_Time_in_Actual__c'].invalid && timecardForm.controls['Vendor_Time_Card_Time_in_Actual__c'].touched}">
                        <label class="text-muted">Time Card (Time In)
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <input class="form-control no-opacity" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="Vendor_Time_Card_Time_in_Actual__c"
                                readonly="true" (dateTimeChange)="onDateChange('TimeIn')" [min]="minTimeInDate" name="Vendor_Time_Card_Time_in_Actual__c"
                                [(ngModel)]="Vendor_Time_Card_Time_in_Actual__c" />
                            <owl-date-time #dt2></owl-date-time>
                        </div>
                        <div class="form-control-feedback text-danger" *ngIf="timecardForm.get('Vendor_Time_Card_Time_in_Actual__c').invalid && timecardForm.get('Vendor_Time_Card_Time_in_Actual__c').touched">
                            Time Card (Time In) is required</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-t-20" [ngClass]="{'has-danger': timecardForm.controls['Vendor_Time_Card_Time_Out_Actual__c'].invalid && timecardForm.controls['Vendor_Time_Card_Time_Out_Actual__c'].touched}">
                        <label class="text-muted">Time Card (Time Out)
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <input class="form-control no-opacity" [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" formControlName="Vendor_Time_Card_Time_Out_Actual__c"
                                readonly="true" [min]="minTimeOutDate" name="Vendor_Time_Card_Time_Out_Actual__c" [(ngModel)]="Vendor_Time_Card_Time_Out_Actual__c"
                            />
                            <owl-date-time #dt3></owl-date-time>
                        </div>
                        <div class="form-control-feedback text-danger" *ngIf="timecardForm.get('Vendor_Time_Card_Time_Out_Actual__c').invalid && timecardForm.get('Vendor_Time_Card_Time_Out_Actual__c').touched">
                            Time Card (Time Out) is required</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group p-t-20" [ngClass]="{'has-danger': timecardForm.controls['Customer_Site_Signoff_Name__c'].invalid && timecardForm.controls['Customer_Site_Signoff_Name__c'].touched}">
                        <label class="text-muted">Customer Site Signoff Name
                            <span class="text-danger">*</span>
                        </label>
                        <input type="input" class="form-control" formControlName="Customer_Site_Signoff_Name__c">
                        <div class="form-control-feedback text-danger" *ngIf="timecardForm.get('Customer_Site_Signoff_Name__c').invalid && timecardForm.get('Customer_Site_Signoff_Name__c').touched">Customer Site Signoff Name is required</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{'has-danger': timecardForm.controls['Vendor_Time_Card_Notes_Tasks_Performed__c'].invalid && timecardForm.controls['Vendor_Time_Card_Notes_Tasks_Performed__c'].touched}">
                        <label class="text-muted">Tasks Performed
                            <span class="text-danger">*</span>
                        </label>
                        <textarea class="form-control" rows="3" formControlName="Vendor_Time_Card_Notes_Tasks_Performed__c"></textarea>
                        <div class="form-control-feedback text-danger" *ngIf="timecardForm.get('Vendor_Time_Card_Notes_Tasks_Performed__c').invalid && timecardForm.get('Vendor_Time_Card_Notes_Tasks_Performed__c').touched">Tasks Performed is required</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="text-muted">Any Observation or Suggestion Notes</label>
                        <textarea class="form-control" rows="3" formControlName="Any_Observation_or_Suggestions_Notes__c"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 m-b-20">
                    <div class="float-right">
                        <button type="button" (click)="this.timecardForm.reset()" class="btn btn-secondary mRight">Clear</button>
                        <button type="submit" [disabled]="!timecardForm.valid || error" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>