<div class="card-body">
    <div class="row">
        <div class="col-6">
            <h3 class="text-themecolor"><i _ngcontent-c30="" class="fa fa-list-ul"></i> User List </h3>
        </div>
        <div class="col-6 text-right m-b-5">
            <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="[createUserLink]" class="btn btn-primary">
                <span class="fa fa-plus"></span> Add New User Member</a>
        </div>
    </div>
    <div class="row border-t">
        <div class="col-12">
            <app-filter-user (filterData)="onFilterChange($event)"></app-filter-user>
        </div>
    </div>
    <div class="row m-t-5">
        <div class="col-12">
            <div class="border-t">
                <ngb-tabset type="pills" justify="fill" (tabChange)="onTabChange($event)">
                    <ngb-tab id="tab-0">
                        <ng-template ngbTabTitle>Member User List 
                           <span>({{usersCount}})</span></ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-1">
                        <ng-template ngbTabTitle>Member User Login</ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-2">
                        <ng-template ngbTabTitle>Contact List
                            <span>({{contactsCount}})</span></ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-3" *ngIf="!isVendor">
                        <ng-template ngbTabTitle>Program Membership </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-4" *ngIf="isInternalUser && !isVendor">
                        <ng-template ngbTabTitle>Group Membership (MSP) </ng-template>
                    </ngb-tab>
                    <ngb-tab id="tab-5">
                        <ng-template ngbTabTitle>Shift & Coverage </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div>
                <app-list-user [filter]="notifyFilter" (setlistCount)="getlistCount($event)"></app-list-user>
            </div>
        </div>
    </div>
</div>