<div class="row">
  <div class="col-1">
    <button class="btn " (click)="resetBtn()" type="button">
      <i class="fa fa-refresh refreshIcon" title="Refresh account list"></i>
    </button>
  </div>
  <div class="col-8">
    <div class="input-group">
      <span class="input-group-btn mr-3">
        <select name="regionFilter" class="form-control custom-select" autofocus [(ngModel)]="selectedCharCode" (change)="onFilterChanged('ddl')">
          <option *ngFor="let char of charCodesObj" [value]="char.name">{{char.name}}</option>
        </select>
      </span>
      <input type="text" class="form-control" [(ngModel)]="txtAccountName" placeholder="Search for account...">
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="onFilterChanged('btn')" type="button">Search</button>
      </span>
    </div>
  </div>
  <div class="col-3 text-right" *ngIf="isMultiSelect && checkedAccountId.length>0">
    <button class="btn btn-info" (click)="notifyAccountValues()" type="button">Set Account</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-12">
    <ngx-datatable #myTable class="material striped" [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'standard'"
      [limit]="itemsPerPage" [offset]="ngxOffset" (page)="page($event)" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
      [scrollbarH]="true" ngx-resize-watcher>

      <ngx-datatable-column name="Action" prop="" [sortable]="false" [width]="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <!--Form single select account if user type vendor/partner-->
          <div *ngIf="!isMultiSelect">
            <button class="btn btn-sm" [ngClass]="checkedAccountId.includes(row.sfdcId) ? 'btn-danger': 'btn-info'" (click)="selectAccountId(row)"
              type="button">Set Account</button>
          </div>
          <!--Form multi select account if user type intenal-->
          <div *ngIf="isMultiSelect">
            <input type="checkbox" id="{{row.Name}}" value="{{row.sfdcId}}" [checked]="checkedAccountId.includes(row.sfdcId)" (change)="updateChecked(row, $event)"
              class="filled-in " [ngClass]="checkedAccountId.includes(row.sfdcId) ? 'filled-in chk-col-red': 'chk-col-light-blue'">
            <label for="{{row.Name}}"></label>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Account Name" prop="Name" [width]="500">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div [ngClass]="checkedAccountId.includes(row.sfdcId) ? 'bg-row-color': ''">{{row.Name}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
          let-curPage="curPage" let-offset="offset">
          <div style="padding: 5px 10px">
            <div>
              Total: {{rowCount}}
            </div>
          </div>
          <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
            (change)="myTable.onFooterPage($event)">
          </datatable-pager>
          <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
            <div>
              <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>