<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" (click)="changeTab('Active')" [class.active]="getActiveNavBarStatus('Active')" href="javascript:;">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="changeTab('Passive')" [class.active]="getActiveNavBarStatus('Passive')" href="javascript:;">Passive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="changeTab('Archived')" [class.active]="getActiveNavBarStatus('Archived')" href="javascript:;">Archived</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="changeTab('All')" [class.active]="getActiveNavBarStatus('All')" href="javascript:;">All</a>
    </li>
</ul>
<br/>
<div class="table-responsive scroll-div" [scrollTop]="scrollMe.scrollHeight" #scrollMe>
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>No.</th>
                <th *ngIf="filterBy == 'Active'">Add/
                    <br>Remove</th>
                <th>Jobsite#</th>
                <th>Service Engineer Talent Type</th>
                <th>Service Engineer
                    <br>(Technical Level)</th>
                <th>Dispatch SLA Priority</th>
                <th>Coverage Hours</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- [hidden]="profile.status != filterBy" -->
            <tr *ngFor="let profile of (dispatchProfiles | filter: 'status': filterBy), let i = index">
                <td>{{i+1}}</td>
                <td *ngIf="filterBy == 'Active'">
                    <button (click)="deleteRow(profile.id, profile)" *ngIf="!(i==(dispatchProfiles | filter: 'status': filterBy).length-1) || ((dispatchProfiles | filter: 'status': filterBy).length > 1)">-</button>
                    <button (click)="addRow(profile.id+1)" *ngIf="i == (dispatchProfiles | filter: 'status': filterBy).length - 1">+</button>
                </td>
                <td>
                    <select *ngIf="profile.status == 'Active'" width="100%" [(ngModel)]="profile.jobsite" (change)="loadTalentType($event, i)">
                        <option value="">--none--</option>
                        <option *ngFor="let jobsite of selectedJobsites" [value]="jobsite.Jobsite.Jobsite_ID__c">{{jobsite.Jobsite.Jobsite_ID__c}}</option>
                    </select>
                    <span *ngIf="profile.status != 'Active'">{{profile.jobsite}}</span>
                </td>
                <td>
                    <select *ngIf="profile.status == 'Active'" style="width:150px;" [(ngModel)]="profile.talentTypeID" [disabled]="profile.status != 'Active'"
                        [value]="profile.talentTypeID" (change)="updateTalentType($event,profile)">
                        <option value="">--none--</option>
                        <option *ngFor="let ttype of ttypes[profile.jobsite]" [value]="ttype.sfdcId">{{ttype.Talent_Type_Name__c}}</option>
                    </select>
                    <span *ngIf="profile.status != 'Active'">{{profile.talentType}}</span>
                </td>
                <td>
                    <select *ngIf="profile.status == 'Active'" [(ngModel)]="profile.technicalLevel" [disabled]="profile.status != 'Active'" [value]="profile.technicalLevel"
                        (change)="updateDispatchProfiles()">
                        <option value="">--none--</option>
                        <option *ngFor="let tlevel of tlevels[profile.jobsite]" [value]="tlevel">{{tlevel}}</option>
                    </select>
                    <span *ngIf="profile.status != 'Active'">{{profile.technicalLevel}}</span>
                </td>
                <td>
                    <select *ngIf="profile.status == 'Active'" [(ngModel)]="profile.slaPriority" [disabled]="profile.status != 'Active'" [value]="profile.slaPriority"
                        (change)="updateDispatchProfiles()">
                        <option value="">--none--</option>
                        <option *ngFor="let sla of slas[profile.jobsite]" [value]="sla">{{sla}}</option>
                    </select>
                    <span *ngIf="profile.status != 'Active'">{{profile.slaPriority}}</span>
                </td>
                <td>
                    <select *ngIf="profile.status == 'Active'" style="width:150px;" [(ngModel)]="profile.coverageHrs" [disabled]="profile.status != 'Active'"
                        [value]="profile.coverageHrs" (change)="updateDispatchProfiles()">
                        <option value="">--none--</option>
                        <option *ngFor="let coverage of coverageHours[profile.jobsite]" [value]="coverage">{{coverage}}</option>
                    </select>
                    <span *ngIf="profile.status != 'Active'">{{profile.coverageHrs}}</span>
                </td>
                <td>
                    <select [(ngModel)]="profile.status" [value]="profile.status" (change)="updateDispatchProfiles()">
                        <option>Active</option>
                        <option>Passive</option>
                        <option>Archived</option>
                    </select>
                </td>
            </tr>
            <tr *ngIf="(dispatchProfiles | filter: 'status': filterBy).length == 0" class="alert alert-warning m-t-5">
                <td colspan="8">No record found.</td>
            </tr>
        </tbody>
    </table>
</div>