<div class="m-t-15" *ngIf="job">
    <!-- Worker Details -->
    <div class="card-body px-4">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Name</strong>
                    <p>{{job?.worker?.Name}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Phone</strong>
                    <p>{{job?.worker?.Work_Phone_Number__c}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Dispatch Number</strong>
                    <p>{{job?.worker?.Dispatch_Worker_num__c}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Primary Skilling Profile</strong>
                    <p>{{job?.worker?.Primary_Worker_Skilling_Profile__c}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Type</strong>
                    <p>{{job?.worker?.Worker_Type__c}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <strong class="text-muted">Rating</strong>
                    <p>{{job?.worker?.Worker_Rating__c}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body" *ngIf="errorMessage">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>