<div class="row">
  <div class="col-md-12 text-center">
    <div class="headermsg">
      <h3>Program Manager (PgMO) - Group/Team Setup</h3>
    </div>
  </div>
</div>
<div class="row m-r-0">
  <div class="col-md-2" [ngClass]="{'hidepanel': isCollapsed}">
    <app-workplace-setup-left-panel></app-workplace-setup-left-panel>
  </div>
  <div [ngClass]="{ 'col-md-10': !isCollapsed, 'col-md-12': isCollapsed} ">
    <div class="row ">
      <div class="col-sm-6 align-self-center ">
        <a href="javascript:void(0) " (click)="isCollapsed=! isCollapsed ">
          <i [ngClass]="{ 'ti-menu fa-1x': isCollapsed, 'ti-close fa-1x': !isCollapsed } " class="ti-menu fa-1x "></i>
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <!--Filter Div-->
        <div class="row mb-3">
          <div class="col-md-9 text-center">
            <app-group-team-filters page="Order" (filterDataList)='filterDataList($event)'></app-group-team-filters>
          </div>
          <div class="col-md-3 text-right">
            <button type="button" class="btn btn-info" (click)="addGroupTeam(createGroupTeam,'xxl','','')">
              Add Group / Team
            </button>
          </div>
        </div>
        <!---End-->

        <div class="border-t">
          <ngb-tabset type="pills" [activeId]="activeTab" justify="fill" (tabChange)="onTabChange($event)">
            <ngb-tab id="tab-0" title="All">
              <ng-template ngbTabContent>
                <div class="row border-t">
                  <div class="col-md-12 text-center headermsg pt-2">
                    <h3>All Groups / Teams</h3>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-1" title="Group (General)">
              <ng-template ngbTabContent>
                <div class="row border-t">
                  <div class="col-md-12 text-center headermsg pt-2">
                    <h3>All Groups (General)</h3>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-2" title="Group (Custom)">
              <ng-template ngbTabContent>
                <div class="row border-t">
                  <div class="col-md-12 text-center headermsg pt-2">
                    <h3>All Groups (Custom)</h3>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-3" title="Teams">
              <ng-template ngbTabContent>
                <div class="row border-t">
                  <div class="col-md-12 text-center headermsg pt-2">
                    <h3>All Teams</h3>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
        <div *ngIf="errorMessage" class="row">
          <div class="alert alert-warning col-md-12">
            {{errorMessage}}
          </div>
        </div>

        <ngx-datatable #myTable class="material  striped fixed-header" [rows]="tableData" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
          [limit]="itemsPerPage" [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" [scrollbarH]="true" ngx-resize-watcher>
          <div *ngFor="let col of columns">
            <ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">
              <ng-template *ngIf="col.prop == 'action'" let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="input-group-btn">
                  <span class="text-wrap icon-color" data-toggle="dropdown">
                    &nbsp;

                    <i *ngIf="tableData[0] && !tableData[0]['message']" class="fa fa-ellipsis-v"></i> &nbsp;
                  </span>
                  <div class="dropdown-menu" [class.action-dd-position]="tableData.length < 2">
                    <button class="dropdown-item icon-color" (click)="addGroupTeam(createGroupTeam,'xxl',row.sfdcId,row.Community__c)" title="Edit">Edit</button>
                    <button class="dropdown-item icon-color" (click)="deleteGroup(row.sfdcId,row.groupTeamName)" title="Delete">Delete</button>
                    <button class="dropdown-item icon-color" (click)="memberInfo(row.sfdcId,row.groupTeamName,row.DepartmentName)" title="Member Info">Member Info</button>
                  </div>
                </div>
              </ng-template>


            </ngx-datatable-column>
          </div>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
              let-curPage="curPage" let-offset="offset">
              <div style="padding: 5px 10px">
                <div>
                  Total: {{rowCount}}
                </div>
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                (change)="myTable.onFooterPage($event)">
              </datatable-pager>
              <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                <div>
                  <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
        <div *ngIf="groupSfdcId">
          <div class="border-t m-t-5 m-b-5">
            <ngb-tabset type="pills" [activeId]="memberInfoCom" justify="fill" (tabChange)="communityChange($event)">
              <ngb-tab id="MSP" title="MSP">
              </ngb-tab>
              <ngb-tab id="PMS" title="PMS">
              </ngb-tab>
              <ngb-tab id="VMS" title="VMS">
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="row"></div>
          <ngb-accordion #acc="ngbAccordion" activeIds="linkid" [destroyOnHide]="false">
            <ngb-panel title="Members for {{groupName}} ({{memberInfoCom}}) - {{groupDepartment}} Department" id="linkid">
              <ng-template ngbPanelContent>
                <div class="row">
                  <table class="table team-member">
                    <thead>
                      <tr>
                        <th width="25%">Name</th>
                        <th width="50%">Department</th>
                        <th width="25%">Account</th>
                      </tr>
                    </thead>
                    <tr *ngFor="let memberItem of memberInfoData, let i = index">
                      <td>
                        <span>{{memberItem?.worker?.Name}}</span>
                      </td>
                      <td>
                        <span>{{memberItem?.department?.Name}}</span>
                      </td>
                      <td>
                        <span>{{memberItem?.worker?.contact?.account.Name}}</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #createGroupTeam let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h4 class="modal-title">Create/Update Group/Team</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body scroll-vertical740">
    <app-create-group-team [editId]="editSfdcId" [communityC]="communityC" (loadGroupTeam)="loadGroupTeam($event)"></app-create-group-team>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>