.red-Background {
    background-color: red !important;
}
.red-color {
    color: red !important;
}

.modalHeight {

    height: 640px;
    overflow: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}