<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ngb-accordion #acc="ngbAccordion" activeIds="jobsitedetail" [destroyOnHide]="false">
                <ngb-panel class="pull-left" id="jobsitedetail" title="Jobsite Detail" class="Cards-header ">
                    <ng-template ngbPanelContent>
                        <br>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row ">
                                        <label for="Partner" class="form-group col-md-4 font-weight-bold">Jobsite Name</label>
                                        <div class="col-md-8 ">{{jobsiteDetail.Name}} </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="Partner" class="form-group col-md-4 font-weight-bold">Type </label>
                                        <div class="col-md-8 "> {{jobsiteDetail.Type__c}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsite" class="form-group col-md-4 font-weight-bold">Account Name</label>
                                        <div class="col-md-8">{{jobsiteDetail.accountName}} </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">Jobsite ID</label>
                                        <div class="col-md-8">{{jobsiteDetail.Jobsite_ID__c}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsite" class="form-group col-md-4 font-weight-bold">Street</label>
                                        <div class="col-md-8 " *ngIf="jobsiteDetail.openFor != 'EDIT'">{{jobsiteDetail.Street__c}} </div>
                                        <div class="col-md-8" *ngIf="jobsiteDetail.openFor == 'EDIT'">
                                            <textarea type="text" class="form-control" name="Street__c" [(ngModel)]="jobsiteDetail.Street__c"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">City</label>
                                        <div class="col-md-8">{{jobsiteDetail.City__c}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsite" class="form-group col-md-4 font-weight-bold">State</label>
                                        <div class="col-md-8">{{jobsiteDetail.State__c}} </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">Country</label>
                                        <div class="col-md-8" class="col-md-8">{{jobsiteDetail.Country__c}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsite" class="form-group col-md-4 font-weight-bold">Zip</label>
                                        <div class="col-md-8 ">{{jobsiteDetail.Zip__c}} </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">Jobsite Request Status</label>
                                        <div class="col-md-8">{{jobsiteDetail.Jobsite_Status__c}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsite" class="form-group col-md-4 font-weight-bold">Service Zone</label>
                                        <div class="col-md-8 ">{{jobsiteDetail.GeoMetro?.Name}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">Jobsite Approval Status</label>
                                        <div class="col-md-6" class="col-md-8">{{jobsiteDetail.Jobsite_Approval_Status__c}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>

    <div class="row" *ngIf="showContactInfo">
        <div class="col-md-12">
            <form #jobsiteDetailForm="ngForm" name='jobsiteDetailForm' (ngSubmit)="saveJobsiteDetail(jobsiteDetailForm, jobsiteDetail)"
                novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="jobsitecode" class="form-group col-md-4 font-weight-bold">Jobsite Key Contact</label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <table class="table color-table info-table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Jobsite Key Contact</th>
                                    <th scope="col">Customer Site contact (Technical Escalation)</th>
                                    <th scope="col">Customer Site (Admin Escalation)</th>
                                    <th scope="col">Customer Site (Service Desk)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': !jobsiteDetail.contacts['Key_Contact'].LastName }" id="Key_Contact_Name"
                                            name="Key_Contact_Name" [(ngModel)]="jobsiteDetail.contacts['Key_Contact'].LastName" 
                                            (input)="onNameChange(keyContactName)" #keyContactName>
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': !jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.LastName }"
                                            id="Technical_Escalation_Name" name="Technical_Escalation_Name" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.LastName" 
                                            (input)="onNameChange(technicalEscalationName)" #technicalEscalationName>
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': !jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.LastName }"
                                            id="Admin_Escalation_Name" name="Admin_Escalation_Name" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.LastName" 
                                            (input)="onNameChange(adminEscalationName)" #adminEscalationName>
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': !jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.LastName }"
                                            id="Service_Desk_Name" name="Service_Desk_Name" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.LastName" 
                                            (input)="onNameChange(serviceDeskName)" #serviceDeskName>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': (!jobsiteDetail.contacts['Key_Contact'].Phone) }" id="Key_Contact_Phone"
                                            name="Key_Contact_Phone" [(ngModel)]="jobsiteDetail.contacts['Key_Contact'].Phone" pattern="[0-9.]+" (input)="onInput($event, 'Key_Contact')">
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': (!jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Phone)}"
                                            id="Technical_Escalation_Phone" name="Technical_Escalation_Phone" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Phone" pattern="[0-9.]+" (input)="onInput($event, 'Customer Site (Technical Escalation)')">
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': (!jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Phone)}"
                                            id="Admin_Escalation_Phone" name="Admin_Escalation_Phone" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Phone" pattern="[0-9.]+" (input)="onInput($event, 'Customer Site (Admin Escalation)')">
                                    </td>
                                    <td>
                                        <input type="text" required [ngClass]="{'red-Background': (!jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Phone)}"
                                            id="Service_Desk_Phone" name="Service_Desk_Phone" [(ngModel)]="jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Phone" pattern="[0-9.]+" (input)="onInput($event, 'Customer Site (Service Desk)')">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        <input type="email" required [ngClass]="{'red-Background': keyContactEmail.errors }" [pattern]="emailPattern" name="Key_Contact_Email"
                                            [(ngModel)]="jobsiteDetail.contacts['Key_Contact'].Email" email #keyContactEmail="ngModel">
                                    </td>
                                    <td>
                                        <input type="email" required [ngClass]="{'red-Background': technicalEscalationEmail.errors }" [pattern]="emailPattern" name="Technical_Escalation_Email"
                                            [(ngModel)]="jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Email"
                                            email #technicalEscalationEmail="ngModel">
                                    </td>
                                    <td>
                                        <input type="email" required [ngClass]="{'red-Background': adminEscalationEmail.errors }" [pattern]="emailPattern" name="Admin_Escalation_Email"
                                            [(ngModel)]="jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Email"
                                            email #adminEscalationEmail="ngModel">
                                    </td>
                                    <td>
                                        <input type="email" required [ngClass]="{'red-Background': serviceDeskEmail.errors }" [pattern]="emailPattern" name="Service_Desk_Email"
                                            [(ngModel)]="jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Email"
                                            email #serviceDeskEmail="ngModel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="alert alert-success m-t-5" *ngIf="alert.status == 'success'">
                    <strong>{{alert.message}}</strong>
                </div>
                <div class="alert alert-warning m-t-5" *ngIf="alert.status == 'fail'">
                    <strong>{{alert.message}}</strong>
                </div>
                <div class="container" *ngIf="jobsiteDetailForm.invalid == true || hasErrorInName">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li class="red-color">
                                    <strong>All the fields in red color are mandatory fields</strong>
                                </li>
                            </ul>
                            <strong>Help Text</strong>
                            <ol>
                                <li *ngIf="(!jobsiteDetail.contacts['Key_Contact'].LastName)" class="red-color">Jobsite Key Contact Name to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Key_Contact'].Phone)" class="red-color">Jobsite Key Contact Phone to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Key_Contact'].Email)" class="red-color">Jobsite Key Contact Email to be filled</li>
                                <li *ngIf="keyContactEmail.errors && jobsiteDetail.contacts['Key_Contact'].Email" class="red-color">Jobsite Key Contact Email is not an valid Email</li>

                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.LastName)" class="red-color">Customer Site contact (Technical Escalation) Contact Name to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Phone)" class="red-color">Customer Site contact (Technical Escalation) Contact Phone to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Email)" class="red-color">Customer Site contact (Technical Escalation) Contact Email to be filled</li>
                                <li *ngIf="technicalEscalationEmail.errors && jobsiteDetail.contacts['Customer Site (Technical Escalation)'].contact.Email"
                                    class="red-color">Customer Site contact (Technical Escalation) Contact Email is not an valid Email</li>

                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.LastName)" class="red-color">Customer Site (Admin Escalation) Contact Name to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Phone)" class="red-color">Customer Site (Admin Escalation) Contact Phone to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Email)" class="red-color">Customer Site (Admin Escalation) Contact Email to be filled</li>
                                <li *ngIf="adminEscalationEmail.errors && jobsiteDetail.contacts['Customer Site (Admin Escalation)'].contact.Email" class="red-color">Customer Site (Admin Escalation) Contact Email is not an valid Email</li>

                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.LastName)" class="red-color">Customer Site (Service Desk) Contact Name to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Phone)" class="red-color">Customer Site (Service Desk) Contact Phone to be filled</li>
                                <li *ngIf="(!jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Email)" class="red-color">Customer Site (Service Desk) Contact Email to be filled</li>
                                <li *ngIf="serviceDeskEmail.errors && jobsiteDetail.contacts['Customer Site (Service Desk)'].contact.Email" class="red-color">Customer Site (Service Desk) Contact Email is not an valid Email</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="jobsiteDetailForm.invalid == true || hasErrorInName" style="display: block" class="mx-auto btn btn-primary w-25 p-2">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>