@media (min-width: 1100px){
.container-fluid {
    padding: 0 50px 25px;
}
.page-wrapper{
    margin-left: 0;
    padding-top: 0;
}

}
.form-group{
    margin-top: auto;
}
.error{padding: 0; color: #cc0000;}

.header-background{
    background-color: #ffffff !important;
}

.content-padding{
    padding: 0.25rem !important;
}
input[readonly] {
    background-color: #fff;
}

.table-wrapper-top-Account, .table-wrapper-bottom-Account {
    overflow-x: auto;
  }
  
  .scroll-top-Account {
    height: 1px;
  }
.margin-bottom {
    margin-bottom: 10px;
}
 
.align-account {
    padding-top: 37px;
}
.topalign-content {
    padding-top: 14px;
}


[type="radio"]:disabled + label {
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed !important;
}

.form-control:disabled, .form-control[readonly] {
    opacity: 0.7;
    cursor: not-allowed;
}

.selectWidth{
        display: block;
}

.read-only {
    opacity: 1 !important;
    cursor: text !important;
}

form label{
    width: 100%;
}