<div class="row justify-content-md-center">
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="col-md-10 text-center">
        <case-progress-bar [isFilled]="isFilled" [headTitle]="headTitle"></case-progress-bar>
    </div>
</div>
<div class="page-wrapper">
    <div class="divCustomCase container-fluid">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <div *ngIf="isSubmitted">
            <div class="alert alert-success">
                Case (Job Order) submitted successfully! (Note: The jobsite selected status: {{statusJobsite}})
            </div>
            <button (click)="resetForm()" class="btn">Return to Create Case (Customersite) Page</button>
        </div>
        <div class="alert alert-warning" *ngIf="!isSubmitted && !isEditable">
            Please review the details below and submit! (Note: The jobsite selected status: {{statusJobsite}})
        </div>
        <div class="alert alert-danger" *ngIf="isError">
            Oops! An error occured while creating the record. Please try again later.
        </div>
        <div class="row">
            <div *ngIf="!isSubmitted" class="col-md-3 align-account" [ngClass]="{'hidepanel': isCollapsed}">
                <div class="card">
                    <div class="card-header text-center text-white">
                        <b class="">Account</b>
                    </div>
                    <div class="table-wrapper-top-Account" (scroll)="onWindowsScrollTop2()">
                        <div class="scroll-top-Account" [style.width]="calulatedWidthForScroll2"> </div>
                    </div>
                    <div #calulateLeftWidth class="card-body content-padding leftScrollDiv posRelative table-wrapper-bottom-Account" (scroll)="onWindowsScrollBottom2()">
                        <content-account [isSetAccountId]="true"></content-account>
                    </div>
                </div>
            </div>
            <div *ngIf="!isSubmitted" [ngClass]="{'col-md-5': !isCollapsed, 'col-lg-8': isCollapsed}" class="topalign-content">
                <p class="text-themecolor font-weight-bold m-b-0 m-t-0">
                    <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed">
                        <i [ngClass]="{'ti-menu fa-1x': isCollapsed,'ti-close fa-1x': !isCollapsed }" class="ti-menu fa-1x"></i>
                    </a>
                </p>

                <form #formDir="ngForm" [formGroup]="customCaseForm" *ngIf="!isSubmitted">
                    <ngb-accordion #acc="ngbAccordion" activeIds={{activeIds}} [destroyOnHide]="false">
                        <ngb-panel id="accountInfo" title="(1) Account & Program Information">
                            <ng-template ngbPanelContent>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="center-block">Account ID
                                                <span class="text-danger">*</span>
                                                <input class="form-control" formControlName="AccountId" [value]="accountID">
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="center-block">Account Name
                                                <span class="text-danger">*</span>
                                                <input class="form-control" formControlName="accountName" [value]="accountName">
                                            </label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="center-block selectWidth">Program Reference Code
                                                <span class="text-danger">*</span>
                                                <select class="form-control" formControlName="Project_SOP__c" (change)="onProgramChange($event)">
                                                    <option value="-1"> --None--</option>
                                                    <option *ngFor="let program of programs, let i=index" [value]="program.sfdcId">{{program.Project__c}} ({{program.Name}})</option>
                                                </select>
                                            </label>

                                            <div *ngIf="customCaseForm.get('Project_SOP__c').invalid && customCaseForm.get('Project_SOP__c').touched" class="error">
                                                <div *ngIf="customCaseForm.get('Project_SOP__c').hasError('required')">
                                                    Program is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel id="caseContact" title="(2) Case Contact Information">
                            <ng-template ngbPanelContent>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="center-block selectWidth">Jobsite Location (Select Name)
                                            <span class="text-danger">*</span>
                                            <select class="form-control" formControlName="Jobsite__c" (change)="onJobsiteSelection($event)">
                                                <option value="-1"> --None--</option>
                                                <option *ngFor="let locname of locnames" [value]="locname.sfdcId">{{locname.Name}} ({{locname.Jobsite_Status__c}} ({{locname.Jobsite_Approval_Status__c}}))</option>
                                            </select>
                                            <div *ngIf="customCaseForm.get('Jobsite__c').invalid && customCaseForm.get('Jobsite__c').touched" class="error">
                                                <div *ngIf="customCaseForm.get('Jobsite__c').hasError('required')">
                                                    Job Location Name is required.
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="center-block">Jobsite Contact (Name) - End User or Ship To
                                            <span class="text-danger">*</span>
                                            <input class="form-control" maxlength="255" formControlName="Ship_to_Contact_Name__c" (blur)="isContactValid()" noWhiteSpace>
                                        </label>
                                        <div *ngIf="customCaseForm.get('Ship_to_Contact_Name__c').invalid && customCaseForm.get('Ship_to_Contact_Name__c').touched"
                                            class="error">
                                            <div *ngIf="customCaseForm.get('Ship_to_Contact_Name__c').hasError('whitespace')">
                                                Jobsite Contact Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-10">
                                    <div class="col-md-6">
                                        <label class="center-block">Jobsite Contact (Email) - End User or Ship To
                                            <span class="text-danger">*</span>
                                            <input class="form-control" #email maxlength="100" type="email" email formControlName="Ship_To_Contact_Email_Address__c"
                                                (blur)="isContactValid()">
                                        </label>
                                        <div *ngIf="customCaseForm.get('Ship_To_Contact_Email_Address__c').invalid && customCaseForm.get('Ship_To_Contact_Email_Address__c').touched"
                                            class="error">
                                            <div *ngIf="customCaseForm.get('Ship_To_Contact_Email_Address__c').errors.required">
                                                Jobsite Contact Email is required.
                                            </div>
                                            <div *ngIf="!customCaseForm.get('Ship_To_Contact_Email_Address__c').errors.valid && !customCaseForm.get('Ship_To_Contact_Email_Address__c').errors.required">
                                                Email is not valid.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="center-block">Jobsite Contact (Phone) - End User or Ship To
                                            <span class="text-danger">*</span>
                                            <input class="form-control" maxlength="40" formControlName="Ship_to_Contact_Phone_Number__c" (blur)="isContactValid()" noWhiteSpace>
                                        </label>
                                        <div *ngIf="customCaseForm.get('Ship_to_Contact_Phone_Number__c').invalid && customCaseForm.get('Ship_to_Contact_Phone_Number__c').touched"
                                            class="error">
                                            <div *ngIf="customCaseForm.get('Ship_to_Contact_Phone_Number__c').hasError('whitespace')">
                                                Jobsite Contact Phone No is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel id="caseDetails" title="(3a) Case Details">
                            <ng-template ngbPanelContent>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="center-block">
                                            <br />Case Reference (Partner Case Number)
                                            <span class="text-danger">*</span>
                                            <input class="form-control" maxlength="18" formControlName="Partner_Case_Number__c" required (blur)="isContactValid()" noWhiteSpace>
                                        </label>
                                        <div *ngIf="customCaseForm.get('Partner_Case_Number__c').invalid && (customCaseForm.get('Partner_Case_Number__c').dirty || customCaseForm.get('Partner_Case_Number__c').touched)"
                                            class="error">
                                            <div *ngIf="customCaseForm.get('Partner_Case_Number__c').hasError('whitespace')">
                                                Partner Case Number is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="center-block">Case Title (Summary)
                                            <span class="text-danger">*</span>
                                            <br/> Text Only ({{sumText | countChar: 60}} characters remaining)
                                            <input class="form-control" maxlength="60" #Summary formControlName="Case_Summary__c" (keyup)="sumText = Summary.value" (blur)="isContactValid()"
                                                noWhiteSpace>

                                        </label>
                                        <div *ngIf="customCaseForm.get('Case_Summary__c').invalid && customCaseForm.get('Case_Summary__c').touched" class="error">
                                            <div *ngIf="customCaseForm.get('Case_Summary__c').hasError('whitespace')">
                                                Partner Case Summary is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-10">
                                    <div class="col-md-12">
                                        <label class="center-block">Case Description (Details)
                                            <span class="text-danger">*</span>
                                            <br /> Text Only ({{desText | countChar: 5000}} characters remaining)
                                        </label>
                                        <textarea class="form-control" maxlength="5000" #description formControlName="Description" rows="3" (keyup)="desText = description.value"
                                            (blur)="isContactValid()" noWhiteSpace></textarea>
                                        <div *ngIf="customCaseForm.get('Description').invalid && customCaseForm.get('Description').touched" class="error">
                                            <div *ngIf="customCaseForm.get('Description').hasError('whitespace')">
                                                Case Description is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="caseDetailsAdd" title="(3b) Case Details - Additional Custom Instruction (optional)">
                            <ng-template ngbPanelContent>
                                <div class="form-group col-md-12">
                                    <label class="center-block">Custom work order instructions</label>
                                    <quill-editor formControlName="Custom_work_order_instructions__c" [modules]="editorModules" [style]="{height: '250px'}" name="Custom_work_order_instructions__c"
                                        (onEditorCreated)="addBindingCreated($event)" placeholder="Type your message here">
                                    </quill-editor>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="center-block">Special Instruction for Service Engineer (Private Message)
                                        <br /> Text Only ({{instText | countChar: 255}} characters remaining)
                                    </label>
                                    <textarea class="form-control" maxlength="255" #instrution (keyup)="instText = instrution.value" formControlName="X3PS_Vendor_Special_Instructions__c"
                                        rows="3"></textarea>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel id="caseProfile" title="(4) Service Catalog Selection: Incident Options">
                            <ng-template ngbPanelContent>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <div>
                                                <input id="standardIncidence" formControlName="incidenceType" class="with-gap" checked type="radio" [(ngModel)]="incidenceType"
                                                    value="Standard Incident Service Profile: Use Default Service Item Request"
                                                    (change)="onIncidenceTypeChange()">
                                                <label for="standardIncidence">Standard Incident Service Profile: Use Default Service Item Request</label>
                                            </div>
                                            <div>
                                                <input id="customIncidence" formControlName="incidenceType" class="with-gap" type="radio" [(ngModel)]="incidenceType" value="Custom Incident Service Profile: Create Custom Service Item Request"
                                                    (change)="onIncidenceTypeChange()">
                                                <label for="customIncidence">Custom Incident Service Profile: Create Custom Service Item Request</label>
                                            </div>
                                        </div>
                                    </div>

                                    <ngb-accordion #acc1="ngbAccordion" activeIds="incidence" [ngClass]="{'blue': className, 'orange': !className}" [destroyOnHide]="false">
                                        <ngb-panel id="incidence" [title]="incidenceType">
                                            <ng-template ngbPanelContent>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="center-block">Service Type
                                                                <span class="text-danger">*</span>
                                                                <select class="form-control" formControlName="Customer_Service_Type__c" (change)="onProfileChange()">
                                                                    <option *ngFor="let stype of stypes" [value]="stype">{{stype}}</option>
                                                                </select>
                                                            </label>
                                                            <div *ngIf="customCaseForm.get('Customer_Service_Type__c').invalid && customCaseForm.get('Customer_Service_Type__c').touched"
                                                                class="error">
                                                                <div *ngIf="customCaseForm.get('Customer_Service_Type__c').hasError('required')">
                                                                    Jobsite Service Type is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="center-block">Service Engineer (Talent Type)
                                                                <span class="text-danger">*</span>
                                                                <select class="form-control" formControlName="Talent_Type_ref__c" (change)="setTalentType($event)">
                                                                    <option *ngFor="let ttype of ttypes" [value]="ttype.sfdcId">{{ttype.Talent_Type_Name__c}}</option>
                                                                </select>
                                                            </label>
                                                            <div *ngIf="customCaseForm.get('Talent_Type_ref__c').invalid && customCaseForm.get('Talent_Type_ref__c').touched" class="error">
                                                                <div *ngIf="customCaseForm.get('Talent_Type_ref__c').hasError('required')">
                                                                    Jobsite Talent Type is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="center-block">Service Engineer (Expertise Level)
                                                                <span class="text-danger">*</span>
                                                                <select class="form-control" formControlName="Service_Technical_Level__c" (change)="onProfileChange()">
                                                                    <option *ngFor="let tlevel of tlevels" [value]="tlevel">{{tlevel}}</option>
                                                                </select>
                                                                <div *ngIf="customCaseForm.get('Service_Technical_Level__c').invalid && customCaseForm.get('Service_Technical_Level__c').touched"
                                                                    class="error">
                                                                    <div *ngIf="customCaseForm.get('Service_Technical_Level__c').hasError('required')">
                                                                        Jobsite Technical Level is required.
                                                                    </div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="center-block">Service Dispatch Priority (SLA Requested)
                                                                <span class="text-danger">*</span>
                                                                <select class="form-control" formControlName="Dispatch_SLA_Priority__c" (change)="onProfileChange()">
                                                                    <option *ngFor="let sla of slas" [value]="sla">{{sla}}</option>
                                                                </select>
                                                            </label>
                                                            <div *ngIf="customCaseForm.get('Dispatch_SLA_Priority__c').invalid && customCaseForm.get('Dispatch_SLA_Priority__c').touched"
                                                                class="error">
                                                                <div *ngIf="customCaseForm.get('Dispatch_SLA_Priority__c').hasError('required')">
                                                                    Dispatch SLA Priority is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="center-block">Service Coverage Hours Type
                                                                <span class="text-danger">*</span>
                                                                <br>
                                                            </label>
                                                            <div>
                                                                <br>
                                                                <label class="center-block">Standard Coverage Plans:</label>
                                                                <br>
                                                                <input id="ch1" [attr.disabled]="extendedDisabled?'':null" formControlName="Coverage_Hours__c" class="with-gap" type="radio"
                                                                    value="9H5D" (change)="onProfileChange()">
                                                                <label for="ch1">Standard Business Hours Coverage Plan: Monday-Friday, 9 am
                                                                    to 5pm (9H5D)</label>
                                                            </div>
                                                            <br>
                                                            <div>
                                                                <label class="center-block">Extended Coverage Plans (Afterhours, Weekends &amp; Holidays):</label>
                                                                <input id="ch2" [attr.disabled]="standardDisabled?'':null" formControlName="Coverage_Hours__c" class="with-gap" type="radio"
                                                                    value="24x7-DAY" (change)="onProfileChange()">
                                                                <label for="ch2">Extended Coverage Plan - Standard Business Hours Coverage
                                                                    Plan (24x7-9H5D): Monday-Friday, 9 am to 5pm</label>
                                                                <br>
                                                                <input id="ch3" [attr.disabled]="standardDisabled?'':null" formControlName="Coverage_Hours__c" class="with-gap" type="radio"
                                                                    value="24x7-AFTH" (change)="onProfileChange()">
                                                                <label for="ch3">Extended Coverage Plan - After Hours Coverage (24x7-AFTH):
                                                                    Monday-Friday, 5pm to 9am</label>
                                                                <br>
                                                                <input id="ch4" [attr.disabled]="standardDisabled?'':null" formControlName="Coverage_Hours__c" class="with-gap" type="radio"
                                                                    value="24x7-WKND" (change)="onProfileChange()">
                                                                <label for="ch4">Extended Coverage Plan - Weekend Hours Coverage (24x7-WKND)</label>
                                                                <br>
                                                                <input id="ch5" [attr.disabled]="standardDisabled?'':null" formControlName="Coverage_Hours__c" class="with-gap" type="radio"
                                                                    value="24x7-HLDY" (change)="onProfileChange()">
                                                                <label for="ch5">Extended Coverage Plan - Holiday Hours Coverage (24x7-HLDY)</label>
                                                            </div>
                                                            <div *ngIf="customCaseForm.get('Coverage_Hours__c').invalid && customCaseForm.get('Coverage_Hours__c').touched" class="error">
                                                                <div *ngIf="customCaseForm.get('Coverage_Hours__c').hasError('required')">
                                                                    Service Coverage Hours is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label class="center-block">Maintenance Event Duration (PPM* Hours)
                                                                <span class="text-danger">*</span>
                                                                <select class="form-control" formControlName="PPE_Hours__c" (change)="onProfileChange()">
                                                                    <option *ngFor="let ppm of ppms" [value]="ppm">{{ppm}}</option>
                                                                </select>
                                                            </label>
                                                            <div *ngIf="customCaseForm.get('PPE_Hours__c').invalid && customCaseForm.get('PPE_Hours__c').touched" class="error">
                                                                <div *ngIf="customCaseForm.get('PPE_Hours__c').hasError('required')">
                                                                    Event Duration is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6" *ngIf="!className">
                                                            <label class="center-block">Number of Service Engineers?
                                                                <span class="text-danger">*</span>
                                                                <br />
                                                                <input class="form-control" id="customIncidence" value="1" disabled>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                </div>
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel id="appointment" title="(5) Appointment Setup">
                            <ng-template ngbPanelContent>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-12 radio">
                                            Appointment Schedule:
                                            <span class="text-danger">*</span>
                                            <div>
                                                <input id="callSupport" class="with-gap" type="radio" formControlName="Appointment_Schedule_Information__c" value="Customer Appointment Setup Request (Iron Service Global to Call Customer)"
                                                    (change)="onScheduleChange('1')">
                                                <label for="callSupport">Customer Appointment Setup Request (Iron Service Global to Call Customer)</label>
                                            </div>
                                            <div>
                                                <input id="dispatchNow" class="with-gap" type="radio" formControlName="Appointment_Schedule_Information__c" value="Dispatch Now (SLA Priority: SBD)"
                                                    [attr.disabled]="true" (change)="onScheduleChange('2')">
                                                <label for="dispatchNow">Dispatch Now (SLA Priority: SBD)</label>
                                            </div>
                                            <div>
                                                <input id="preScheduled" class="with-gap" type="radio" selected formControlName="Appointment_Schedule_Information__c" value="Pre-Scheduled Appointment(Enter Date/Time (Local Time Zone) below)"
                                                    (change)="onScheduleChange('3')">
                                                <label for="preScheduled">Pre-Scheduled Appointment(Enter Date/Time (Local Time) below)</label>
                                            </div>
                                            <div *ngIf="customCaseForm.get('Appointment_Schedule_Information__c').invalid && customCaseForm.get('Appointment_Schedule_Information__c').touched"
                                                class="error">
                                                <div *ngIf="customCaseForm.get('Appointment_Schedule_Information__c').hasError('required')">
                                                    Appointment Schedule is required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" *ngIf="isEditable"></div>
                                        <div class="col-md-12" *ngIf="!isEditable && this.dateSelected">
                                            <p class="margin-bottom">{{dateSelected | date: 'short'}}</p>
                                        </div>
                                        <div class="col-md-6" *ngIf="isEditable">
                                            <div class="form-group">
                                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Date:
                                                    <span class="text-danger" *ngIf="selectedSchedule === '3'">*</span>
                                                    <div class="input-group">
                                                        <input [min]="minDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control read-only" formControlName="CustomerAppointment_Schedule_StartDate__c"
                                                            [value]="CustomerAppointment_Schedule_StartDate__c | date: 'shortDate'"
                                                            readonly="true" (dateTimeChange)="onDateChange()">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-secondary" [disabled]='!isEditable' (click)="setTodaysDate()" type="button">[ {{todaysDate | date: 'M/dd/yyyy'}} ]</button>
                                                        </span>
                                                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                                    </div>
                                                </label>
                                                <div class="error" *ngIf="customCaseForm.get('CustomerAppointment_Schedule_StartDate__c').invalid && 
                                                customCaseForm.get('CustomerAppointment_Schedule_StartDate__c').touched && selectedSchedule === '3'">
                                                    <div *ngIf="customCaseForm.get('CustomerAppointment_Schedule_StartDate__c').hasError('required')">
                                                        Appointment Schedule Start Date is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Hour:
                                                    <span class="text-danger" *ngIf="selectedSchedule === '3'">*</span>
                                                    <select class="form-control" formControlName="Appointment_Schedule_Start_hour__c" (change)="onAppointmentChange()">
                                                        <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
                                                    </select>
                                                </label>
                                                <div class="error" *ngIf="customCaseForm.get('Appointment_Schedule_Start_hour__c').invalid && 
                                                customCaseForm.get('Appointment_Schedule_Start_hour__c').touched && selectedSchedule === '3'">
                                                    <div *ngIf="customCaseForm.get('Appointment_Schedule_Start_hour__c').hasError('required')">
                                                        Appointment Schedule Start Hour is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="center-block">Pre-Schedule Customer Appointment Schedule (Start) Minute:
                                                    <span class="text-danger" *ngIf="selectedSchedule === '3'">*</span>
                                                    <select class="form-control" formControlName="Appointment_Schedule_Start_Minute__c" (change)="onAppointmentChange()">
                                                        <option *ngFor="let min of mins" [value]="min">{{min}}</option>
                                                    </select>
                                                </label>
                                                <div class="error" *ngIf="customCaseForm.get('Appointment_Schedule_Start_Minute__c').invalid && 
                                                customCaseForm.get('Appointment_Schedule_Start_Minute__c').touched && selectedSchedule === '3'">
                                                    <div *ngIf="customCaseForm.get('Appointment_Schedule_Start_Minute__c').hasError('required')">
                                                        Appointment Schedule Start Minute is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="fileUpload" title="(6) File Upload">
                            <ng-template ngbPanelContent>

                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="reviewConfirm" title="Review/Confirm">
                            <ng-template ngbPanelContent>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div style="margin-bottom: 1em">
                        <button [disabled]="!customCaseForm.valid" *ngIf="isEditable" (click)="confirmSubmission(false)" class="btn btn-success mRight">Review Order Request</button> &nbsp;
                        <button *ngIf="!isEditable" (click)="confirmSubmission(true)" class="btn btn-success mRight">Previous</button>
                        <button type="submit" *ngIf="!isEditable" (click)="onSubmit()" class="btn btn-success">SUBMIT CASE (NEW JOB ORDER)</button>
                    </div>
                </form>
            </div>
            <div [ngClass]="{'col-lg-4': !isSubmitted, 'col-lg-12': isSubmitted}">
                <h3 [ngClass]="{'text-center': !isSubmitted, 'text-left': isSubmitted}">Order Summary</h3>
                <case-right-panel [dataInput]="formData"></case-right-panel>
            </div>
        </div>
    </div>
</div>