<ngb-accordion #acc="ngbAccordion" activeIds="defaultProfile" [destroyOnHide]="false">
  <ngb-panel id="defaultProfile" title="Default Profile">
    <ng-template ngbPanelContent >
  
      <div class="table-responsive scroll-div col-md-12">
        <table class="table color-table info-table">
          <thead>
            <tr>
              <th>Service Type</th>
              <th>Service Engineer Talent Type</th>
              <th>Service Engineer (Technical Level)</th>
              <th>Dispatch SLA Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>{{project.Customer_Service_Type__c}}</td>
              <td>{{project.Talent_Type__c?.Talent_Type_Name__c}}</td>
              <td>{{project.Service_Technical_Level__c}}</td>
              <td>{{project.Service_Dispatch_SLA_Priority__c}}</td>
            </tr>
          </tbody>
        </table>
       
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>