<!--Select Program start here-->
<ngb-accordion #acc="ngbAccordion" activeIds="programsList, programDetails,approvedVendor,projectWorker" [destroyOnHide]="false">
    <ngb-panel id="programsList" title="(1) Select Program">
        <ng-template ngbPanelContent>
            <div class="col-md-12">
                <select-program stop='true' page="program-manager"></select-program>
            </div>
        </ng-template>
    </ngb-panel>
    <br>
    <ngb-panel id="programDetails" title="(2) Program Details: Jobsite Service Type" *ngIf="userState.program && userState.program.programSFId">
        <ng-template ngbPanelContent>
            <div class="col-md-12">
                <program-details></program-details>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="approvedVendor" title="(3) Approved Project Vendor View" *ngIf="userState.program && userState.program.programSFId">
        <ng-template ngbPanelContent>
            <div class="col-md-12">
                <approved-vendor></approved-vendor>
            </div>
        </ng-template>
    </ngb-panel>
    <ngb-panel id="projectWorker" title="(4) Project Worker View" *ngIf="userState.program && userState.program.programSFId">
        <ng-template ngbPanelContent>
            <div class="col-md-12">
                <project-worker></project-worker>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<!--End here-->