<div>
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let region of regions, let i = index">
                <td>
                    <input [checked]='region.sfdcId == selectedRegionId' type="radio" name="regionSelect" [id]="'rdoAcc' + i" [value]="region.sfdcId"
                        (change)="selectRegion(region)">
                    <label [for]="'rdoAcc' + i"></label>
                </td>
                <td>{{region.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>