<aside class="leftSearch">
    <div class="scroll-sidebar">
        <br />
        <form>
            <!-- Service Types -->
            <div class="form-group">
                <label class="control-label">Service Type</label>
                <select name="serviceTypeFilter" class="form-control custom-select" [(ngModel)]="selectedServiceType" (change)="onFilterChange('ServiceType')">
                    <option ngValue="ALL" selected>ALL</option>
                    <option *ngFor="let serviceType of serviceTypes" [value]="serviceType.sfdcId">{{serviceType.Name}}</option>
                </select>
            </div>
            <!-- Accounts -->
            <div class="form-group">
                <label class="control-label">Account</label>
                <select name="accountFilter" class="form-control custom-select" [(ngModel)]="selectedAccount" (change)="onFilterChange('Account')">
                    <option *ngFor="let account of accounts" [value]="account.sfdcId">{{account.Name}}</option>
                </select>
            </div>
            <!-- Programs -->
            <div class="form-group">
                <label class="control-label">Program</label>
                <select name="programFilter" class="form-control custom-select" [(ngModel)]="selectedProgram" (change)="onFilterChange('Project')">
                    <option ngValue="ALL" *ngIf="programs.length > 0" selected>ALL</option>
                    <option ngValue="--None--" selected *ngIf="programs.length == 0">--None--</option>
                    <option *ngFor="let program of programs" [ngValue]="program.sfdcId">{{program.Project__c}} - {{program.Name}}</option>
                </select>
            </div>
            <!-- Jobsites -->
            <div class="form-group">
                <label class="control-label">Jobsite</label>
                <select name="jobsiteFilter" class="form-control custom-select" [(ngModel)]="selectedJobsite" (change)="onFilterChange('Jobsite')">
                    <option ngValue="ALL" selected *ngIf="jobsites.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="jobsites.length == 0">--None--</option>
                    <option *ngFor="let jobsite of jobsites" [ngValue]="jobsite.sfdcId">{{jobsite.Name}}</option>
                </select>
            </div>
            <!-- Price Books (Service Catalog (Price List)) -->
            <div class="form-group">
                <label class="control-label">Service Catalog (Price List)</label>
                <select name="priceListFilter" class="form-control custom-select" [(ngModel)]="selectedPriceList" (change)="onFilterChange('Pricelist')">
                    <option ngValue="ALL" selected *ngIf="priceLists.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="priceLists.length == 0">--None--</option>
                    <option *ngFor="let priceList of priceLists" [ngValue]="priceList.sfdcId">{{priceList.Name}}</option>
                </select>
            </div>
            <!-- Quotes -->
            <div class="form-group">
                <label class="control-label">Quotes</label>
                <select name="quoteFilter" class="form-control custom-select" [(ngModel)]="selectedQuote" (change)="onFilterChange('QuoteManager')">
                    <option ngValue="ALL" selected *ngIf="quotes.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="quotes.length == 0">--None--</option>
                    <option *ngFor="let quote of quotes" [ngValue]="quote.sfdcId">{{quote.Name}}</option>
                </select>
            </div>
            <!-- Sales Orders -->
            <div class="form-group">
                <label class="control-label">Sales Order</label>
                <select name="salesOrderFilter" class="form-control custom-select" [(ngModel)]="selectedSalesOrder" (change)="onFilterChange('SalesOrder')">
                    <option ngValue="ALL" selected *ngIf="salesOrders.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="salesOrders.length == 0">--None--</option>
                    <option *ngFor="let saleOrder of salesOrders | unique: 'Sales_Order_Number__c'" [ngValue]="saleOrder.sfdcId">{{saleOrder.Sales_Order_Number__c}}</option>
                </select>
            </div>
            <!-- Timecards -->
            <div class="form-group">
                <label class="control-label">Timecard</label>
                <select name="timecardFilter" class="form-control custom-select" [(ngModel)]="selectedTimecard" (change)="onFilterChange('Timecard')">
                    <option ngValue="ALL" selected *ngIf="timecards.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="timecards.length == 0">--None--</option>
                    <option *ngFor="let timecard of timecards" [ngValue]="timecard.sfdcId">{{timecard.Name}}</option>
                </select>
            </div>
            <!-- Invoices -->
            <div class="form-group">
                <label class="control-label">Invoice</label>
                <select name="invoiceFilter" class="form-control custom-select" [(ngModel)]="selectedInvoice" (change)="onFilterChange('Invoice')">
                    <option ngValue="ALL" selected *ngIf="invoices.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="invoices.length == 0">--None--</option>
                    <option *ngFor="let invoice of invoices" [ngValue]="invoice.sfdcId">{{invoice.Name}}</option>
                </select>
            </div>
            <!-- Payments -->
            <div class="form-group">
                <label class="control-label">Payment</label>
                <select name="paymentFilter" class="form-control custom-select" [(ngModel)]="selectedPayment" (change)="onFilterChange('Payment')">
                    <option ngValue="ALL" selected *ngIf="payments.length > 0">ALL</option>
                    <option ngValue="--None--" selected *ngIf="payments.length == 0">--None--</option>
                    <option *ngFor="let payment of payments" [ngValue]="payment.sfdcId">{{payment.Name}}</option>
                </select>
            </div>
        </form>
    </div>
</aside>