<div style="padding: 3%;">
    <div class="row form-group">
        <div class="col-md-6">
            <label class="required-field">Country</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" [(ngModel)]="newForm.countryid" (change)="filterByCountry()">
                <option Value="none" selected="true">--None--</option>
                <option *ngFor="let c of (countryddl | unique: 'Country__c')" [ngValue]="c.GEO_Country__c">{{c.Country__c}}</option>
            </select>
            <div *ngIf="formErrors.countryid" class="errorMessage"> {{ formErrors.countryid }}</div>

        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label class="required-field">State/Province</label>
        </div>
        <div class="col-md-7">
            <select class="form-control" [(ngModel)]="newForm.stateid" (change)="searchServiceZone()">
                <option Value="" selected="true">--None--</option>
                <option *ngFor="let state of (stateddl | unique: 'State_Province__c')" [ngValue]="state.State_Province__c">{{state.Name_of_State_Province__c}}</option>
            </select>
            <div *ngIf="formErrors.stateid" class="errorMessage"> {{ formErrors.stateid }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label class="required-field">Zip/Postal Code</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" [(ngModel)]="newForm.ZipCode" name="zipcode">
            <div *ngIf="formErrors.ZipCode" class="errorMessage"> {{ formErrors.ZipCode }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label class="required-field">City</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" [(ngModel)]="newForm.City" name="city">
            <div *ngIf="formErrors.City" class="errorMessage"> {{ formErrors.City }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label class="required-field">Street </label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" [(ngModel)]="newForm.Street" name="street">
            <div *ngIf="formErrors.Street" class="errorMessage"> {{ formErrors.Street }}</div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-7">
            <button (click)="searchServiceZone()" class="btn btn-primary btn-block">Search Nearby Service Zone(By Distance)</button>
        </div>
    </div>
</div>