<div class="table-responsive scroll-div">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>No</th>
                <th width="150">Program Number</th>
                <th>Program Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let program of programs, let i = index">
                <td>
                    <input type="radio" name="program" [id]="'rdo' + i" [value]="program.sfdcId" [checked]="program.sfdcId == programSFId" (change)="selectProgramID(program)">
                    <label [for]="'rdo' + i"></label>
                </td>
                <td>{{i+1}}</td>
                <td>
                    <a href="javascript:void(0)" (click)="openDetailPage(programDetail,'xl',program)">{{program.Project__c}}</a>
                </td>
                <td>{{program.Name}}</td>
                <td>{{program.CreatedDate | date:'shortDate'}}</td>
            </tr>
            <tr *ngIf="errorMessage" class="alert alert-warning m-t-5">
                <td colspan="5">{{errorMessage}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #programDetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Project Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <program-detail [program]="contentData"></program-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>