<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label>Work Order #</label>
            </div>
            <div class="col-md-6">{{caseDetail?.workOrder?.Name}}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label>Case #</label>
            </div>
            <div class="col-md-6">{{caseDetail?.CaseNumber}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label>Partner PMS ID (WO) / Partner PMS ID (Case)</label>
            </div>
            <div class="col-md-6">{{caseDetail?.workOrder?.Partner_Case_Number__c}} /{{caseDetail?.Partner_Case_Number__c}}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label> PMS Case Summary</label>
            </div>
            <div class="col-md-6">{{caseDetail?.Case_Summary__c}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label>PMS Case Description</label>
            </div>
            <div class="col-md-6">{{caseDetail?.Description}}</div>
        </div>
    </div>
</div>