<div class="table-responsive scroll-div">
    <table class="table color-table info-table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Program #</th>
                <th>Jobsite #</th>
                <th>Jobsite Key Contact</th>
                <th>Customer Site Contact(Technical Escalation)</th>
                <th>Customer Site (Admin Escalation)</th>
                <th>Customer Site (Service Desk)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jc of jobsiteContacts, let i = index" [ngClass]="{'bgRed': (jc.Jobsite_Key_Contact && jc['Customer Site (Technical Escalation)'] && jc['Customer Site (Admin Escalation)'] && jc['Customer Site (Service Desk)']) ? false : true, 'bgGreen': (jc.Jobsite_Key_Contact && jc['Customer Site (Technical Escalation)'] && jc['Customer Site (Admin Escalation)'] && jc['Customer Site (Service Desk)']) ? true : false}">

                <td>{{i+1}}</td>
                <td>{{programID}}</td> 
                <td>{{jc.Jobsite_ID__c}}</td>
                <td>{{jc.Jobsite_Key_Contact}} </td>
                <td>{{jc['Customer Site (Technical Escalation)']}}</td>
                <td>{{jc['Customer Site (Admin Escalation)']}}</td>
                <td>{{jc['Customer Site (Service Desk)']}}</td>
            </tr>
        </tbody>
    </table>
</div>