<div class="card-body">
    <div class="row">
        <div class="col-6">
            <h3 class="text-themecolor">
                <i _ngcontent-c30="" class="fa fa-list-ul"></i> Document Title List </h3>
        </div>
        <div class="col-6 text-right m-b-5">
            <button (click)="onButtonClick('Add', '')" class="btn btn-sm">
                <span class="fa fa-plus"></span> Add New document Title</button>
        </div>
    </div>
    <div class="row m-t-10 m-r-3">
        <div class="col-12 text-right">
            <button type="button" class="btn btn-sm mRight editColumn" i18n>
                <i class="fa fa-th"></i> Edit Columns
            </button>
            <div class="dd-column-selector">
                <li *ngFor='let col of allColumns' class="p-l-5">
                    <input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
                    <label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
                </li>
            </div>
            <button type="button" class="btn btn-sm mRight" (click)="refreshView();" i18n>
                <i class="fa fa-refresh"></i> Refresh
            </button>
            <button *ngIf="tableData[0] && !tableData[0]['message']" class="btn btn-sm" (click)="exportCSV()">
                <i class="fa fa-download"></i> CSV</button>
        </div>
    </div>

    <!--Document List view start here-->
    <div class="row m-t-5">
        <div id="dataTable" class="col-12 m-t-5">
            <div id="sticky-anchor"></div>
            <ngx-datatable #myTable class="material striped fixed-header fullscreen" [rows]="tableData" [loadingIndicator]="loadingIndicator"
                [columnMode]="'force'" [limit]="10" [headerHeight]="80" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="true"
                [sortType]="'single'" [scrollbarH]="true"  ngx-resize-watcher>
                <div *ngFor="let col of columns">
                    <ngx-datatable-column *ngIf="col.visible" [width]="col.width" [name]="col.name" [prop]="col.prop" [sortable]="col.sortable">
                        <ng-template *ngIf="col.prop == 'Action'" let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="input-group-btn">
                                <span class="text-wrap icon-color" data-toggle="dropdown">
                                    &nbsp;

                                    <i *ngIf="tableData[0] && !tableData[0]['message']" class="fa fa-ellipsis-v"></i> &nbsp;
                                </span>
                                <div class="dropdown-menu dropdown-menu-right action-dd-right">
                                    <button class="dropdown-item icon-color" (click)="onButtonClick('Edit', row)" title="Edit">Edit</button>
                                    <button class="dropdown-item icon-color" (click)="onButtonClick('View', row)" title="View">View</button>
                                    <button class="dropdown-item icon-color" (click)="onButtonClick('Active', row)" title="{{(row?.isActive) ? 'Do you want to deactivate this document title' : 'Do you want to activate this document title'}}">{{(row?.isActive) ? 'Deactivate' : 'Activate'}}</button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template *ngIf="col.name != 'Action'" let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span class="datatable-header-cell-wrapper float-left">
                                <span class="datatable-header-cell-label draggable" (click)="sort()">
                                    {{col.name}}
                                </span>
                            </span>
                            <div class="input-group float-right  form-material">
                                <input type='text' [id]="col.prop" class="form-control" style='font-size: 14px;padding-left:2px;' placeholder="Type to search..."
                                    (keyup)='filterData($event)' />
                            </div>
                        </ng-template>

                    </ngx-datatable-column>
                </div>
                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                        let-curPage="curPage" let-offset="offset">
                        <div style="padding: 5px 10px">
                            <div>
                                Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
                            </div>
                        </div>
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                            (change)="myTable.onFooterPage($event)">
                        </datatable-pager>
                        <div style="padding: 5px 10px" [hidden]="!((rowCount / pageSize) > 1) || noRecords">
                            <div>
                                <button class="btn btn-sm" (click)="loadMoreRecords()">Load More</button>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-footer>
            </ngx-datatable>


        </div>
        <!--End here-->
    </div>
</div>