.bg-color {
    background-color: #dc3545 !important
}

.header-navbar {
    line-height: 20px !important;
    padding: 0px 15px 0px 15px !important;
}

.icon-size {
    font-size: 20px !important;
}

.dropdown-left {
    left: -75px !important;
}