<header class="topbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark top-navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">
                <b><i class="fa fa-cutlery logo-size"></i></b>
                <span>&nbsp;<b>Hobs&Oven.com</b></span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0"></ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item">
                    <a href="/home" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-home fa-2x"></span>
                        <br>
                        <span class="text-white">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-cookie fa-2x"></span>
                        <br>
                        <span class="text-white">Sell With Us</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-phone fa-2x"></span>
                        <br>
                        <span class="text-white">Contact Us</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-shopping fa-2x"></span>
                        <br>
                        <span class="text-white">Cart</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link text-muted waves-effect waves-dark text-center">
                        <span class="text-white mdi mdi-account-circle fa-2x"></span>
                        <br>
                        <span class="text-white">Account</span>
                    </a>
                </li>
                <!-- Profile -->
                <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle u-dropdown" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img *ngIf="user?.profileImage" class="round round-top round-img" src="{{imgpath}}/Containers/{{user?.id}}/download/{{user?.profileImage}}">
                                <span *ngIf="!user?.profileImage" class="round round-primary round-top">{{(user?.firstname) ? (user?.firstname.charAt(0).toUpperCase()) : ''}}{{(user?.lastname) ? (user?.lastname.charAt(0).toUpperCase())
                                    :''}}
                                </span>
                                <br>
                                <span class="profile-status away pull-right">Me&nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="row p-10 p-b-0">
                                            <div class="col-12">
                                                <div class="pull-left">
                                                    <div *ngIf="user?.profileImage" class="user-img">
                                                        <img class="round round-dropdown round-img" src="{{imgpath}}/Containers/{{user?.id}}/download/{{user?.profileImage}}" alt="user">
                                                    </div>
                                                    <div *ngIf="!user?.profileImage" class="user-img">
                                                        <span class="round round-primary round-dropdown">{{(user?.firstname) ? (user?.firstname.charAt(0).toUpperCase()) : ''}}{{(user?.lastname)
                                                            ? (user?.lastname.charAt(0).toUpperCase()) :''}}</span>
                                                    </div>
                                                </div>
                                                <div class="text-wrap wrap-margin">
                                                    <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                                                    <p class="text-muted">{{user?.email}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="javascript:void(0);" (click)="logout()">
                                            <i class="fa fa-power-off"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
            </ul>
        </div>
    </nav>
</header>