.round-img {
    background: #ffffff !important;
}

.logo-size {
    font-size: 25px !important;
}

.wrap-margin {
    margin-left: 3.5rem !important;
}

.wrap-margin .text-muted { 
    margin-bottom: 5px !important;
}

.wrap-margin h4 {
    margin-bottom: 0px !important;
}


.bg-dark {
    background-color: #dc3545 !important
}
