<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark bg-color header-navbar">
        <a class="navbar-brand" href="javascript:void(0);" (click)="onHomeClick()">
            <i class="text-white fa fa-cutlery icon-size"></i>
            <span class="text-white">&nbsp;Hobs&Oven.com</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-md-0"></ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            <ul class="navbar-nav mt-md-0 my-lg-0">
                <li class="nav-item text-center">
                    <a class="nav-link" href="javascript:void(0);" (click)="onHomeClick()">
                        <span class="text-white fa fa-home icon-size"></span>
                        <br />
                        <span class="text-white">Home</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="javascript:void(0);" (click)="onSellerEnquiryClick()">
                        <span class="text-white fa fa-handshake-o icon-size"></span>
                        <br />
                        <span class="text-white">Sell With Us</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="javascript:void(0);" (click)="onHomeClick()">
                        <span class="text-white fa fa-question-circle-o icon-size"></span>
                        <br />
                        <span class="text-white">Help</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="javascript:void(0);" (click)="onHomeClick()">
                        <span class="text-white fa fa-shopping-cart icon-size"></span>
                        <br />
                        <span class="text-white">Cart</span>
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="javascript:void(0);" (click)="onLoginClick(userLogin, 'lg')">
                        <span class="text-white fa fa-user-circle icon-size"></span>
                        <br />
                        <span class="text-white">Sign In</span>
                    </a>
                </li>
                <li class="nav-item text-center dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-white fa fa-user-circle icon-size"></span>
                        <br />
                        <span class="text-white">Account</span>
                    </a>
                    <div class="dropdown-menu dropdown-left" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:void(0);">
                            <span class="fa fa-user"></span> Profile
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);">
                            <span class="fa fa-shopping-bag"></span> My Orders
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);">
                            <span class="fa fa-power-off"></span> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<ng-template #userLogin let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Login/Sign up</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-login></app-user-login>
    </div>
</ng-template>