<div *ngIf="jobsiteData.Name" class="row m-t-10">
    <div class="col text-center">
        <a href="javascript:void(0)" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">Manage Jobsite&nbsp;&nbsp;
            <i class="fa fa-pencil"></i>
        </a>
    </div>
</div>
<div class="row m-t-10">
    <div class="col  font-weight-bold">
        Jobsite Name:
    </div>
    <div class="col">
        <a href="javascript:void(0)" *ngIf="jobsiteData.Name" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">{{jobsiteData.Name}}</a>
    </div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite Id:
    </div>
    <div class="col">
        <a href="javascript:void(0)" *ngIf="jobsiteData.Name" (click)="openDetailPage(jobsitedetail,'xl',jobsiteData)">{{jobsiteData.Jobsite_ID__c}}</a>
    </div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite Request Status:
    </div>
    <div class="col">{{jobsiteData?.Jobsite_Status__c}}</div>
</div>
<div class="row">
    <div class="col font-weight-bold">
        Jobsite Approval Status:
    </div>
    <div class="col">{{jobsiteData?.Jobsite_Approval_Status__c}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite Street:
    </div>
    <div class="col">{{jobsiteData?.Street__c}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite City:
    </div>
    <div class="col">{{jobsiteData?.City__c}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite State:
    </div>
    <div class="col">{{jobsiteData?.State__c}}</div>
</div>
<div class="row m-t-10">
    <div class="col font-weight-bold">
        Jobsite Country:
    </div>
    <div class="col">{{jobsiteData?.GeoMetro?.Country__c}}</div>
</div>

<ng-template #jobsitedetail let-c="close" let-d="dismiss">
    <div class="modal-header ">
        <h4 class="modal-title">Manage Jobsite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scroll-vertical740">
        <jobsite-detail [jobsite]="contentData"></jobsite-detail>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>