<ngb-tabset type="pills">
    <!-- Summary Section -->
    <ngb-tab title="Summary">
        <ng-template ngbTabContent>
            <br/>
            <summary></summary>
        </ng-template>
    </ngb-tab>
    <!-- Health Check Section  -->
    <ngb-tab title="Health Check">
        <ng-template ngbTabContent>
            <br/>
            <health-check></health-check>
        </ng-template>
    </ngb-tab>
    <!-- My Coverage Map Section -->
    <ngb-tab [disabled]="true">
        <ng-template ngbTabTitle>
            <div (click)="openMyCoverageMap();" style="color: #1e88e5;">My Coverage Map</div>
        </ng-template>
        <ng-template ngbTabContent>

        </ng-template>
    </ngb-tab>
</ngb-tabset>