<div class="container">
	<ngb-accordion #acc="ngbAccordion" activeIds="InvoiceDetailId" [destroyOnHide]="false">
		<ngb-panel class="pull-left" id="InvoiceDetailId" title="Invoice Detail" class="Cards-header ">
			<ng-template ngbPanelContent>
				<div class="row">
					<div class="col-3 font-weight-bold">Invoice Receipt #</div>
					<div class="col-3">{{invoiceDetails.Name}}</div>
					<div class="col-3 font-weight-bold">Account Name</div>
					<div class="col-3">{{invoiceDetails?.accountName}}</div>
				</div>
				<div class="row m-t-15">
					<div class="col-3 font-weight-bold">Currency</div>
					<div class="col-3">{{invoiceDetails.CurrencyIsoCode}}</div>
					<div class="col-3 font-weight-bold">Local Currency Invoice Amount</div>
					<div class="col-3">{{invoiceDetails.Amount__c | number:'1.2-2'}}</div>
				</div>
				<div class="row m-t-15">
					<div class="col-3 font-weight-bold">Local Invoice Amount (Paid)</div>
					<div class="col-3">{{invoiceDetails.Total_Paid__c | number:'1.2-2'}}</div>
					<div class="col-3 font-weight-bold">Invoice Due Date</div>
					<div class="col-3">{{invoiceDetails.Due_Date__c | date:'shortDate'}}</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</div>