<div class="card">
	<div class="col-12 p-10 text-right m-b-5">
		<button type="button" class="btn btn-sm editColumn" i18n>
				<i class="fa fa-th"></i> Edit Columns
		</button> &nbsp;
		<div class="dd-column-selector">
			<li *ngFor='let col of allColumns' class="p-l-5">
				<input *ngIf="col.name !=''" type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='col.visible' />
				<label *ngIf="col.name !=''" [attr.for]="col.name">{{col.name}}</label>
			</li>
		</div>
	</div>
	<div class="card-body">
		<ngx-datatable #myTable class="material striped fixed-header expandable doubleScroll" [rows]="tableData" [loadingIndicator]="loadingIndicator"
		 [columnMode]="'standard'" [limit]="itemsPerPage" [headerHeight]="80" [footerHeight]="50" [rowHeight]="60" ngx-resize-watcher>
			<div *ngFor="let col of columns">
				<ngx-datatable-column *ngIf="col.visible" [name]="col.name" [prop]="col.prop" [width]="col.width" [sortable]="col.sortable">

					<ng-template *ngIf="col.prop == 'PPE_1HR_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span *ngIf="row.PPE_1HR_Standard_Price__c == '0'">
							<i class="fa fa-times text-danger"></i>
						</span>
						<span *ngIf="row.PPE_1HR_Standard_Price__c != '0'">{{row.PPE_1HR_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
					<ng-template *ngIf="col.prop == 'PPE_2HR_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span *ngIf="row.PPE_2HR_Standard_Price__c == '0'">
							<i class="fa fa-times text-danger"></i>
						</span>
						<span *ngIf="row.PPE_2HR_Standard_Price__c != '0'">{{row.PPE_2HR_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
					<ng-template *ngIf="col.prop == 'PPE_3HR_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span *ngIf="row.PPE_3HR_Standard_Price__c == '0'">
							<i class="fa fa-times text-danger"></i>
						</span>
						<span *ngIf="row.PPE_3HR_Standard_Price__c != '0'">{{row.PPE_3HR_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
					<ng-template *ngIf="col.prop == 'PPE_4HR_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span *ngIf="row.PPE_4HR_Standard_Price__c == '0'">
							<i class="fa fa-times text-danger"></i>
						</span>
						<span *ngIf="row.PPE_4HR_Standard_Price__c != '0'">{{row.PPE_4HR_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
					<ng-template *ngIf="col.prop == 'PPE_8HR_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span *ngIf="row.PPE_8HR_Standard_Price__c == '0'">
							<i class="fa fa-times text-danger"></i>
						</span>
						<span *ngIf="row.PPE_8HR_Standard_Price__c != '0'">{{row.PPE_8HR_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
					<ng-template *ngIf="col.prop == 'Additional_Hours_T_M_Standard_Price__c'" let-row="row" ngx-datatable-cell-template>
						<span>{{row.Additional_Hours_T_M_Standard_Price__c | number : '1.2-2'}}</span>
					</ng-template>
				</ngx-datatable-column>
			</div>

			<ngx-datatable-footer>
				<ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
				 let-curPage="curPage" let-offset="offset">
					<div style="padding: 5px 10px">
						<div>
							Total: {{((tableData[0]) && !tableData[0]['message']) ? rowCount : 0}}
						</div>
					</div>
					<datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
					 [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
					 (change)="myTable.onFooterPage($event)">
					</datatable-pager>
				</ng-template>
			</ngx-datatable-footer>
		</ngx-datatable>
	</div>
</div>