<div class="container">
  <div class="m-2">
    <div class="row">
      <div class="col-md-6">
        <div class="row ">
          <label for="Partner" class="form-group col-md-4 font-weight-bold">Account Name </label>
          <div class="col-md-6 ">{{accountDetails?.Name}} </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="Partner" class="form-group col-md-4 font-weight-bold">AX Account Number </label>
          <div class="col-md-6 "> {{accountDetails?.Account_Number__c}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="program" class="form-group col-md-4 font-weight-bold">Price Book Name </label>
          <div class="col-md-6 " class="col-md-8"> {{accountDetails?.Price_Book_Name}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="programcode" class="form-group col-md-4 font-weight-bold">Master Project </label>
          <div class="col-md-6" class="col-md-8"> {{accountDetails?.Master_Program_Name}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="quote" class="form-group col-md-4 font-weight-bold">Webcase Account Name </label>
          <div class="col-md-8 "> {{accountDetails?.Webcase_Account_Name__c}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="quotecreateddate" class="form-group col-md-4 font-weight-bold">IRON Service Global Account ID </label>
          <div class="col-md-8 "> {{accountDetails?.Service_Global_Ref__c}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing Street </label>
          <div class="col-md-8 "> {{accountDetails?.BillingStreet}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping Street </label>
          <div class="col-md-8"> {{accountDetails?.ShippingStreet}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing City </label>
          <div class="col-md-8 "> {{accountDetails?.BillingCity}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping City </label>
          <div class="col-md-8"> {{accountDetails?.ShippingCity}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing State/Province </label>
          <div class="col-md-8 "> {{accountDetails?.BillingState}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping State/Province </label>
          <div class="col-md-8"> {{accountDetails?.ShippingState}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing Country </label>
          <div class="col-md-8 "> {{accountDetails?.BillingCountry}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping Country </label>
          <div class="col-md-8"> {{accountDetails?.ShippingCountry}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing Zip/Postal Code </label>
          <div class="col-md-8 "> {{accountDetails?.BillingPostalCode}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping Zip/Postal Code </label>
          <div class="col-md-8"> {{accountDetails?.ShippingPostalCode}}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="jobsite" class="form-group col-md-4 font-weight-bold">Billing country Code </label>
          <div class="col-md-8 "> {{accountDetails?.Billing_country_Code__c}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label for="jobsiteproject" class="form-group col-md-4 font-weight-bold">Shipping country Code </label>
          <div class="col-md-8"> {{accountDetails?.Shipping_country_Code__c}}</div>
        </div>
      </div>
    </div>
  </div>
</div>