
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h4 class="section-title">Account Details</h4>
    </div>
</div>

<div *ngIf="account" class="card-body">
    <div class="row">
        <div class="col-sm-6">
            <strong class="text-muted">Name</strong>
            <p>{{account?.Name}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Account Source </strong>
            <p>{{account?.AccountSource }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Service Global Ref</strong>
            <p>{{account?.Service_Global_Ref__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Vendor Type</strong>
            <p>{{account?.Vendor_Type__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Partner</strong>
            <p>{{account?.IsPartner == true ? 'Yes' : 'No' }}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Owner</strong>
            <p>{{account?.OwnerId}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Company Reference Code</strong>
            <p>{{account?.Company_Reference_code__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Currency</strong>
            <p>{{account?.CurrencyIsoCode}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Business Size</strong>
            <p>{{account?.Business_Size_c__c}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Last Modified Date</strong>
            <p>{{account?.LastModifiedDate | date:'short'}}&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <strong class="text-muted">Created On</strong>
            <p>{{account?.CreatedDate | date:'short' }}&nbsp;</p>
        </div>

    </div>
</div>
<div *ngIf="errorMessage">
    <div class="alert alert-warning m-t-5">
        {{errorMessage}}
    </div>
</div>