<div *ngIf="error" class="alert alert-danger alert-dismissable">
  {{error}}
</div>
<form novalidate [formGroup]="formAssignWorker" (ngSubmit)="assignWorker()" class="form-material">
  <div class="row">
    <div class="col-sm-12 input-group">
      <div class="col-sm-6">
        <strong class="text-muted">Worker Name</strong>
        <span class="text-danger">*</span>
        <div class="input-group">
          <select class="form-control" formControlName="Dispatch_Worker_Name__c" (change)="getPhone($event)" required>
            <option value="null"> --- Select Worker --- </option>
            <option *ngFor="let worker of workers" value="{{worker.sfdcId}}">
              {{worker.Name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <strong class="text-muted">Worker Phone</strong>
          <span class="text-danger">*</span>
          <input type="text" required class="form-control" formControlName="Dispatch_Worker_Phone__c">
        </div>
      </div>
      <div class="col-sm-12 text-right">
        <span class="input-group-btn m-l-15 m-t-15">
          <button class="btn btn-primary" type="submit">Submit</button>
        </span>
      </div>
    </div>
  </div>
</form>