<div class="modal-header">
    <h4 class="modal-title">Document Upload</h4>
    <button *ngIf="isClose" type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form #f="ngForm" class="form-material" (ngSubmit)="startUpload(f.value);">
    <div class="modal-body scroll-vertical740">
        <div *ngIf="error" class="alert alert-danger alert-dismissable" [innerHtml]="error">
            <!-- {{error}} -->
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label>Document Category
                    <span class="text-danger">*</span>
                </label>
                <div class="form-group has-feedback">
                    <select #catval (change)="getSubCategories(catval.value)" class="form-control" [ngModel]="document.parentId" name="parentId"
                        required #parentId="ngModel" [disabled]="isCategoryDisabled">
                        <option value="">--Select Document Category--</option>
                        <option *ngFor="let category of documentCategories" [value]="category.id">
                            {{category.title}}
                        </option>
                    </select>
                    <div [hidden]="parentId.valid || (parentId.pristine && !f.touched)" class="form-control-feedback text-danger">
                        Document category is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label>Document Title
                    <span class="text-danger">*</span>
                </label>
                <div class="form-group has-feedback">
                    <select class="form-control" name="categoryId" required [(ngModel)]="document.categoryId" #categoryId="ngModel" [disabled]="isSubCategoryDisabled">
                        <option value="">--Select Document Title--</option>
                        <option *ngFor="let DocTitle of titles" [value]="DocTitle.id">
                            {{DocTitle.title}}
                        </option>
                    </select>
                    <div [hidden]="categoryId.valid || (categoryId.pristine && !f.touched)" class="form-control-feedback text-danger">
                        Document title is required.
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label>Description</label>
                <div class="form-group has-feedback">
                    <input class="form-control" name="description" [(ngModel)]="document.description" #title="ngModel">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="upload-popup">
                    <div class="popup-container p-t-0">
                        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event ,f.value)"
                            [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                            <h1>Drag & Drop</h1>
                            <p>
                                <span>Your file here or</span>
                                <label class="upload-button">
                                    <input #myInputFile type="file" name="files" id="files" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event ,f.value)"
                                        [uploadInput]="uploadInput" multiple> browse
                                </label>
                            </p>
                        </div>

                        <i class="text-info fa fa-info text-wrap">
                            Only 5 Files are allowed to upload at a time.
                        </i><br/>
                        <i class="text-info fa fa-info text-wrap">
                            Maximum size allowed for a file is 10 MB.
                        </i><br/>
                        <i *ngIf="noteMsg" class="text-info fa fa-info text-wrap">
                            {{noteMsg}}
                        </i>
                        <div class="uploads" *ngIf="files?.length">
                            <div class="upload-item" *ngFor="let f of files; let i = index;">
                                <div class="upload-item-top">
                                    <span class="filename" [ngClass]="{'text-danger': f.isInvalid}">{{ f.name }}</span>
                                    <span class="progress-data" [ngClass]="{'text-danger': f.isInvalid}">
                                        {{ f.progress.data.percentage }}% at {{ f.progress.data.speedHuman }} eta {{ f.progress.data.eta }}s
                                    </span>
                                    <span *ngIf="!isUploadStarted" class="x" [ngClass]="{'text-danger': f.isInvalid}" (click)="removeFile(f.id)">x</span>
                                </div>
                                <div class="progress-bar-container" *ngIf="f.progress.data.percentage>0">
                                    <div class="bar" [style.width]="f.progress.data.percentage + '%'" [class.green]="f.progress.data.percentage === 100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn-primary btn pull-right" [disabled]="!f.valid || !isValid || isUploadStarted">
            Start Upload
        </button>
    </div>
</form>