<div class="p-1 m-t-5">
    <ngb-accordion [closeOthers]="false" #acc="ngbAccordion" [activeIds]="categoriesActiveIds" class="no-bottom-border" [destroyOnHide]="false">
        <ngb-panel *ngFor="let category of categoriesList" [id]="category?.id" [title]="category?.Name">
            <ng-template ngbPanelContent class="m-t-0">
                <div class="px-4">
                    <div class="table-responsive">
                        <table class="table table-hover stylish-table" width="100%">
                            <thead>
                                <tr>
                                    <th class="m-b-0 m-t-0">Document Name</th>
                                    <th class="m-b-0 m-t-0">Sub Category</th>
                                    <th class="m-b-0 m-t-0">Uploaded By</th>
                                    <th class="m-b-0 m-t-0">Date Uploaded</th>
                                    <th class="m-b-0 m-t-0">Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let doc of docFilter(category?.id);">
                                <tr class="job-row">
                                    <td>
                                        <i class="{{ doc.fileMeta | fileicon }}"></i> {{doc?.fileMeta?.name}} &nbsp;
                                        <i *ngIf="doc.description !== ''" class="fa fa-info-circle icon-color" placement="right" [ngbPopover]="doc.description" triggers="hover"></i>
                                    </td>
                                    <td>{{doc?.subCategory?.title}}</td>
                                    <td>{{doc?.uploadedBy}}</td>
                                    <td>{{doc?.createdAt | date:'short'}}&nbsp;</td>
                                    <td>
                                        <a style="text-decoration:none;" title="View/Download" class="icon-size" href="{{containerPath}}{{doc?.fileMeta?.path}}"
                                            target="_blank">
                                            <i class="{{ doc.fileMeta | fileicon : true }}">&nbsp;</i>
                                        </a>
                                        <a style="text-decoration:none;" href="javascript:void(0)" title="Delete" class="icon-size" (click)="deleteDocument(doc);">
                                            <i class="fa fa-trash" style="color:#f14d6b;" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <div *ngIf="errorMessage && categoriesList.length==0" class="card-body">
        <div class="alert alert-warning">
            {{errorMessage}}
        </div>
    </div>
</div>